<table cols="1" role="presentation">
    <tr>
        <td>
            <label class="header padding-small" id="form-settings-name"><%= scope.textField %></label>
        </td>
    </tr>
    <tr class="form-placeholder">
        <td class="padding-small">
            <label class="input-label"><%= scope.textPlaceholder %></label>
            <div id="form-txt-pholder"></div>
        </td>
    </tr>
</table>