
.device-ios {
    // For filter options
    .radio-checkbox-item {
        label.item-content input[type=checkbox]:checked ~ .item-inner {
            background: no-repeat center;
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2013%2010'%3E%3Cpolygon%20fill%3D'%2340865c'%20points%3D'11.6%2C0%204.4%2C7.2%201.4%2C4.2%200%2C5.6%204.4%2C10%204.4%2C10%204.4%2C10%2013%2C1.4%20'%2F%3E%3C%2Fsvg%3E");
            background-position: calc(100% - 15px) center;
            background-size: 13px 10px;
        }
        .icon.icon-checkbox {
            display: none;
        }
    }
}
