// @common-image-path - defined in webpack config

.device-android {
    i.icon {
        &.icon_mask {
            background-color: @text-normal;
        }
        &.icon-logo {
            width: 100px;
            height: 20px;
            background: ~"url(@{common-image-path}/header/logo-android.svg) no-repeat center";
            background-size: contain;
        }
        &.icon-show-password {
            width: 24px;
            height: 24px;
            .encoded-svg-mask('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9.89362 9.89062C10.4865 9.29688 11.1887 9 12 9C12.8113 9 13.5135 9.29688 14.1064 9.89062C14.6993 10.4844 14.9957 11.1875 14.9957 12C14.9957 12.8125 14.6993 13.5156 14.1064 14.1094C13.5135 14.7031 12.8113 15 12 15C11.1887 15 10.4865 14.7031 9.89362 14.1094C9.30071 13.5156 9.00426 12.8125 9.00426 12C9.00426 11.1875 9.30071 10.4844 9.89362 9.89062ZM8.44255 15.5625C9.44114 16.5312 10.627 17.0156 12 17.0156C13.373 17.0156 14.5433 16.5312 15.5106 15.5625C16.5092 14.5625 17.0085 13.375 17.0085 12C17.0085 10.625 16.5092 9.45312 15.5106 8.48438C14.5433 7.48438 13.373 6.98438 12 6.98438C10.627 6.98438 9.44114 7.48438 8.44255 8.48438C7.47518 9.45312 6.99149 10.625 6.99149 12C6.99149 13.375 7.47518 14.5625 8.44255 15.5625ZM5.30638 6.5625C7.30355 5.1875 9.53475 4.5 12 4.5C14.4652 4.5 16.6965 5.1875 18.6936 6.5625C20.6908 7.9375 22.1262 9.75 23 12C22.1262 14.25 20.6908 16.0625 18.6936 17.4375C16.6965 18.8125 14.4652 19.5 12 19.5C9.53475 19.5 7.30355 18.8125 5.30638 17.4375C3.30922 16.0625 1.87376 14.25 1 12C1.87376 9.75 3.30922 7.9375 5.30638 6.5625Z"/></svg>', @text-secondary);
        }
        &.icon-hide-password {
            width: 24px;
            height: 24px;
            .encoded-svg-mask('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M11.8827 9.00494H12.0235C12.8365 9.00494 13.5402 9.30206 14.1343 9.8963C14.7285 10.4905 15.0256 11.1942 15.0256 12.0074V12.1951L11.8827 9.00494ZM7.56716 9.80247C7.1919 10.5531 7.00426 11.2881 7.00426 12.0074C7.00426 13.3835 7.48898 14.572 8.45842 15.5728C9.45913 16.5424 10.6475 17.0272 12.0235 17.0272C12.7427 17.0272 13.4776 16.8395 14.2281 16.4642L12.6802 14.916C12.43 14.9786 12.2111 15.0099 12.0235 15.0099C11.2104 15.0099 10.5068 14.7128 9.91258 14.1185C9.31841 13.5243 9.02132 12.8206 9.02132 12.0074C9.02132 11.8198 9.05259 11.6008 9.11514 11.3506L7.56716 9.80247ZM2.03198 4.26667L3.29851 3L21.0299 20.7333L19.7633 22C19.607 21.8436 19.1066 21.3588 18.2623 20.5457C17.4492 19.7325 16.8237 19.107 16.3859 18.6691C15.0412 19.2321 13.5871 19.5136 12.0235 19.5136C9.55295 19.5136 7.31699 18.8255 5.31557 17.4494C3.31414 16.0733 1.87562 14.2593 1 12.0074C1.78181 10.0683 3.03269 8.4107 4.75267 7.03457C4.3774 6.65926 3.84577 6.12757 3.15778 5.43951C2.50107 4.75144 2.1258 4.36049 2.03198 4.26667ZM12.0235 6.98765C11.398 6.98765 10.7882 7.11276 10.194 7.36296L8.03625 5.20494C9.25586 4.7358 10.5849 4.50123 12.0235 4.50123C14.494 4.50123 16.7143 5.1893 18.6844 6.56543C20.6859 7.94156 22.1244 9.75556 23 12.0074C22.2495 13.8527 21.108 15.4321 19.5757 16.7457L16.6674 13.837C16.9176 13.2428 17.0426 12.6329 17.0426 12.0074C17.0426 10.6313 16.5423 9.45844 15.5416 8.48889C14.5721 7.48807 13.3994 6.98765 12.0235 6.98765Z"/></svg>', @text-secondary);
        }
    }
    .dropdown-list {
        i.icon {
            &.icon-radio {
                width: 24px;
                height: 24px;
                .encoded-svg-mask('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 16L4 11L3 12L9 18L20 7L19 6L9 16Z" /></svg>', @brandColor);
            }
        }
    }
    .navbar {
        .icon-svg {
            fill: @toolbar-icons;
        }

        i.icon {
            &.icon-back {
                color: @toolbar-icons;
            }
            &.icon-settings {
                width: 22px;
                height: 22px;
                .encoded-svg-mask('<svg viewBox="0 0 24 24" fill="@{toolbar-icons}" xmlns="http://www.w3.org/2000/svg"><path d="M12 3.25C11.0335 3.25 10.25 4.0335 10.25 5C10.25 5.9665 11.0335 6.75 12 6.75C12.9665 6.75 13.75 5.9665 13.75 5C13.75 4.0335 12.9665 3.25 12 3.25Z" fill="white"/><path d="M12 10.25C11.0335 10.25 10.25 11.0335 10.25 12C10.25 12.9665 11.0335 13.75 12 13.75C12.9665 13.75 13.75 12.9665 13.75 12C13.75 11.0335 12.9665 10.25 12 10.25Z" fill="white"/><path d="M12 17.25C11.0335 17.25 10.25 18.0335 10.25 19C10.25 19.9665 11.0335 20.75 12 20.75C12.9665 20.75 13.75 19.9665 13.75 19C13.75 18.0335 12.9665 17.25 12 17.25Z" fill="white"/></svg>', @toolbar-icons);
            }
        }
    }
}
