.advanced-settings-dlg {
    .body {
        height: auto;
        top: 34px;

        & > div {
            width: 100%;
        }

        .box > div {
            display: inline-block;
            height: 100%;
        }

        .menu-panel {
            width: 160px;
            padding-top: 2px;

            .btn-category {
                .text-align-left();
                padding: 9px 2px 9px 12px;
                line-height: normal;
                height: auto;
                white-space: normal;

                .rtl & {
                    padding: 9px 12px 9px 2px;
                }

                .pixel-ratio__2_5 & {
                    display: block;
                }

                &.png-icons {
                    padding: 5px 2px 5px 8px;

                    .rtl & {
                        padding: 5px 8px 5px 2px;
                    }

                    .icon {
                        vertical-align: middle;
                        .margin-right-4();
                    }

                    .caption {
                        vertical-align: middle;
                    }
                }
            }
        }

        .content-panel {
            vertical-align: top;
            padding: 5px 15px 0 10px;
            .rtl & {
                padding: 5px 10px 0 15px;
            }
            .inner-content {
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        padding-bottom: 15px;
    }
    &.no-footer {
        .body {
            padding-bottom: 0;
        }
    }

    .footer {
        padding: 15px 15px 0;

        &.center {
            text-align: center;
        }

        &.right {
            .text-align-right();
        }

        &.justify {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

.combo-arrow-style {
    .form-control {
        cursor: pointer;

        .img-arrows {
            width: 100%;
            height: 18px;
            display: block;
            background-color: transparent;
            margin: auto;
            text-align: center;
            overflow: hidden;
            .padding-right-4();
            .svg-mirror{
                margin-right: 1px;
            }
        }
    }
}

.img-arrows  svg{
        width: 44px;
        height: 20px;
        fill: @icon-normal-ie;
        fill: @icon-normal;

    &.svg-mirror{
        transform: scale(-1,1);
    }
}

.item-arrow {
    width:44px;
    height:20px;
}

#window-list-settings {
    #id-dlg-list-bullet {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        .rtl & {
            .border-radius(@border-radius-small);
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    #id-dlg-list-numbering {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left-width: 0;
        .margin-left(-1px);

        .rtl & {
            border: @scaled-one-px-value solid @border-regular-control;
            .border-radius(@border-radius-small);
            margin-left: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right-width: 0;
        }
    }
}

.input-row-tabs {
    border-bottom: @scaled-one-px-value-ie solid @border-divider-ie;
    border-bottom: @scaled-one-px-value solid @border-divider;
    height: @input-height-base;
}

.dataview {
    &.focus-inner {
        > .item {
            &:hover,
            &.selected {
                .box-shadow(0 0 0 1px @border-preview-select-ie);
                .box-shadow(0 0 0 @scaled-one-px-value @border-preview-select);
            }
        }
        &:focus:not(.disabled) {
            > .item {
                &:hover,
                &.selected {
                    .box-shadow(0 0 0 2px @border-preview-select-ie);
                    .box-shadow(0 0 0 @scaled-two-px-value @border-preview-select);
                }
            }
        }
    }
}
