.checkbox-indeterminate {
    padding-left: 22px;
    margin-bottom: 0;
    .font-size-normal();
    font-weight: normal;
    position: relative;

    input[type=button] {
        background-position: @checkbox-offset-x @checkbox-offset-y;
        margin-left: -22px;
        margin-right: 6px;
        width: 14px;
        height: 14px;
        cursor: default;
        vertical-align: top;
        margin-top: -1px;
        background: #fff;
        border: 1px solid @gray;

        &.checked {
            + span {
                &::before {
                    content: '';
                    position: absolute;
                    border: solid @gray-deep;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                    width: 6px;
                    height: 10px;
                    left: 4px;
                    top: -1px;
                }
            }
        }

        &.indeterminate {
            + span {
                &::before {
                    content: '';
                    position: absolute;
                    border: 1px solid @gray-deep;
                    background: @gray-soft;
                    width: 10px;
                    height: 10px;
                    left: 3px;
                    top: 2px;
                }
            }
        }

        &.disabled {
            opacity: .4;

            + span {
                &::before {
                    opacity: .4;
                }
            }
        }
    }
}
