
// Brand colors
// -------------------------

@brand-primary:         #428bca;
@brand-success:         #5cb85c;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;
@brand-info:            #5bc0de;

// Background
// -------------------------
@background-normal: #fff;
@background-toolbar: #f1f1f1;
@background-toolbar-additional: #f1f1f1;
@background-primary-dialog-button: #7d858c;
@background-tab-underline: #444;
@background-scrim: fade(black, 20%);
@background-loader: fade(black, 65%);
@background-notification-popover: #fcfed7;
@background-notification-badge: #ffd112;

// Highlight
// -------------------------
@highlight-button-hover: #d8dadc;
@highlight-button-pressed: #7d858c;
@highlight-button-pressed-hover: #7d858c;
@highlight-primary-dialog-button-hover: #666d73;
@highlight-header-button-hover: fade(white, 20%);
@highlight-toolbar-tab-underline: #444;
@highlight-text-select: #3494fb;

// Border
// -------------------------
@border-toolbar: #cbcbcb;
@border-divider: #cbcbcb;
@border-regular-control: #cfcfcf;
@border-toolbar-button-hover: #d8dadc;
@border-preview-select: #848484;
@border-control-focus: #848484;
@border-color-shading: fade(black, 20%);
@border-error: #d9534f;

// Text
// -------------------------
@text-normal: #444;
@text-secondary: #a5a5a5;
@text-tertiary: #a5a5a5;
@text-inverse: #fff;
@text-toolbar-header: #fff;
@text-contrast-background: #fff;
@text-link: #445799;

// Icon
// -------------------------
@icon-normal: #444;
@icon-inverse: #fff;
@icon-toolbar-header: #fff;
@icon-contrast-popover: #fff;
@icon-notification-badge: #000;

// Toolbar header
// -------------------------
@toolbar-header-document: #446995;
@toolbar-header-spreadsheet: #40865c;
@toolbar-header-presentation: #aa5252;

// Canvas
// -------------------------
@canvas-background: #e2e2e2;
@canvas-content-background: #fff;
@canvas-ruler-background: #fff;
@canvas-ruler-margins-background: #cfcfcf;
@canvas-ruler-marks-border: #585b5e;
@canvas-high-contrast: #000;
@canvas-cell-border: fade(black, 10%);
@canvas-cell-title-border: fade(black, 10%);
@canvas-cell-title-hover: #dfdfdf;
@canvas-cell-title-selected: #cfcfcf;
@canvas-dark-cell-title: #444;
@canvas-dark-cell-title-hover: #666 ;
@canvas-dark-cell-title-selected: #111;
@canvas-scroll-controls: #f1f1f1;
@canvas-scroll-controls-hover: #cfcfcf;