.combo-border-size {
    .form-control:not(input) {
        cursor: pointer;
    }

    &.input-group-nr {
        .form-control:not(input) {
            padding-top: 0;
            padding-bottom: 0;
            display: block;
        }
    }

    li {
        a {
            white-space: normal;
            padding: 2px 0 2px 10px;
            .rtl & {
                padding: 2px 10px 2px 0;
            }
        }

        span {
            width: auto;
            height: 17px;
            display: inline-block;
            background-color: transparent;
            svg {
                height: 3px;
                width: 60px;
                fill: @text-normal-ie;
                fill: @text-normal;
            }
        }
    }

    .img-border-size {
        position: relative;
        display: block;
        top:50%;
    }
    
    .border-line{
        float: right;
        .rtl & {
            float: left;
        }
    }

    .img-line {
        width: auto;
        height: 100%;
        display: inline-block;
        background-color: transparent;
        margin: 0 0 0 7px;
        .rtl & {
            margin: 0 7px 0 0 ;
        }
        svg {
            width: 60px;
            fill: @text-normal-ie;
            fill: @text-normal;
        }
    }

    &:not(.combo-border-type) .dropdown-menu li a {
        padding: 6px 20px;
        span{
            height: 18px;
        }
    }

}

.combo-color {
    .form-control:not(input) {
        cursor: pointer;
    }

    li {
        img {
            -webkit-filter: none;
            filter: none;
        }

        &.selected {
            img {
                -webkit-filter: none;
                filter: none;
            }
        }
    }
}