.hint-div {
  position: absolute;
  z-index: @zindex-navbar + 3;
  width: 20px;
  text-align: center;
  background-color: @background-alt-key-hint-ie;
  background-color: @background-alt-key-hint;
  color: @text-normal;
  font-size: 12px;
  line-height: 18px;
  padding: 0 4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}