#history-box {
    position: relative;
    border-right: @scaled-one-px-value-ie solid @border-toolbar-ie;
    border-right: @scaled-one-px-value solid @border-toolbar;
}

#history-header {
    position: absolute;
    height: 45px;
    left: 0;
    top: 0;
    right: 0;
    padding: 12px;
    overflow: hidden;
    border-bottom: @scaled-one-px-value-ie solid @border-toolbar-ie;
    border-bottom: @scaled-one-px-value solid @border-toolbar;

    label {
        .font-size-medium();
        .font-weight-bold();
        margin-top: 2px;
    }
}

#history-expand-changes {
    position: absolute;
    height: 45px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    border-top: @scaled-one-px-value-ie solid @border-toolbar-ie;
    border-top: @scaled-one-px-value solid @border-toolbar;

    #history-btn-expand {
        height: 27px;
        margin-top: 8px;
        padding-top: 4px;
        .padding-left-20();
        .font-size-large();
        cursor: pointer;

        &:hover {
            background-color: @highlight-button-hover-ie;
            background-color: @highlight-button-hover;
        }
    }
}

#history-list {
    height: 100%;
    overflow: hidden;
    padding-top: 45px;

    .tree-item {
        display: flex;
        padding: 12px 15px 12px 0px;

        .rtl & {
            padding: 12px 0px 12px 15px;
        }

        .caret-wrap {
            width: 24px;

            .tree-caret {
                margin-top: 4px;
            }
        }

        .content-wrap {
            flex: 1;
            overflow: hidden;

            .item-internal {
                display: flex;
                align-items: center;

                .color {
                    display: inline-block;
                    width: 26px;
                    height: 26px;
                    margin-top: 2px;
                    border-radius: 20px;
                    border-width: @scaled-two-px-value;
                    .margin-right-8();
                    vertical-align: middle;
                    background-color: #ffffff;
                    background-size: cover;
                    background-position: center;
        
                    color: #ffffff;
                    line-height: 26px;
                    text-align: center;
                }

                .item-content {
                    flex: 1;
                    line-height: 12.65px;
                    overflow: hidden;

                    .item-title {
                        display: flex;
                        align-items: center;

                        .user-date {
                            line-height: 18px;
                            display: inline-block;
                            .font-size-medium();
                            .font-weight-bold();
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                
                        .user-version {
                            display: inline-block;
                            max-width: 60px;
                            line-height: 12px;
                            color: @highlight-button-pressed-ie;
                            color: @highlight-button-pressed;
                            font-size: 10px;
                            white-space: nowrap;
                            overflow: hidden;
                            color: @text-tertiary-ie;
                            color: @text-tertiary;
                            background-color: @background-normal-ie;
                            background-color: @background-normal;
                            text-align: center;
                            padding: 3px 5px;
                            border-radius: 2px;
                            .margin-left-8();
                        }
                    }

                    .user-name {
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        .font-size-medium();
                        text-overflow: ellipsis;
                    }
                }         
            }
    
            .revision-restore {
                color: @text-normal-pressed-ie;
                color: @text-normal-pressed;
                border-bottom: @scaled-one-px-value-ie dotted @text-normal-pressed-ie;
                border-bottom: @scaled-one-px-value dotted @text-normal-pressed;
                height: 16px;
                margin-top: 5px;
                white-space: pre-wrap;
                width: auto;
                cursor: pointer;
            }
        }
    }
}
