.masked-field {
    text-align: right;
    border: 1px solid var(--border-regular-control);
    border-radius: 2px;
    padding: 0 3px;

    &:focus {
        border-color: var(--border-preview-select);
    }
}