#plugins-box {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 10px;

    #plugins-list {
        height: 100%;
        overflow: hidden;
        padding-top: 10px;

        .item-plugins {
            width: 40px;
            height: 40px;
        }
    }
}

