.switcher {
    position: relative;
    width: 30px;
    height: 16px;
    background-color: @background-normal-ie;
    background-color: @background-normal;
    border-radius: 11px;
    cursor: pointer;
    border: 1px solid @chb-border-normal-ie;
    border: 1px solid @chb-border-normal;
    box-sizing: initial;

    .thumb {
        position: absolute;
        left: 0;
        right: auto;
        top: 0;
        height: 12px;
        border-radius: 12px;
        background-color: @chb-border-normal-ie;
        background-color: @chb-border-normal;
        margin: 2px;
    }

    &.on {
        background-color: 1px solid @background-primary-dialog-button-ie;
        background-color: 1px solid @background-primary-dialog-button;
        border: @background-primary-dialog-button-ie;
        border: @background-primary-dialog-button;
        .thumb {
            right: 0;
            left: auto;
            background-color: @background-normal-ie;
            background-color: @background-normal;
        }
    }

    &.disabled {
        cursor: default;
        opacity: @component-disabled-opacity-ie;
        opacity: @component-disabled-opacity;
    }
}