.theme-colorpalette {
    margin: 0 !important;
    //color: black;

    em {
        border: none;
        display: block;

        span{
            height: 12px;
            width: 12px;
            cursor: pointer;
            display: block;
        }
    }

    a {
        padding: 0;
        border: 1px solid @background-normal;
        float: left;
        text-decoration: none;
        -moz-outline: 0 none;
        outline: 0 none;
        cursor: pointer;

        em span {
            border: 1px solid @border-color-shading;
        }

        &:hover, &.selected {
            border-color: @icon-normal;
            em span {
                border-color: @background-normal;
            }
        }
    }

    .dynamic-empty-color em span {
        border:solid 1px @border-color-shading;
        background: @background-normal;
    }

    .color-transparent {
        em span {
            border:solid 1px @border-color-shading;
        }
    }
}

