.custom-scale {
  padding: 5px 5px 5px 20px;
  font-weight: normal;
  line-height: @line-height-base-ie;
  line-height: @line-height-base;
  .font-size-normal();
  height: 32px;
  .rtl & {
    padding: 5px 20px 5px 5px;
  }

  .title {
    padding-top: 3px;
    .padding-right-5();
  }

  .shifted-left & {
    .padding-x(12px, 5px);
  }

  .updown-picker-value {
    padding: 3px 3px;
    text-align: center;
  }
}