@import "../../../../../common/main/resources/help/images/symbols.css";

.big{
	background-image: url(../images/big.png);
	background-repeat: no-repeat;
	display: inline-block;
}

.big-custom_path {
	background-position: 0px 0px;
	width: 367px;
	height: 270px;
}

.big-edit_points {
	background-position: -367px 0px;
	width: 232px;
	height: 177px;
}

.big-connectors_moveshape {
	background-position: 0px -270px;
	width: 272px;
	height: 176px;
}

.big-editpoints_example {
	background-position: -272px -270px;
	width: 199px;
	height: 162px;
}

.big-hidden_slide {
	background-position: 0px -446px;
	width: 247px;
	height: 146px;
}

.big-maintain_proportions {
	background-position: -471px -270px;
	width: 126px;
	height: 143px;
}

.big-reshaping {
	background-position: -247px -446px;
	width: 118px;
	height: 139px;
}

.big-formatastext {
	background-position: -599px 0px;
	width: 258px;
	height: 125px;
}

.big-resizetable {
	background-position: -599px -125px;
	width: 254px;
	height: 113px;
}

.big-deleteequation {
	background-position: -599px -238px;
	width: 200px;
	height: 111px;
}

.big-nestedfraction {
	background-position: -599px -349px;
	width: 214px;
	height: 102px;
}

.big-newslot {
	background-position: -599px -451px;
	width: 123px;
	height: 94px;
}

.big-themes {
	background-position: 0px -592px;
	width: 553px;
	height: 91px;
}

.big-connectors_firstshape {
	background-position: -553px -592px;
	width: 272px;
	height: 85px;
}

.big-connectors_secondshape {
	background-position: 0px -683px;
	width: 272px;
	height: 85px;
}

.big-selectedequation {
	background-position: -367px -177px;
	width: 175px;
	height: 83px;
}

.big-templateslist {
	background-position: -365px -446px;
	width: 193px;
	height: 64px;
}

.big-moveelement {
	background-position: -365px -510px;
	width: 188px;
	height: 60px;
}

.big-resizeelement {
	background-position: -272px -683px;
	width: 188px;
	height: 60px;
}

.big-shapegallery {
	background-position: -460px -683px;
	width: 144px;
	height: 50px;
}

.big-bordertype {
	background-position: -604px -683px;
	width: 144px;
	height: 48px;
}

.big-insertedequation {
	background-position: -722px -451px;
	width: 63px;
	height: 47px;
}

.big-indents_ruler {
	background-position: 0px -768px;
	width: 469px;
	height: 30px;
}

.big-tabstops_ruler {
	background-position: 0px -798px;
	width: 465px;
	height: 30px;
}

.big-leftpart {
	background-position: -599px -545px;
	width: 222px;
	height: 23px;
}

.big-bordersize {
	background-position: -722px -498px;
	width: 93px;
	height: 22px;
}

.big-fontfamily {
	background-position: -722px -520px;
	width: 87px;
	height: 22px;
}

.big-rightpart {
	background-position: -599px -568px;
	width: 176px;
	height: 19px;
}

.icon{
	background-image: url(../images/icons.png);
	background-repeat: no-repeat;
	display: inline-block;
}

.icon-pixabay_store_icon {
	background-position: 0px 0px;
	width: 120px;
	height: 37px;
}

.icon-highlight {
	background-position: 0px -37px;
	width: 28px;
	height: 28px;
}

.icon-photoeditor {
	background-position: -28px -37px;
	width: 28px;
	height: 28px;
}

.icon-youtube {
	background-position: -56px -37px;
	width: 28px;
	height: 28px;
}

.icon-translator {
	background-position: -84px -37px;
	width: 26px;
	height: 26px;
}

.icon-help {
	background-position: 0px -65px;
	width: 24px;
	height: 24px;
}

.icon-rainbow_icon {
	background-position: -24px -65px;
	width: 24px;
	height: 24px;
}

.icon-telegram_icon {
	background-position: -48px -65px;
	width: 24px;
	height: 24px;
}

.icon-spellchecking_toptoolbar_activated {
	background-position: -72px -65px;
	width: 21px;
	height: 24px;
}

.icon-annotations {
	background-position: -93px -65px;
	width: 17px;
	height: 24px;
}

.icon-arrow {
	background-position: 0px -89px;
	width: 23px;
	height: 23px;
}

.icon-placeholder_imagefromurl {
	background-position: -23px -89px;
	width: 23px;
	height: 23px;
}

.icon-change_case {
	background-position: -46px -89px;
	width: 45px;
	height: 22px;
}

.icon-fontsize {
	background-position: -120px 0px;
	width: 45px;
	height: 22px;
}

.icon-rowsandcolumns {
	background-position: -120px -22px;
	width: 45px;
	height: 22px;
}

.icon-SearchOptions {
	background-position: -120px -44px;
	width: 42px;
	height: 22px;
}

.icon-pastespecialbutton {
	background-position: -120px -66px;
	width: 33px;
	height: 22px;
}

.icon-thesaurus_icon {
	background-position: -120px -88px;
	width: 28px;
	height: 22px;
}

.icon-insertautoshape {
	background-position: -91px -89px;
	width: 22px;
	height: 22px;
}

.icon-inserttexticon {
	background-position: 0px -112px;
	width: 22px;
	height: 22px;
}

.icon-text_autoshape {
	background-position: -22px -112px;
	width: 22px;
	height: 22px;
}

.icon-spellchecking_toptoolbar {
	background-position: -44px -112px;
	width: 20px;
	height: 22px;
}

.icon-coeditingmode {
	background-position: -64px -112px;
	width: 18px;
	height: 22px;
}

.icon-header_footer_icon {
	background-position: -82px -112px;
	width: 18px;
	height: 22px;
}

.icon-slide_number_icon {
	background-position: -148px -88px;
	width: 16px;
	height: 22px;
}

.icon-versionhistoryicon {
	background-position: -100px -112px;
	width: 24px;
	height: 21px;
}

.icon-addhyperlink {
	background-position: -124px -112px;
	width: 22px;
	height: 21px;
}

.icon-inserttextarticon {
	background-position: -146px -112px;
	width: 19px;
	height: 21px;
}

.icon-changerowheight {
	background-position: 0px -134px;
	width: 17px;
	height: 21px;
}

.icon-slides {
	background-position: -17px -134px;
	width: 17px;
	height: 21px;
}

.icon-usersnumber {
	background-position: -34px -134px;
	width: 28px;
	height: 20px;
}

.icon-date_time_icon {
	background-position: -62px -134px;
	width: 22px;
	height: 20px;
}

.icon-pointer_screen {
	background-position: -84px -134px;
	width: 22px;
	height: 20px;
}

.icon-addslide {
	background-position: -106px -134px;
	width: 20px;
	height: 20px;
}

.icon-chatgpt_icon {
	background-position: -126px -134px;
	width: 20px;
	height: 20px;
}

.icon-constantproportionsactivated {
	background-position: -165px 0px;
	width: 20px;
	height: 20px;
}

.icon-copystyle_selected {
	background-position: -165px -20px;
	width: 20px;
	height: 20px;
}

.icon-image {
	background-position: -165px -40px;
	width: 20px;
	height: 20px;
}

.icon-insert_symbol_icon {
	background-position: -165px -60px;
	width: 20px;
	height: 20px;
}

.icon-pixabay_icon {
	background-position: -165px -80px;
	width: 20px;
	height: 20px;
}

.icon-placeholder_imagefromfile {
	background-position: -165px -100px;
	width: 20px;
	height: 20px;
}

.icon-pointer_enabled {
	background-position: -165px -120px;
	width: 20px;
	height: 20px;
}

.icon-show_password {
	background-position: 0px -155px;
	width: 20px;
	height: 20px;
}

.icon-sortcommentsicon {
	background-position: -20px -155px;
	width: 20px;
	height: 20px;
}

.icon-spellcheckactivated {
	background-position: -40px -155px;
	width: 20px;
	height: 20px;
}

.icon-vector {
	background-position: -60px -155px;
	width: 20px;
	height: 20px;
}

.icon-zoom_icon {
	background-position: -80px -155px;
	width: 20px;
	height: 20px;
}

.icon-inserttable {
	background-position: -100px -155px;
	width: 28px;
	height: 19px;
}

.icon-chat_toptoolbar {
	background-position: -128px -155px;
	width: 24px;
	height: 19px;
}

.icon-chart {
	background-position: -152px -155px;
	width: 22px;
	height: 19px;
}

.icon-comment_toptoolbar {
	background-position: -185px 0px;
	width: 22px;
	height: 19px;
}

.icon-placeholder_chart {
	background-position: -185px -19px;
	width: 22px;
	height: 19px;
}

.icon-hiderulers {
	background-position: -185px -38px;
	width: 19px;
	height: 19px;
}

.icon-noborders {
	background-position: -185px -57px;
	width: 19px;
	height: 19px;
}

.icon-removecomment_toptoolbar {
	background-position: -185px -76px;
	width: 15px;
	height: 19px;
}

.icon-equationplaceholder {
	background-position: -185px -95px;
	width: 18px;
	height: 18px;
}

.icon-search_advanced {
	background-position: -185px -113px;
	width: 18px;
	height: 18px;
}

.icon-searchbuttons {
	background-position: 0px -175px;
	width: 33px;
	height: 17px;
}

.icon-insert_columns {
	background-position: -33px -175px;
	width: 25px;
	height: 17px;
}

.icon-insertequationicon {
	background-position: -185px -131px;
	width: 22px;
	height: 17px;
}

.icon-changecolumnwidth {
	background-position: -185px -148px;
	width: 21px;
	height: 17px;
}

.icon-sharingicon {
	background-position: -58px -175px;
	width: 21px;
	height: 17px;
}

.icon-paste_style {
	background-position: -146px -134px;
	width: 16px;
	height: 17px;
}

.icon-addgradientpoint {
	background-position: -153px -66px;
	width: 12px;
	height: 17px;
}

.icon-removegradientpoint {
	background-position: -79px -175px;
	width: 12px;
	height: 17px;
}

.icon-placeholder_table {
	background-position: -91px -175px;
	width: 22px;
	height: 16px;
}

.icon-editcommenticon {
	background-position: -113px -175px;
	width: 16px;
	height: 16px;
}

.icon-favorites_icon {
	background-position: -129px -175px;
	width: 16px;
	height: 16px;
}

.icon-access_rights {
	background-position: -165px -140px;
	width: 20px;
	height: 15px;
}

.icon-chaticon {
	background-position: -145px -175px;
	width: 18px;
	height: 15px;
}

.icon-chaticon_new {
	background-position: -163px -175px;
	width: 17px;
	height: 15px;
}

.icon-saveupdate {
	background-position: -180px -175px;
	width: 17px;
	height: 15px;
}

.icon-added_comment_icon {
	background-position: 0px -192px;
	width: 16px;
	height: 15px;
}

.icon-bgcolor {
	background-position: -16px -192px;
	width: 16px;
	height: 15px;
}

.icon-about {
	background-position: -32px -192px;
	width: 15px;
	height: 15px;
}

.icon-abouticon {
	background-position: -47px -192px;
	width: 15px;
	height: 15px;
}

.icon-advanced_settings_icon {
	background-position: -62px -192px;
	width: 15px;
	height: 15px;
}

.icon-document_language {
	background-position: -77px -192px;
	width: 15px;
	height: 15px;
}

.icon-group {
	background-position: -92px -192px;
	width: 15px;
	height: 15px;
}

.icon-pagesize {
	background-position: -107px -192px;
	width: 15px;
	height: 15px;
}

.icon-save {
	background-position: -122px -192px;
	width: 15px;
	height: 15px;
}

.icon-savewhilecoediting {
	background-position: -137px -192px;
	width: 15px;
	height: 15px;
}

.icon-search_options {
	background-position: -152px -192px;
	width: 15px;
	height: 15px;
}

.icon-tabstopcenter {
	background-position: -167px -192px;
	width: 15px;
	height: 15px;
}

.icon-tabstopleft {
	background-position: -182px -192px;
	width: 15px;
	height: 15px;
}

.icon-tabstopright {
	background-position: -207px 0px;
	width: 15px;
	height: 15px;
}

.icon-ungroup {
	background-position: -207px -15px;
	width: 15px;
	height: 15px;
}

.icon-feedback {
	background-position: -207px -30px;
	width: 14px;
	height: 15px;
}

.icon-fitpage {
	background-position: -207px -45px;
	width: 14px;
	height: 15px;
}

.icon-flipupsidedown {
	background-position: -207px -60px;
	width: 14px;
	height: 15px;
}

.icon-file {
	background-position: -207px -75px;
	width: 13px;
	height: 15px;
}

.icon-back {
	background-position: -207px -90px;
	width: 12px;
	height: 15px;
}

.icon-changecolorscheme {
	background-position: 0px -207px;
	width: 25px;
	height: 14px;
}

.icon-fontcolor {
	background-position: -25px -207px;
	width: 25px;
	height: 14px;
}

.icon-table_settings_icon {
	background-position: -50px -207px;
	width: 19px;
	height: 14px;
}

.icon-columnwidthmarker {
	background-position: -207px -105px;
	width: 15px;
	height: 14px;
}

.icon-fliplefttoright {
	background-position: -207px -119px;
	width: 15px;
	height: 14px;
}

.icon-autoshape {
	background-position: -207px -133px;
	width: 14px;
	height: 14px;
}

.icon-commentsicon {
	background-position: -207px -147px;
	width: 14px;
	height: 14px;
}

.icon-deleteicon {
	background-position: -207px -161px;
	width: 14px;
	height: 14px;
}

.icon-searchicon {
	background-position: -207px -175px;
	width: 14px;
	height: 14px;
}

.icon-search_icon_header {
	background-position: -207px -189px;
	width: 14px;
	height: 14px;
}

.icon-gradientslider {
	background-position: -69px -207px;
	width: 13px;
	height: 14px;
}

.icon-highlight_color_mouse_pointer {
	background-position: -82px -207px;
	width: 13px;
	height: 14px;
}

.icon-textart_settings_icon {
	background-position: -95px -207px;
	width: 12px;
	height: 14px;
}

.icon-hard {
	background-position: -110px -37px;
	width: 9px;
	height: 14px;
}

.icon-highlightcolor {
	background-position: -107px -207px;
	width: 27px;
	height: 13px;
}

.icon-outline {
	background-position: -134px -207px;
	width: 25px;
	height: 13px;
}

.icon-alignshape {
	background-position: -159px -207px;
	width: 21px;
	height: 13px;
}

.icon-arrangeshape {
	background-position: -180px -207px;
	width: 21px;
	height: 13px;
}

.icon-changelayout {
	background-position: -201px -207px;
	width: 21px;
	height: 13px;
}

.icon-table {
	background-position: -222px 0px;
	width: 21px;
	height: 13px;
}

.icon-verticalalign {
	background-position: -222px -13px;
	width: 21px;
	height: 13px;
}

.icon-visible_area {
	background-position: -222px -26px;
	width: 20px;
	height: 13px;
}

.icon-orientation {
	background-position: -222px -39px;
	width: 17px;
	height: 13px;
}

.icon-cut {
	background-position: -222px -52px;
	width: 16px;
	height: 13px;
}

.icon-gotodocuments {
	background-position: -222px -65px;
	width: 16px;
	height: 13px;
}

.icon-print {
	background-position: -222px -78px;
	width: 16px;
	height: 13px;
}

.icon-changerange {
	background-position: -222px -91px;
	width: 15px;
	height: 13px;
}

.icon-feedbackicon {
	background-position: -222px -104px;
	width: 15px;
	height: 13px;
}

.icon-fitslide {
	background-position: -222px -117px;
	width: 15px;
	height: 13px;
}

.icon-greencircle {
	background-position: -222px -130px;
	width: 15px;
	height: 13px;
}

.icon-replace {
	background-position: -222px -143px;
	width: 15px;
	height: 13px;
}

.icon-clearstyle {
	background-position: -222px -156px;
	width: 14px;
	height: 13px;
}

.icon-copy {
	background-position: -222px -169px;
	width: 14px;
	height: 13px;
}

.icon-paste {
	background-position: -222px -182px;
	width: 14px;
	height: 13px;
}

.icon-selectall {
	background-position: -222px -195px;
	width: 14px;
	height: 13px;
}

.icon-alignbottom {
	background-position: -222px -208px;
	width: 13px;
	height: 13px;
}

.icon-alignmiddle {
	background-position: 0px -221px;
	width: 13px;
	height: 13px;
}

.icon-alignobjectbottom {
	background-position: -13px -221px;
	width: 13px;
	height: 13px;
}

.icon-alignobjectcenter {
	background-position: -26px -221px;
	width: 13px;
	height: 13px;
}

.icon-alignobjectleft {
	background-position: -39px -221px;
	width: 13px;
	height: 13px;
}

.icon-alignobjectmiddle {
	background-position: -52px -221px;
	width: 13px;
	height: 13px;
}

.icon-alignobjectright {
	background-position: -65px -221px;
	width: 13px;
	height: 13px;
}

.icon-alignobjecttop {
	background-position: -78px -221px;
	width: 13px;
	height: 13px;
}

.icon-aligntop {
	background-position: -91px -221px;
	width: 13px;
	height: 13px;
}

.icon-bringforward {
	background-position: -104px -221px;
	width: 13px;
	height: 13px;
}

.icon-bringtofront {
	background-position: -117px -221px;
	width: 13px;
	height: 13px;
}

.icon-chart_settings_icon {
	background-position: -130px -221px;
	width: 13px;
	height: 13px;
}

.icon-copystyle {
	background-position: -143px -221px;
	width: 13px;
	height: 13px;
}

.icon-distributehorizontally {
	background-position: -156px -221px;
	width: 13px;
	height: 13px;
}

.icon-distributevertically {
	background-position: -169px -221px;
	width: 13px;
	height: 13px;
}

.icon-exitfullscreen {
	background-position: -182px -221px;
	width: 13px;
	height: 13px;
}

.icon-fullscreen {
	background-position: -195px -221px;
	width: 13px;
	height: 13px;
}

.icon-image_settings_icon {
	background-position: -208px -221px;
	width: 13px;
	height: 13px;
}

.icon-nextpage {
	background-position: -221px -221px;
	width: 13px;
	height: 13px;
}

.icon-previouspage {
	background-position: -243px 0px;
	width: 13px;
	height: 13px;
}

.icon-sendbackward {
	background-position: -243px -13px;
	width: 13px;
	height: 13px;
}

.icon-sendtoback {
	background-position: -243px -26px;
	width: 13px;
	height: 13px;
}

.icon-shape_settings_icon {
	background-position: -243px -39px;
	width: 13px;
	height: 13px;
}

.icon-slide_settings_icon {
	background-position: -243px -52px;
	width: 13px;
	height: 13px;
}

.icon-startpreview {
	background-position: -243px -65px;
	width: 13px;
	height: 13px;
}

.icon-text_settings_icon {
	background-position: -243px -78px;
	width: 13px;
	height: 13px;
}

.icon-zoomin {
	background-position: -243px -91px;
	width: 13px;
	height: 13px;
}

.icon-aligncenter {
	background-position: -243px -104px;
	width: 12px;
	height: 13px;
}

.icon-alignleft {
	background-position: -243px -117px;
	width: 12px;
	height: 13px;
}

.icon-alignright {
	background-position: -243px -130px;
	width: 12px;
	height: 13px;
}

.icon-justify {
	background-position: -243px -143px;
	width: 12px;
	height: 13px;
}

.icon-selectslidesizeicon {
	background-position: 0px -234px;
	width: 25px;
	height: 12px;
}

.icon-spellcheckdeactivated {
	background-position: -25px -234px;
	width: 15px;
	height: 12px;
}

.icon-rotateclockwise {
	background-position: -243px -156px;
	width: 13px;
	height: 12px;
}

.icon-rotatecounterclockwise {
	background-position: -243px -168px;
	width: 13px;
	height: 12px;
}

.icon-circle {
	background-position: -243px -180px;
	width: 12px;
	height: 12px;
}

.icon-nofill {
	background-position: -243px -192px;
	width: 12px;
	height: 12px;
}

.icon-sup {
	background-position: -243px -204px;
	width: 12px;
	height: 12px;
}

.icon-deletecommenticon {
	background-position: -243px -216px;
	width: 11px;
	height: 12px;
}

.icon-presenter_startpresentation {
	background-position: -110px -51px;
	width: 9px;
	height: 12px;
}

.icon-startpresentation {
	background-position: -110px -65px;
	width: 9px;
	height: 12px;
}

.icon-numbering {
	background-position: -40px -234px;
	width: 23px;
	height: 11px;
}

.icon-bullets {
	background-position: -63px -234px;
	width: 22px;
	height: 11px;
}

.icon-horizontalalign {
	background-position: -85px -234px;
	width: 21px;
	height: 11px;
}

.icon-insertfunction {
	background-position: -106px -234px;
	width: 21px;
	height: 11px;
}

.icon-linespacing {
	background-position: -127px -234px;
	width: 21px;
	height: 11px;
}

.icon-fitwidth {
	background-position: -148px -234px;
	width: 16px;
	height: 11px;
}

.icon-viewsettingsicon {
	background-position: -164px -234px;
	width: 16px;
	height: 11px;
}

.icon-larger {
	background-position: -180px -234px;
	width: 14px;
	height: 11px;
}

.icon-sub {
	background-position: -194px -234px;
	width: 13px;
	height: 11px;
}

.icon-decreasedec {
	background-position: -207px -234px;
	width: 12px;
	height: 11px;
}

.icon-decreaseindent {
	background-position: -219px -234px;
	width: 12px;
	height: 11px;
}

.icon-increasedec {
	background-position: -231px -234px;
	width: 12px;
	height: 11px;
}

.icon-increaseindent {
	background-position: -243px -234px;
	width: 12px;
	height: 11px;
}

.icon-resolvedicon {
	background-position: -256px 0px;
	width: 12px;
	height: 11px;
}

.icon-resolveicon {
	background-position: -256px -11px;
	width: 12px;
	height: 11px;
}

.icon-closepreview {
	background-position: -256px -22px;
	width: 11px;
	height: 11px;
}

.icon-underline {
	background-position: -256px -33px;
	width: 10px;
	height: 11px;
}

.icon-zoomout {
	background-position: -256px -44px;
	width: 10px;
	height: 11px;
}

.icon-smaller {
	background-position: -185px -165px;
	width: 13px;
	height: 10px;
}

.icon-nextslide {
	background-position: -256px -55px;
	width: 12px;
	height: 10px;
}

.icon-presenter_nextslide {
	background-position: -256px -65px;
	width: 12px;
	height: 10px;
}

.icon-presenter_previousslide {
	background-position: -256px -75px;
	width: 12px;
	height: 10px;
}

.icon-previousslide {
	background-position: -256px -85px;
	width: 12px;
	height: 10px;
}

.icon-strike {
	background-position: -256px -95px;
	width: 12px;
	height: 10px;
}

.icon-yellowdiamond {
	background-position: -256px -105px;
	width: 11px;
	height: 10px;
}

.icon-firstline_indent {
	background-position: -256px -115px;
	width: 10px;
	height: 10px;
}

.icon-pointer {
	background-position: -256px -125px;
	width: 10px;
	height: 10px;
}

.icon-bold {
	background-position: -256px -135px;
	width: 8px;
	height: 10px;
}

.icon-pausepresentation {
	background-position: -256px -145px;
	width: 8px;
	height: 10px;
}

.icon-presenter_pausepresentation {
	background-position: -256px -155px;
	width: 8px;
	height: 10px;
}

.icon-italic {
	background-position: -256px -165px;
	width: 7px;
	height: 10px;
}

.icon-redo {
	background-position: 0px -246px;
	width: 17px;
	height: 9px;
}

.icon-undo {
	background-position: -17px -246px;
	width: 17px;
	height: 9px;
}

.icon-cellrow {
	background-position: -256px -175px;
	width: 9px;
	height: 9px;
}

.icon-resize_square {
	background-position: -256px -184px;
	width: 9px;
	height: 9px;
}

.icon-searchdownbutton {
	background-position: -34px -246px;
	width: 14px;
	height: 8px;
}

.icon-searchupbutton {
	background-position: -48px -246px;
	width: 14px;
	height: 8px;
}

.icon-constantproportions {
	background-position: -62px -246px;
	width: 13px;
	height: 8px;
}

.icon-rowheightmarker {
	background-position: -75px -246px;
	width: 13px;
	height: 8px;
}

.icon-tabstopcenter_marker {
	background-position: -256px -193px;
	width: 12px;
	height: 8px;
}

.icon-hanging {
	background-position: -256px -201px;
	width: 10px;
	height: 8px;
}

.icon-right_indent {
	background-position: -256px -209px;
	width: 10px;
	height: 8px;
}

.icon-soft {
	background-position: -256px -217px;
	width: 10px;
	height: 8px;
}

.icon-tabstopleft_marker {
	background-position: -256px -225px;
	width: 8px;
	height: 8px;
}

.icon-tabstopright_marker {
	background-position: -256px -233px;
	width: 8px;
	height: 8px;
}

.icon-redo1 {
	background-position: -243px -228px;
	width: 13px;
	height: 6px;
}

.icon-undo1 {
	background-position: -88px -246px;
	width: 13px;
	height: 6px;
}

.icon-leftindent {
	background-position: -110px -77px;
	width: 10px;
	height: 6px;
}

.icon-tab {
	background-position: -256px -241px;
	width: 10px;
	height: 5px;
}

.icon-connectionpoint {
	background-position: -263px -165px;
	width: 5px;
	height: 5px;
}

.icon-square {
	background-position: -263px -170px;
	width: 5px;
	height: 5px;
}

.icon-space {
	background-position: -266px -33px;
	width: 2px;
	height: 3px;
}

