
:root {
    --brand-word: #446995;
    --brand-cell: #40865C;
    --brand-slide: #AA5252;

    --background-primary: #FFF;
    --background-secondary: #FFF;
    --background-tab-active: #AEAEB2;
    --background-menu-divider: fade(#3C3C43, 36%);
    --background-tab-normal: fade(#FFF, 50%);

    --text-tertiary: #C7C7CC;
    --text-normal: #000;
    --text-secondary: fade(#3C3C43, 60%);
    --text-link: #007AFF;
    --text-error: #FF3B30;

    --component-disabled-opacity: .4;
}

@brand-word: var(--brand-word);
@brand-cell: var(--brand-cell);
@brand-slide: var(--brand-slide);

@background-primary: var(--background-primary);
@background-secondary: var(--background-secondary);
@background-tab-active: var(--background-tab-active);
@background-tab-normal: var(--background-tab-normal);
@background-menu-divider: var(--background-menu-divider);

@text-tertiary: var(--text-tertiary);
@text-normal: var(--text-normal);
@text-secondary: var(--text-secondary);
@text-link: var(--text-link);
@text-error: var(--text-error);

@component-disabled-opacity: var(--component-disabled-opacity);
