
@white: #ffffff;
@black: #000000;
@gray: #c4c4c4;
@green: #4cd964;


.popup, .popover, .sheet-modal {
    .list:first-child {
        margin-top: 0;
    }
}

.row {
    padding: 0 10px;

    li {
        list-style: none;
    }
}

.shapes {
    li {
        width: 70px;
        height: 70px;
        margin: 0 1px;

        .thumb {
            width: 100%;
            height: 100%;
            background-color: @themeColor;
        }
    }
}

.segmented {
    .decrement, .increment {
        text-overflow: clip;
    }
}

.content-block {
    margin: 32px 0;
    padding: 0 16px;
    box-sizing: border-box;
}

.font-color-auto {
    .color-auto {
        width:22px;
        height: 22px;
        background-color: #000;
    }
    &.active {
        .color-auto {
            box-shadow: 0 0 0 1px #fff, 0 0 0 4px @themeColor;
            border-radius: 1px;
        }
    }
}

.color-palettes {
    .palette {
        padding: 8px 0px;
        a {
            flex-grow: 1;
            position: relative;
            min-width: 10px;
            min-height: 26px;
            margin: 1px 1px 0 0;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset;
            &.active:after {
                content: ' ';
                position: absolute;
                width: 100%;
                height: 100%;
                box-shadow: 0 0 0 1px #fff, 0 0 0 4px @themeColor;
                z-index: 1;
                border-radius: 1px;
            }
        }
    }
    .row {
        padding: 0;
    }
    .list .item-inner {
        display: block;
    }
    .standart-colors, .dynamic-colors {
        .palette {
            display: flex;
        }
    }
}
