
@white: #ffffff;
@black: #000000;
@gray: #c4c4c4;
@green: #4cd964;
@red: #f00;
@background-normal: @white;
@autoColor: @black;

.popup, .popover, .sheet-modal {
    .list {
        &:first-child {
            margin-top: 0;
        }
        .inner-range-title {
            padding: 15px 0 0 15px;
        }
    }
    .page-content {
        &.no-padding-top {
            padding-top: 0;
        }
    }
}

.row {
    padding: 0 10px;

    li {
        list-style: none;
    }
}

.disabled, [disabled] {
    opacity: .55;
    pointer-events: none;
}

.shapes {
    li {
        width: 70px;
        height: 70px;
        margin: 0 1px;

        .thumb {
            width: 100%;
            height: 100%;
            background-color: @themeColor;
        }
    }
}

.segmented {
    .decrement, .increment {
        text-overflow: clip;
    }
}

.content-block {
    margin: 32px 0;
    padding: 0 16px;
    box-sizing: border-box;
}


// Color Schemes

.color-schemes-menu {
    cursor: pointer;
    display: block;
    background-color: @white;
    .item-inner {
        justify-content: flex-start;
    }
    .color-schema-block {
        display: flex;
    }
    .color {
        min-width: 26px;
        min-height: 26px;
        margin: 0 2px 0 0;
        box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset;
    }
    .item-title {
        margin-left: 20px;
        color: #212121;
    }
}


// Layout 

.slide-layout {
    &__list {
        margin: auto;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    li {
        position: relative;
        z-index: 1;
        margin-top: 12px;
        img {
            box-shadow: 0 0 0 1px rgba(0,0,0,.15);
        }
    }
    .item-inner {
        padding-top: 0;
    }
    .item-inner:after {
        display: none;
    }
    .item-inner:before {
        opacity: 0;
        content: '';
        position: absolute;
        width: 22px;
        height: 22px;
        right: 11px;
        bottom: 0;
        z-index: 1;
        background-repeat: no-repeat;
        .encoded-svg-background('<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 22 22" fill="#aa5252"><g><circle fill="#fff" cx="11" cy="11" r="11"/><path d="M11,21A10,10,0,1,1,21,11,10,10,0,0,1,11,21h0ZM17.4,7.32L17.06,7a0.48,0.48,0,0,0-.67,0l-7,6.84L6.95,11.24a0.51,0.51,0,0,0-.59.08L6,11.66a0.58,0.58,0,0,0,0,.65l3.19,3.35a0.38,0.38,0,0,0,.39,0L17.4,8a0.48,0.48,0,0,0,0-.67h0Z"/></g></svg>');
    }
    .active .item-inner:before {
        opacity: 1;
    }
}

// Theme 

.slide-theme {
    &__list {
        margin: auto;
        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-left: 18px;
            padding-right: 18px;
            padding-bottom: 14px;
        }
    }
    .item-inner:after {
        display: none;
    }
    .item-theme {
        position: relative;
        margin: 0;
        box-shadow: 0 0 0 1px rgba(0,0,0,.15);
        width: 85px;
        height: 38px;
        margin-top: 14px;
        background-image: url(../img/themes/themes.png);
    }
    .item-theme.active:before {
        content: '';
        position: absolute;
        width: 22px;
        height: 22px;
        right: -5px;
        bottom: -5px;
        z-index: 1;
        .encoded-svg-background('<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 22 22" fill="#aa5252"><g><circle fill="#fff" cx="11" cy="11" r="11"/><path d="M11,21A10,10,0,1,1,21,11,10,10,0,0,1,11,21h0ZM17.4,7.32L17.06,7a0.48,0.48,0,0,0-.67,0l-7,6.84L6.95,11.24a0.51,0.51,0,0,0-.59.08L6,11.66a0.58,0.58,0,0,0,0,.65l3.19,3.35a0.38,0.38,0,0,0,.39,0L17.4,8a0.48,0.48,0,0,0,0-.67h0Z"/></g></svg>');
    }
}

// Transition 

.slide-transition {
    .splitter {
        display: flex;
        align-items: center;
        color: @black;
        label {
            margin: 0 5px;
        }
    }
    .buttons-row {
        display: flex;
        margin: 0;
        min-width: 90px;
        margin-left: 10px;
        .button {
            width: 100%;
        }
        .button:first-child {
            border-radius: 5px 0 0 5px;
            border-left-width: 1px;
            border-left-style: solid;
        }
        .button:last-child {
            border-radius: 0 5px 5px 0;
        }
    }
}

.style-effect, .style-type {
    .list .item-title {
        font-weight: normal; 
    }
}

.range-slider-delay {
    width: 100%;
    margin: 4px 0 5px 0;
    appearance: none;
    background: linear-gradient(to right,#b7b8b7 0,#b7b8b7 100%);
    background-position: center;
    background-size: 100% 2px;
    background-repeat: no-repeat;
    outline: 0;
    border: none;
    box-sizing: content-box;
    &:disabled {
        opacity: .55;
    }
    &::-webkit-slider-thumb {
        appearance: none;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        background: @white;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    }
    &::-ms-thumb { 
        appearance: none;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        background: @white;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    }
}

.buttons-list {
    ul {
        &::before, &::after {
            display: none;
        }
        li {
            border: 0;
            font-weight: normal;
            .item-link {
                height: 100%;
                .item-content {
                    min-height: initial;
                    height: 100%;
                    padding: 0;
                }
                .item-inner {
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    min-height: initial;
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
}

.item-color-auto {
    .color-auto {
        width: 22px;
        height: 22px;
        background-color: @autoColor;
    }
    &.active {
        .color-auto {
            box-shadow: 0 0 0 1px @background-normal, 0 0 0 4px @themeColor;
            border-radius: 1px;
        }
    }
}

.color-palettes {
    .palette {
        padding: 8px 0px;
        a {
            flex-grow: 1;
            position: relative;
            min-width: 10px;
            min-height: 26px;
            margin: 1px 1px 0 0;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset;
            &.active:after {
                content: ' ';
                position: absolute;
                width: 100%;
                height: 100%;
                box-shadow: 0 0 0 1px @background-normal, 0 0 0 4px @themeColor;
                z-index: 1;
                border-radius: 1px;
            }
            &.transparent {
                background-repeat: no-repeat;
                background-size: 100% 100%;
                .encoded-svg-background("<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 22 22' xml:space='preserve'><line stroke='#ff0000' stroke-linecap='undefined' stroke-linejoin='undefined' id='svg_1' y2='0' x2='22' y1='22' x1='0' stroke-width='2' fill='none'/></svg>");
            }
        }
    }
    .row {
        padding: 0;
    }
    .list .item-inner {
        display: block;
    }
    .standart-colors, .dynamic-colors {
        .palette {
            display: flex;
        }
    }

    .dynamic-colors {
        .empty-color {
            background-color: @background-normal;
        }
    }
}

#color-picker {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 4px;
    .color-picker-container {
        width: calc(100% - 94px);
        position: relative;
        max-width: 100%;
        height: auto;
        font-size: 0;
        .color-picker-module-wheel {
            margin: 0;
        }
    }
    .right-block {
        margin-left: 20px;
        .color-hsb-preview {
            width: 72px;
            height: 72px;
            border-radius: 100px;
            overflow: hidden;
            border: 1px solid @gray;
            .new-color-hsb-preview, .current-color-hsb-preview {
                width: 100%;
                height: 36px;
            }
        }
        .button-round {
            height: 72px;
            width: 72px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            background-color: @white;
            box-shadow: 0 4px 4px rgba(0,0,0,.25);
            border-color: transparent;
            margin-top: 20px;
        }
    }
}

// Table styles

.table-styles {
    width: 100%;
    .row {
        padding: 0;
        &, li {
            margin-bottom: 12px;
        }
    }

    li,
    .row div {
        margin: 0;
        padding: 1px;

        img {
            width: 70px;
            height: 50px;
        }
    }
}

.bullets, .numbers {
    li {
        position: relative;
        z-index: 1;
    }
    li.active::after {
        content: '';
        position: absolute;
        width: 22px;
        height: 22px;
        right: -5px;
        bottom: -5px;
        .encoded-svg-background('<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 22 22" fill="#aa5252"><g><circle fill="#fff" cx="11" cy="11" r="11"/><path d="M11,21A10,10,0,1,1,21,11,10,10,0,0,1,11,21h0ZM17.4,7.32L17.06,7a0.48,0.48,0,0,0-.67,0l-7,6.84L6.95,11.24a0.51,0.51,0,0,0-.59.08L6,11.66a0.58,0.58,0,0,0,0,.65l3.19,3.35a0.38,0.38,0,0,0,.39,0L17.4,8a0.48,0.48,0,0,0,0-.67h0Z"/></g></svg>');
    }
}
