[dir="rtl"].device-android {

    .wrap-comment, .comment-list{
        .comment-header .initials {
            margin-right: 0;
            margin-left: 10px;
        }
    }

    .actions-modal {
        .actions-button-text {
            text-align: right;
        }
    }
}

[dir="rtl"].device-ios .app-layout{
    
    .subnavbar,.navbar .left a + a {
        margin-right: 0;
    }

    .subnavbar,.navbar .right a + a {
        margin-right: 0;
    }

    .tab-buttons {
        .tab-link:first-child {
            border-radius: 0px 5px 5px 0px;
        }

        .tab-link:last-child {
            border-radius: 5px 0px 0px 5px;
        }
    }

    .popover li:first-child .segmented a:first-child
    .popover li:last-child .segmented a:first-child {
        border-radius: 0 var(--f7-button-border-radius) var(--f7-button-border-radius) 0;
    }

    .popover li:first-child .segmented a:last-child,
    .popover li:last-child .segmented a:last-child {
        border-radius: var(--f7-button-border-radius) 0 0 var(--f7-button-border-radius);
    }

    .list {
        .item-inner {
            .item-after .segmented {
                margin-left: 0px;
                margin-right: 10px;
            }
        }
    }

    .searchbar-inner__right .buttons-row a.next {
        margin-left: 0;
        margin-right: 15px;
    }

    .searchbar-inner__left {
        margin-right: 0;
        margin-left: 10px;
    }

    .navbar .searchbar-input-wrap {
        margin-right: 0;
    }
}

@media (max-width: 550px) {
    .device-ios[dir=rtl] .app-layout .searchbar-expandable.searchbar-enabled .searchbar-inner__right {
        margin-right: 10px;
        margin-left: 0;
    }
}

[dir="rtl"] {
    i.icon {
        &.icon-search, &.icon-link, &.icon-edit-settings, &.icon-app-settings, &.icon-add-shape, &.icon-add-image, 
        &.icon-image-library, &.icon-text-align-right, &.icon-text-align-left, &.icon-table-add-column-left,
        &.icon-table-add-column-right, &.icon-table-add-row-above, &.icon-table-add-row-below, &.icon-table-remove-row,
        &.icon-table-remove-column, &.icon-paste, &.icon-copy, &.icon-table-borders-left, &.icon-table-borders-right {
            transform: scaleX(-1);
        }
    }

    .comment-list .item-content .item-inner{
        .comment-header {
            .right {
                justify-content: space-between;
                .comment-resolve {
                    margin-right: 0px;
                    margin-left: 10px;
                }
            }
        }
    }

    .shapes {
        .thumb {
            transform: scaleX(-1);
        }
    }

    .settings-popup,
    #settings-popover{
        .link {
            display: inline;
        }
    }

    #edit-table-style {
        ul {
            padding-right: 0;
        }
    }

    .color-schemes-menu {
        .item-title{
            margin-right: 20px;
        }
    }

    .list [slot="root-start"] {
        padding: 15px 15px 0 0px;
    }

    .numbers, .bullets, .multilevels {
        .item-content {
            padding-right: 0;
        }
    }

    .dataview .active::after {
        left: -5px;
        right: unset;
    }

    .popup .list .range-number, .popover .list .range-number, .sheet-modal .list .range-number {
        text-align: left;
    }
}
