@statusBarBorderColor: #cbcbcb;

.navbar {
    .searchbar {
        background-color: var(--f7-navbar-bg-color);

        .buttons-row {
            align-self: center;
            display: flex;
        }

        .searchbar-bg {
            .hairline(bottom, @statusBarBorderColor);
        }
    }

    .searchbar-input-wrap {
        margin-right: 10px;
    }
}
