.page-change {
  .block-description {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    max-width: 100%;
    word-wrap: break-word;
  }
  #user-name {
    font-size: 17px;
    line-height: 22px;
    color: #000000;
    margin: 0;
  }
  #date-change {
    font-size: 14px;
    line-height: 18px;
    color: #6d6d72;
    margin: 0;
    margin-top: 3px;
  }
  #text-change {
    color: #000000;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    margin-top: 10px;
  }
  .block-btn, .content-block.block-btn:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 26px 0;

    #btn-next-change, #btn-reject-change {
      margin-left: 20px;
    }
    #btn-goto-change {
      margin-right: 20px;
    }
    .right-buttons {
      display: flex;
    }
    .link {
      display: inline-block;
    }
  }
}
.navbar .center-collaboration {
  display: flex;
  justify-content: space-around;
}
.container-collaboration {
  .navbar .right.close-collaboration {
    position: absolute;
    right: 10px;
  }
  .page-content .list-block:first-child {
    margin-top: -1px;
  }
}

//Edit users
@initialEditUser: #373737;

#user-list {
  .item-content {
    padding-left: 0;
  }
  .item-inner {
    justify-content: flex-start;
    padding-left: 15px;
  }
  .length {
    margin-left: 4px;
  }
  .color {
    min-width: 40px;
    min-height: 40px;
    margin-right: 20px;
    text-align: center;
    border-radius: 50px;
    line-height: 40px;
    color: @initialEditUser;
    font-weight: 500;

  }
  ul:before {
    content: none;
  }
}

//Comments
.page-comments, .page-add-comment, .page-view-comments, .container-edit-comment, .container-add-reply {
  .list-block .item-inner {
    display: block;
    padding: 16px 0;
    word-wrap: break-word;
  }
  p {
    margin: 0;
    word-break: break-word;
  }
  .user-name {
    font-size: 17px;
    line-height: 22px;
    color: #000000;
    margin: 0;
    font-weight: bold;
  }
  .comment-date, .reply-date {
    font-size: 12px;
    line-height: 18px;
    color: #6d6d72;
    margin: 0;
    margin-top: 0px;
  }
  .comment-text, .reply-text {
    color: #000000;
    font-size: 15px;
    line-height: 25px;
    margin: 0;
    max-width: 100%;
    padding-right: 15px;
  }
  .reply-item {
    margin-top: 15px;
    padding-right: 16px;
    padding-top: 13px;
    .header-reply {
      display: flex;
      justify-content: space-between;
    }
    .user-name {
      padding-top: 3px;
    }
    &:before {
      content: '';
      position: absolute;
      left: auto;
      bottom: 0;
      right: auto;
      top: 0;
      height: 1px;
      width: 100%;
      background-color: @listBlockBorderColor;
      display: block;
      z-index: 15;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
    }
  }
  .comment-quote {
    color: @themeColor;
    border-left: 1px solid @themeColor;
    padding-left: 10px;
    margin: 5px 0;
    font-size: 15px;
  }

  .wrap-comment {
    padding: 16px 16px 0 16px;
  }
  .comment-textarea, .reply-textarea {
    margin-top: 10px;
    background:transparent;
    border:none;
    outline:none;
    width: 100%;
    min-height: 200px;
    font-size: 15px;
  }
}
.settings.popup .list-block ul.list-reply:last-child:after, .settings.popover .list-block ul.list-reply:last-child:after {
  display: none;
}

.container-edit-comment {
  .navbar {
    background-color: #FFFFFF;
  }
  .page {
    background-color: #FFFFFF;
  }
}

//view comment
.container-view-comment {
  -webkit-transition: height 100ms;
  transition: height 120ms;
  background-color: #FFFFFF;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 50%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
  .page-view-comments {
    background-color: #FFFFFF;
    .list-block {
      margin-bottom: 100px;
      ul:before, ul:after {
        content: none;
      }
      .item-inner {
        padding: 0;
        .header-comment {
          display: flex;
          justify-content: space-between;
          padding-right: 16px;
          .comment-right {
            display: flex;
            justify-content: space-between;
            width: 70px;
          }
        }
      }
    }

  }
  .toolbar {
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
    &:before {
      content: none;
    }
    .toolbar-inner {
      display: flex;
      justify-content: space-between;
      padding: 0 16px;
      .button-left {
        min-width: 80px;
      }
      .button-right {
        min-width: 62px;
        display: flex;
        justify-content: space-between;
        a {
          padding: 0 8px;
        }
      }
    }
  }
  .swipe-container {
    display: flex;
    justify-content: center;
    height: 40px;
    .icon-swipe {
      margin-top: 8px;
      width: 40px;
      height: 4px;
      background: rgba(0, 0, 0, 0.12);
      border-radius: 2px;
    }
  }
  .list-block {
    margin-top: 0;
  }
}

.container-view-add-comment {
  height: 100%;
  .navbar {
    background-color: #FFFFFF;
    a.link i + span {
      margin-left: 0;
    }
  }
  .page-add-comment {
    background-color: #FFFFFF;
    .page-content {
      padding: 0 16px 80px;
    }
  }
}

.container-add-reply {
  height: 100%;
  .navbar {
    background-color: #FFFFFF;
    a.link i + span {
      margin-left: 0;
    }
  }
  .page {
    background-color: #FFFFFF;
  }
}

.icon-arrow-comment {
  border: solid black;
  border-width: 0 2px 2px 0;
  border-color: @themeColor;
  height: 12px;
  width: 12px;
  display: inline-block;
  padding: 0;
  &.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  &.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
}

.actions-modal-button.color-red {
  color: @red;
}
