// This changes are for retrieve new Framework7 version 9.0 that introduced iOS 26 styles with liquid glass.

.device-ios .app-layout {
  --f7-navbar-height: 44px;
  --f7-subnavbar-offset-left: 0;
  --f7-subnavbar-offset-right: 0;

  .navbar {
    .searchbar {
      display: none;
    }

    .searchbar-expandable.searchbar-enabled {
      display: block;
    }
  }
}