// @common-image-path - defined in webpack config

.device-ios {
    .theme-type-dark {
        i.icon {
            &.icon-logo {
                background: ~"url(@{common-image-path}/header/logo-android.svg)" no-repeat center;
                background-size: contain;
            }
        }
    }

    i.icon {
        &.icon_mask {
            background-color: white;
        }
        &.icon-logo {
            width: 100px;
            height: 20px;
            background: ~"url(@{common-image-path}/header/logo-ios.svg)" no-repeat center;
            background-size: contain;
        }
    }
}

.icon-svg {
    &.icon-svg__mask {
        fill: @fill-white;
        vertical-align: middle;
    }
}