.statusbar {
    display: table;
    padding: 2px;

    .status-label {
        position: relative;
    }

    #label-pages {
        margin-left: 40px;
        .rtl & {
            margin-left: 0;
            margin-right: 40px;
        }
    }

    #btn-zoom-up {
        margin-right: 40px;
        .rtl & {
            margin-right: 0;
            margin-left: 40px;
        }
    }

    #label-pages, #label-zoom {
        cursor: pointer;
    }

    #users-icon,#status-users-count {
        display: inline-block;
        cursor: pointer;
    }

    #users-icon {
        background-position: -14px -197px;
        width: 20px;
        height: 20px;
        vertical-align: middle;
    }

    #label-zoom {
        text-align: center;
    }

    #btn-zoom-topage, #btn-zoom-towidth {
        margin-right: 8px;
        .rtl & {
            margin-right: 0;
            margin-left: 8px;
        }
    }

    .status-group {
        display: table-cell;
        white-space: nowrap;
        vertical-align: top;
        &.dropup {
            position: static;
        }

        .status-label.margin-top-large {
            margin-top: 6px;
        }

        button.margin-top-small,
        .margin-top-small > button,
        .margin-top-small > .btn-group {
            margin-top: 3px;
        }
    }

    .separator {
        margin: 0px 6px;

        &.short {
            height: 25px;
        }

        &.space {
            margin: 0px 2px;
            border: none;
        }
    }

    #btn-cnt-lang,
    #slot-status-btn-info {
        button {
            font-weight: 700;
            .pixel-ratio__2_5 & {
                display: flex;
                align-items: center;
            }
        }
    }

    .cnt-zoom {
        display: inline-block;
        vertical-align: middle;
        margin-top: 4px;
        .dropdown-menu {
            min-width: 80px;
            margin-left: -4px;

            .rtl & {
                margin-left: 0;
                margin-right: -4px;
            }

            li {
                text-align: center;

                > a {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }

    .dropdown-menu {
        margin-bottom: 6px;

        li {
            text-align: left;
            .rtl & {
                text-align: right;
            }
        }
    }

    #status-goto-box {
        padding: 10px;
        margin-left: 40px;
        margin-bottom: 2px;
        min-width: 130px;

        .rtl & {
            margin-left: 0;
            margin-right: 40px;
        }

        > label {
            display: inline-block;
            margin-right: 10px;
            float:left;
            line-height:22px;
            .rtl & {
                margin-right: 0;
                margin-left: 10px;
                float: right;
            }
        }

        > input[type=text] {
            width: 50px;
            display: inline-block;
        }
    }


    #status-users-menu {
        padding: 14px 0 14px 14px;
        margin-left: 137px;
        margin-bottom: 2px;
        width: 285px;
        .font-size-medium();

        .rtl & {
            padding: 14px 14px 14px 0;
            margin-left: 0;
            margin-right: 137px;
        }

        > label {
            white-space: normal;
        }

        #status-users-list {
            margin-top: 15px;
            
            ul {
                margin: 0;
                padding: 0;
                overflow: hidden;
                max-height: 190px;
                position: relative;

                li {
                    list-style: none;
                    padding: 2px 0;
                    margin-right: 15px;
                    overflow: hidden;

                    .rtl & {
                        margin-right: 0;
                        margin-left: 15px;
                    }

                    &.offline, &.viewmode {
                        display: none;
                    }
                }
            }

            .color {
                width: 12px;
                height: 12px;
                display: inline-block;
                vertical-align: middle;
                border: @scaled-one-px-value-ie solid @border-toolbar-ie;
                border: @scaled-one-px-value solid @border-toolbar;
            }

            .name {
                display: block;
                padding-left: 16px;
                margin-top: -3px;
                white-space: nowrap;
                text-overflow: ellipsis;
                vertical-align: middle;
                .rtl & {
                    padding-left: 0;
                    padding-right: 16px;
                }
            }
        }
    }

    .hide-select-tools {
        display: none;
    }

    #btn-select-tool {
        margin-right: 8px;
        .rtl & {
            margin-right: 0;
            margin-left: 8px;
        }
    }

    .lang-menu {
        li a {
            padding-left: 28px !important;
            .rtl & {
                padding-left: 20px !important;
                padding-right: 28px !important;
            }
        }
    }
}
