@import "../../../../../common/main/resources/help/images/symbols.css";

.big{
	background-image: url(../images/big.png);
	background-repeat: no-repeat;
	display: inline-block;
}

.big-iconsets {
	background-position: 0px 0px;
	width: 240px;
	height: 407px;
}

.big-moving_image {
	background-position: -240px 0px;
	width: 420px;
	height: 293px;
}

.big-editpoints_example {
	background-position: 0px -407px;
	width: 236px;
	height: 237px;
}

.big-reshaping {
	background-position: -236px -407px;
	width: 147px;
	height: 162px;
}

.big-relativereference {
	background-position: -660px 0px;
	width: 449px;
	height: 159px;
}

.big-maintain_proportions {
	background-position: -660px -159px;
	width: 146px;
	height: 144px;
}

.big-connectors_moveshape {
	background-position: -806px -159px;
	width: 267px;
	height: 134px;
}

.big-nestedfraction {
	background-position: -660px -303px;
	width: 257px;
	height: 134px;
}

.big-formatastext {
	background-position: -660px -437px;
	width: 257px;
	height: 115px;
}

.big-newslot {
	background-position: -383px -407px;
	width: 193px;
	height: 115px;
}

.big-colorscales {
	background-position: -917px -303px;
	width: 142px;
	height: 108px;
}

.big-autoforeach {
	background-position: -917px -437px;
	width: 119px;
	height: 103px;
}

.big-sameforall {
	background-position: -240px -293px;
	width: 119px;
	height: 103px;
}

.big-databars_diagrams {
	background-position: -359px -293px;
	width: 263px;
	height: 96px;
}

.big-autofill {
	background-position: 0px -644px;
	width: 195px;
	height: 96px;
}

.big-deleteequation {
	background-position: -195px -644px;
	width: 193px;
	height: 96px;
}

.big-insertedequation {
	background-position: -388px -644px;
	width: 193px;
	height: 96px;
}

.big-sparklines_types {
	background-position: -660px -552px;
	width: 208px;
	height: 87px;
}

.big-connectors_firstshape {
	background-position: -581px -644px;
	width: 267px;
	height: 77px;
}

.big-connectors_secondshape {
	background-position: 0px -740px;
	width: 267px;
	height: 77px;
}

.big-moveelement {
	background-position: -868px -552px;
	width: 188px;
	height: 60px;
}

.big-resizeelement {
	background-position: -236px -569px;
	width: 188px;
	height: 60px;
}

.big-templateslist {
	background-position: -576px -407px;
	width: 83px;
	height: 54px;
}

.big-nonetemplate {
	background-position: -1036px -437px;
	width: 63px;
	height: 48px;
}

.big-rightpart {
	background-position: -383px -522px;
	width: 173px;
	height: 30px;
}

.big-spellchecking_language {
	background-position: -917px -411px;
	width: 180px;
	height: 26px;
}

.big-fontfamily {
	background-position: -868px -612px;
	width: 87px;
	height: 22px;
}

.big-pagebreak {
	background-position: -806px -293px;
	width: 185px;
	height: 9px;
}

.big-sectionbreak {
	background-position: -240px -396px;
	width: 200px;
	height: 8px;
}

.icon{
	background-image: url(../images/icons.png);
	background-repeat: no-repeat;
	display: inline-block;
}

.icon-highlight {
	background-position: 0px 0px;
	width: 28px;
	height: 28px;
}

.icon-photoeditor {
	background-position: -28px 0px;
	width: 28px;
	height: 28px;
}

.icon-youtube {
	background-position: 0px -28px;
	width: 28px;
	height: 28px;
}

.icon-thumbnailsettingicon {
	background-position: -56px 0px;
	width: 34px;
	height: 27px;
}

.icon-translator {
	background-position: -56px -27px;
	width: 26px;
	height: 26px;
}

.icon-favorites_icon {
	background-position: -28px -28px;
	width: 26px;
	height: 25px;
}

.icon-conditionalformatting_button {
	background-position: 0px -56px;
	width: 32px;
	height: 24px;
}

.icon-help {
	background-position: -32px -56px;
	width: 24px;
	height: 24px;
}

.icon-rainbow_icon {
	background-position: -56px -56px;
	width: 24px;
	height: 24px;
}

.icon-telegram_icon {
	background-position: -90px 0px;
	width: 24px;
	height: 24px;
}

.icon-slicer_icon {
	background-position: -90px -24px;
	width: 21px;
	height: 24px;
}

.icon-arrow {
	background-position: -90px -48px;
	width: 23px;
	height: 23px;
}

.icon-insert_pivot {
	background-position: 0px -80px;
	width: 23px;
	height: 23px;
}

.icon-list_worksheets {
	background-position: -23px -80px;
	width: 23px;
	height: 23px;
}

.icon-change_case {
	background-position: -46px -80px;
	width: 45px;
	height: 22px;
}

.icon-fontsize {
	background-position: -114px 0px;
	width: 45px;
	height: 22px;
}

.icon-rowsandcolumns {
	background-position: -114px -22px;
	width: 45px;
	height: 22px;
}

.icon-SearchOptions {
	background-position: -114px -44px;
	width: 42px;
	height: 22px;
}

.icon-verticalalignment {
	background-position: -114px -66px;
	width: 33px;
	height: 22px;
}

.icon-pastespecialbutton {
	background-position: 0px -103px;
	width: 30px;
	height: 22px;
}

.icon-sparklines_button {
	background-position: -30px -103px;
	width: 28px;
	height: 22px;
}

.icon-thesaurus_icon {
	background-position: -58px -103px;
	width: 28px;
	height: 22px;
}

.icon-addworksheet {
	background-position: -86px -103px;
	width: 24px;
	height: 22px;
}

.icon-ascendingbutton {
	background-position: -91px -80px;
	width: 22px;
	height: 22px;
}

.icon-descendingbutton {
	background-position: -110px -103px;
	width: 22px;
	height: 22px;
}

.icon-go_to_the_next_word {
	background-position: -132px -103px;
	width: 22px;
	height: 22px;
}

.icon-inserttexticon {
	background-position: 0px -125px;
	width: 22px;
	height: 22px;
}

.icon-pagebreak1 {
	background-position: -22px -125px;
	width: 21px;
	height: 22px;
}

.icon-printareabutton {
	background-position: -43px -125px;
	width: 20px;
	height: 22px;
}

.icon-calculationicon {
	background-position: -63px -125px;
	width: 18px;
	height: 22px;
}

.icon-coeditingmode {
	background-position: -81px -125px;
	width: 18px;
	height: 22px;
}

.icon-header_footer_icon {
	background-position: -99px -125px;
	width: 18px;
	height: 22px;
}

.icon-versionhistoryicon {
	background-position: -117px -125px;
	width: 24px;
	height: 21px;
}

.icon-pivot_refresh {
	background-position: -159px 0px;
	width: 21px;
	height: 21px;
}

.icon-selectall {
	background-position: 0px -147px;
	width: 27px;
	height: 20px;
}

.icon-dataval_icon {
	background-position: -27px -147px;
	width: 26px;
	height: 20px;
}

.icon-sheetview_icon {
	background-position: -53px -147px;
	width: 25px;
	height: 20px;
}

.icon-bringforward_toptoolbar {
	background-position: -159px -21px;
	width: 20px;
	height: 20px;
}

.icon-changecolorscheme {
	background-position: -159px -41px;
	width: 20px;
	height: 20px;
}

.icon-chatgpt_icon {
	background-position: -159px -61px;
	width: 20px;
	height: 20px;
}

.icon-constantproportionsactivated {
	background-position: -159px -81px;
	width: 20px;
	height: 20px;
}

.icon-copystyle_selected {
	background-position: -159px -101px;
	width: 20px;
	height: 20px;
}

.icon-group_toptoolbar {
	background-position: -159px -121px;
	width: 20px;
	height: 20px;
}

.icon-image {
	background-position: -78px -147px;
	width: 20px;
	height: 20px;
}

.icon-insertautoshape {
	background-position: -98px -147px;
	width: 20px;
	height: 20px;
}

.icon-insert_symbol_icon {
	background-position: -118px -147px;
	width: 20px;
	height: 20px;
}

.icon-scaletofit {
	background-position: -138px -147px;
	width: 20px;
	height: 20px;
}

.icon-sendbackward_toptoolbar {
	background-position: -158px -147px;
	width: 20px;
	height: 20px;
}

.icon-show_password {
	background-position: -180px 0px;
	width: 20px;
	height: 20px;
}

.icon-sortcommentsicon {
	background-position: -180px -20px;
	width: 20px;
	height: 20px;
}

.icon-vector {
	background-position: -180px -40px;
	width: 20px;
	height: 20px;
}

.icon-zoom_icon {
	background-position: -180px -60px;
	width: 20px;
	height: 20px;
}

.icon-align_toptoolbar {
	background-position: -180px -80px;
	width: 19px;
	height: 20px;
}

.icon-inserttextarticon {
	background-position: -180px -100px;
	width: 16px;
	height: 20px;
}

.icon-chat_toptoolbar {
	background-position: 0px -167px;
	width: 24px;
	height: 19px;
}

.icon-chart {
	background-position: -24px -167px;
	width: 22px;
	height: 19px;
}

.icon-comment_toptoolbar {
	background-position: -46px -167px;
	width: 22px;
	height: 19px;
}

.icon-insertequationicon {
	background-position: -68px -167px;
	width: 22px;
	height: 19px;
}

.icon-pivotselecticon {
	background-position: -90px -167px;
	width: 22px;
	height: 19px;
}

.icon-functionicon {
	background-position: -180px -120px;
	width: 20px;
	height: 19px;
}

.icon-paste_style {
	background-position: -180px -139px;
	width: 20px;
	height: 19px;
}

.icon-addhyperlink {
	background-position: -112px -167px;
	width: 19px;
	height: 19px;
}

.icon-hiderulers {
	background-position: -131px -167px;
	width: 19px;
	height: 19px;
}

.icon-removecomment_toptoolbar {
	background-position: -141px -125px;
	width: 15px;
	height: 19px;
}

.icon-customsort {
	background-position: -150px -167px;
	width: 18px;
	height: 18px;
}

.icon-new_icon {
	background-position: -168px -167px;
	width: 18px;
	height: 18px;
}

.icon-search_advanced {
	background-position: -200px 0px;
	width: 18px;
	height: 18px;
}

.icon-searchbuttons {
	background-position: 0px -186px;
	width: 33px;
	height: 17px;
}

.icon-horizontalalignment {
	background-position: -33px -186px;
	width: 31px;
	height: 17px;
}

.icon-backgroundcolor {
	background-position: -64px -186px;
	width: 25px;
	height: 17px;
}

.icon-removeduplicates_icon {
	background-position: -89px -186px;
	width: 24px;
	height: 17px;
}

.icon-table {
	background-position: -113px -186px;
	width: 22px;
	height: 17px;
}

.icon-changecolumnwidthcursor {
	background-position: -135px -186px;
	width: 21px;
	height: 17px;
}

.icon-sharingicon {
	background-position: -156px -186px;
	width: 21px;
	height: 17px;
}

.icon-chaticon_new {
	background-position: -177px -186px;
	width: 19px;
	height: 17px;
}

.icon-groupicon {
	background-position: -196px -186px;
	width: 19px;
	height: 17px;
}

.icon-selectdata_icon {
	background-position: -218px 0px;
	width: 19px;
	height: 17px;
}

.icon-ungroupicon {
	background-position: -218px -17px;
	width: 19px;
	height: 17px;
}

.icon-search_icon_header {
	background-position: -218px -34px;
	width: 17px;
	height: 17px;
}

.icon-insertslicer {
	background-position: -218px -51px;
	width: 16px;
	height: 17px;
}

.icon-slicer_settings {
	background-position: -218px -68px;
	width: 16px;
	height: 17px;
}

.icon-addgradientpoint {
	background-position: -218px -85px;
	width: 12px;
	height: 17px;
}

.icon-removegradientpoint {
	background-position: -218px -102px;
	width: 12px;
	height: 17px;
}

.icon-levelnumbericons {
	background-position: 0px -203px;
	width: 48px;
	height: 16px;
}

.icon-usersnumber {
	background-position: -48px -203px;
	width: 22px;
	height: 16px;
}

.icon-close_icon {
	background-position: -218px -119px;
	width: 18px;
	height: 16px;
}

.icon-saveupdate {
	background-position: -218px -135px;
	width: 18px;
	height: 16px;
}

.icon-savewhilecoediting {
	background-position: -218px -151px;
	width: 17px;
	height: 16px;
}

.icon-collapserowsicon {
	background-position: -218px -167px;
	width: 16px;
	height: 16px;
}

.icon-converttorange {
	background-position: -218px -183px;
	width: 16px;
	height: 16px;
}

.icon-dropdownarrow {
	background-position: -200px -18px;
	width: 16px;
	height: 16px;
}

.icon-editcommenticon {
	background-position: -200px -34px;
	width: 16px;
	height: 16px;
}

.icon-expandrowsicon {
	background-position: -200px -50px;
	width: 16px;
	height: 16px;
}

.icon-filterbutton {
	background-position: -200px -66px;
	width: 16px;
	height: 16px;
}

.icon-firstlevelicon {
	background-position: -200px -82px;
	width: 16px;
	height: 16px;
}

.icon-highesttolowest {
	background-position: -200px -98px;
	width: 16px;
	height: 16px;
}

.icon-highesttolowest1 {
	background-position: -200px -114px;
	width: 16px;
	height: 16px;
}

.icon-lowesttohighest {
	background-position: -200px -130px;
	width: 16px;
	height: 16px;
}

.icon-lowesttohighest1 {
	background-position: -200px -146px;
	width: 16px;
	height: 16px;
}

.icon-pivot_settings {
	background-position: -200px -162px;
	width: 16px;
	height: 16px;
}

.icon-secondlevelicon {
	background-position: -70px -203px;
	width: 16px;
	height: 16px;
}

.icon-thirdlevelicon {
	background-position: -86px -203px;
	width: 16px;
	height: 16px;
}

.icon-distributevertically {
	background-position: -186px -167px;
	width: 14px;
	height: 16px;
}

.icon-textart_settings_icon {
	background-position: -147px -66px;
	width: 12px;
	height: 16px;
}

.icon-namedrangesicon {
	background-position: -114px -88px;
	width: 23px;
	height: 15px;
}

.icon-search_options {
	background-position: -137px -88px;
	width: 22px;
	height: 15px;
}

.icon-access_rights {
	background-position: -102px -203px;
	width: 19px;
	height: 15px;
}

.icon-chaticon {
	background-position: -121px -203px;
	width: 18px;
	height: 15px;
}

.icon-gotodocuments {
	background-position: -139px -203px;
	width: 18px;
	height: 15px;
}

.icon-print {
	background-position: -157px -203px;
	width: 17px;
	height: 15px;
}

.icon-bgcolor {
	background-position: -174px -203px;
	width: 16px;
	height: 15px;
}

.icon-about {
	background-position: -190px -203px;
	width: 15px;
	height: 15px;
}

.icon-abouticon {
	background-position: -205px -203px;
	width: 15px;
	height: 15px;
}

.icon-advanced_settings_icon {
	background-position: -220px -203px;
	width: 15px;
	height: 15px;
}

.icon-insertpivot {
	background-position: 0px -219px;
	width: 15px;
	height: 15px;
}

.icon-plus {
	background-position: -15px -219px;
	width: 15px;
	height: 15px;
}

.icon-plus_sheet {
	background-position: -30px -219px;
	width: 15px;
	height: 15px;
}

.icon-save {
	background-position: -45px -219px;
	width: 15px;
	height: 15px;
}

.icon-tabstopcenter {
	background-position: -60px -219px;
	width: 15px;
	height: 15px;
}

.icon-tabstopleft {
	background-position: -75px -219px;
	width: 15px;
	height: 15px;
}

.icon-feedback {
	background-position: -90px -219px;
	width: 14px;
	height: 15px;
}

.icon-flipupsidedown {
	background-position: -104px -219px;
	width: 14px;
	height: 15px;
}

.icon-shapesettings {
	background-position: -118px -219px;
	width: 14px;
	height: 15px;
}

.icon-file {
	background-position: -132px -219px;
	width: 13px;
	height: 15px;
}

.icon-back {
	background-position: -145px -219px;
	width: 12px;
	height: 15px;
}

.icon-fontcolor {
	background-position: -157px -219px;
	width: 25px;
	height: 14px;
}

.icon-numbering {
	background-position: -182px -219px;
	width: 24px;
	height: 14px;
}

.icon-spellcheckactivated {
	background-position: -206px -219px;
	width: 17px;
	height: 14px;
}

.icon-spellcheckdeactivated {
	background-position: -237px 0px;
	width: 17px;
	height: 14px;
}

.icon-distributehorizontally {
	background-position: -237px -14px;
	width: 16px;
	height: 14px;
}

.icon-fliplefttoright {
	background-position: -237px -28px;
	width: 15px;
	height: 14px;
}

.icon-sort {
	background-position: -237px -42px;
	width: 15px;
	height: 14px;
}

.icon-alignobjectbottom {
	background-position: -237px -56px;
	width: 14px;
	height: 14px;
}

.icon-alignobjectleft {
	background-position: -237px -70px;
	width: 14px;
	height: 14px;
}

.icon-alignobjectright {
	background-position: -237px -84px;
	width: 14px;
	height: 14px;
}

.icon-alignobjecttop {
	background-position: -237px -98px;
	width: 14px;
	height: 14px;
}

.icon-bordercolor {
	background-position: -237px -112px;
	width: 14px;
	height: 14px;
}

.icon-borderwidth {
	background-position: -237px -126px;
	width: 14px;
	height: 14px;
}

.icon-chartsettingsicon {
	background-position: -237px -140px;
	width: 14px;
	height: 14px;
}

.icon-clearicon {
	background-position: -237px -154px;
	width: 14px;
	height: 14px;
}

.icon-commentsicon {
	background-position: -237px -168px;
	width: 14px;
	height: 14px;
}

.icon-deleteicon {
	background-position: -237px -182px;
	width: 14px;
	height: 14px;
}

.icon-function {
	background-position: -237px -196px;
	width: 14px;
	height: 14px;
}

.icon-group {
	background-position: -237px -210px;
	width: 14px;
	height: 14px;
}

.icon-image_settings_icon {
	background-position: -223px -219px;
	width: 14px;
	height: 14px;
}

.icon-searchicon {
	background-position: 0px -234px;
	width: 14px;
	height: 14px;
}

.icon-shape_settings_icon {
	background-position: -14px -234px;
	width: 14px;
	height: 14px;
}

.icon-ungroup {
	background-position: -28px -234px;
	width: 14px;
	height: 14px;
}

.icon-alignobjectcenter {
	background-position: -42px -234px;
	width: 13px;
	height: 14px;
}

.icon-copystyle {
	background-position: -55px -234px;
	width: 12px;
	height: 14px;
}

.icon-gradientslider {
	background-position: -67px -234px;
	width: 12px;
	height: 14px;
}

.icon-hard {
	background-position: -80px -56px;
	width: 9px;
	height: 14px;
}

.icon-clear {
	background-position: -79px -234px;
	width: 26px;
	height: 13px;
}

.icon-outline {
	background-position: -105px -234px;
	width: 25px;
	height: 13px;
}

.icon-bullets {
	background-position: -130px -234px;
	width: 24px;
	height: 13px;
}

.icon-insertfunction {
	background-position: -154px -234px;
	width: 24px;
	height: 13px;
}

.icon-orientation {
	background-position: -178px -234px;
	width: 24px;
	height: 13px;
}

.icon-insertchart {
	background-position: -202px -234px;
	width: 22px;
	height: 13px;
}

.icon-insert_dropcap_icon {
	background-position: -224px -234px;
	width: 22px;
	height: 13px;
}

.icon-headerfooter {
	background-position: -254px 0px;
	width: 21px;
	height: 13px;
}

.icon-insertcells {
	background-position: -254px -13px;
	width: 21px;
	height: 13px;
}

.icon-pagesize {
	background-position: -254px -26px;
	width: 20px;
	height: 13px;
}

.icon-cut {
	background-position: -254px -39px;
	width: 16px;
	height: 13px;
}

.icon-removeduplicates {
	background-position: -254px -52px;
	width: 16px;
	height: 13px;
}

.icon-text_autoshape {
	background-position: -254px -65px;
	width: 16px;
	height: 13px;
}

.icon-changerange {
	background-position: -254px -78px;
	width: 15px;
	height: 13px;
}

.icon-feedbackicon {
	background-position: -254px -91px;
	width: 15px;
	height: 13px;
}

.icon-greencircle {
	background-position: -254px -104px;
	width: 15px;
	height: 13px;
}

.icon-alignobjectmiddle {
	background-position: -254px -117px;
	width: 14px;
	height: 13px;
}

.icon-clearstyle {
	background-position: -254px -130px;
	width: 14px;
	height: 13px;
}

.icon-copy {
	background-position: -254px -143px;
	width: 14px;
	height: 13px;
}

.icon-hyperlink {
	background-position: -254px -156px;
	width: 14px;
	height: 13px;
}

.icon-multiselect {
	background-position: -254px -169px;
	width: 14px;
	height: 13px;
}

.icon-paste {
	background-position: -254px -182px;
	width: 14px;
	height: 13px;
}

.icon-select_all {
	background-position: -254px -195px;
	width: 14px;
	height: 13px;
}

.icon-wraptext {
	background-position: -254px -208px;
	width: 14px;
	height: 13px;
}

.icon-allborders {
	background-position: -254px -221px;
	width: 13px;
	height: 13px;
}

.icon-bottomborders {
	background-position: -254px -234px;
	width: 13px;
	height: 13px;
}

.icon-bringforward {
	background-position: 0px -248px;
	width: 13px;
	height: 13px;
}

.icon-bringtofront {
	background-position: -13px -248px;
	width: 13px;
	height: 13px;
}

.icon-document_language {
	background-position: -26px -248px;
	width: 13px;
	height: 13px;
}

.icon-dropcap_margin {
	background-position: -39px -248px;
	width: 13px;
	height: 13px;
}

.icon-dropcap_none {
	background-position: -52px -248px;
	width: 13px;
	height: 13px;
}

.icon-dropcap_text {
	background-position: -65px -248px;
	width: 13px;
	height: 13px;
}

.icon-equationplaceholder {
	background-position: -78px -248px;
	width: 13px;
	height: 13px;
}

.icon-fitpage {
	background-position: -91px -248px;
	width: 13px;
	height: 13px;
}

.icon-fitwidth {
	background-position: -104px -248px;
	width: 13px;
	height: 13px;
}

.icon-insideborders {
	background-position: -117px -248px;
	width: 13px;
	height: 13px;
}

.icon-insidehorizontalborders {
	background-position: -130px -248px;
	width: 13px;
	height: 13px;
}

.icon-insideverticalborders {
	background-position: -143px -248px;
	width: 13px;
	height: 13px;
}

.icon-leftborders {
	background-position: -156px -248px;
	width: 13px;
	height: 13px;
}

.icon-noborders {
	background-position: -169px -248px;
	width: 13px;
	height: 13px;
}

.icon-outsideborders {
	background-position: -182px -248px;
	width: 13px;
	height: 13px;
}

.icon-rightborders {
	background-position: -195px -248px;
	width: 13px;
	height: 13px;
}

.icon-sendbackward {
	background-position: -208px -248px;
	width: 13px;
	height: 13px;
}

.icon-sendtoback {
	background-position: -221px -248px;
	width: 13px;
	height: 13px;
}

.icon-topborders {
	background-position: -234px -248px;
	width: 13px;
	height: 13px;
}

.icon-zoomin {
	background-position: -247px -248px;
	width: 13px;
	height: 13px;
}

.icon-currencystyle {
	background-position: -260px -248px;
	width: 12px;
	height: 13px;
}

.icon-insertpagenumber {
	background-position: 0px -261px;
	width: 12px;
	height: 13px;
}

.icon-rotateclockwise {
	background-position: -12px -261px;
	width: 12px;
	height: 13px;
}

.icon-rotatecounterclockwise {
	background-position: -24px -261px;
	width: 12px;
	height: 13px;
}

.icon-alignmiddle {
	background-position: -36px -261px;
	width: 11px;
	height: 13px;
}

.icon-textsettings {
	background-position: -47px -261px;
	width: 10px;
	height: 13px;
}

.icon-accountingstyle {
	background-position: -57px -261px;
	width: 26px;
	height: 12px;
}

.icon-cellsettings_rightpanel {
	background-position: -83px -261px;
	width: 15px;
	height: 12px;
}

.icon-decreasedecimal {
	background-position: -98px -261px;
	width: 14px;
	height: 12px;
}

.icon-slicer_clearfilter {
	background-position: -112px -261px;
	width: 14px;
	height: 12px;
}

.icon-increasedecimal {
	background-position: -126px -261px;
	width: 13px;
	height: 12px;
}

.icon-angleclockwise {
	background-position: -139px -261px;
	width: 12px;
	height: 12px;
}

.icon-anglecounterclockwise {
	background-position: -151px -261px;
	width: 12px;
	height: 12px;
}

.icon-circle {
	background-position: -163px -261px;
	width: 12px;
	height: 12px;
}

.icon-firstsheet {
	background-position: -175px -261px;
	width: 12px;
	height: 12px;
}

.icon-larger {
	background-position: -187px -261px;
	width: 12px;
	height: 12px;
}

.icon-nofill {
	background-position: -199px -261px;
	width: 12px;
	height: 12px;
}

.icon-sup {
	background-position: -211px -261px;
	width: 12px;
	height: 12px;
}

.icon-deletecommenticon {
	background-position: -223px -261px;
	width: 11px;
	height: 12px;
}

.icon-selectcolumn_cursor {
	background-position: -234px -261px;
	width: 11px;
	height: 12px;
}

.icon-tabletemplate {
	background-position: -245px -261px;
	width: 26px;
	height: 11px;
}

.icon-merge {
	background-position: -275px 0px;
	width: 24px;
	height: 11px;
}

.icon-subscripticon {
	background-position: -275px -11px;
	width: 24px;
	height: 11px;
}

.icon-addborders {
	background-position: -275px -22px;
	width: 22px;
	height: 11px;
}

.icon-deletecells {
	background-position: -275px -33px;
	width: 21px;
	height: 11px;
}

.icon-linespacing {
	background-position: -275px -44px;
	width: 21px;
	height: 11px;
}

.icon-nonprintingcharacters {
	background-position: -275px -55px;
	width: 20px;
	height: 11px;
}

.icon-namedranges {
	background-position: -275px -66px;
	width: 16px;
	height: 11px;
}

.icon-table_settings_icon {
	background-position: -275px -77px;
	width: 16px;
	height: 11px;
}

.icon-viewsettingsicon {
	background-position: -275px -88px;
	width: 16px;
	height: 11px;
}

.icon-sub {
	background-position: -275px -99px;
	width: 13px;
	height: 11px;
}

.icon-aligncenter {
	background-position: -275px -110px;
	width: 12px;
	height: 11px;
}

.icon-alignleft {
	background-position: -287px -110px;
	width: 12px;
	height: 11px;
}

.icon-alignright {
	background-position: -275px -121px;
	width: 12px;
	height: 11px;
}

.icon-borderstyle {
	background-position: -287px -121px;
	width: 12px;
	height: 11px;
}

.icon-clearfilter {
	background-position: -275px -132px;
	width: 12px;
	height: 11px;
}

.icon-decreasedec {
	background-position: -287px -132px;
	width: 12px;
	height: 11px;
}

.icon-decreaseindent {
	background-position: -275px -143px;
	width: 12px;
	height: 11px;
}

.icon-increasedec {
	background-position: -287px -143px;
	width: 12px;
	height: 11px;
}

.icon-increaseindent {
	background-position: -275px -154px;
	width: 12px;
	height: 11px;
}

.icon-justify {
	background-position: -287px -154px;
	width: 12px;
	height: 11px;
}

.icon-resolvedicon {
	background-position: -275px -165px;
	width: 12px;
	height: 11px;
}

.icon-resolveicon {
	background-position: -287px -165px;
	width: 12px;
	height: 11px;
}

.icon-selecttable_cursor {
	background-position: -275px -176px;
	width: 12px;
	height: 11px;
}

.icon-sortandfilter {
	background-position: -287px -176px;
	width: 12px;
	height: 11px;
}

.icon-alignbottom {
	background-position: -288px -99px;
	width: 11px;
	height: 11px;
}

.icon-aligntop {
	background-position: -275px -187px;
	width: 11px;
	height: 11px;
}

.icon-diagonal_down_border {
	background-position: -286px -187px;
	width: 11px;
	height: 11px;
}

.icon-diagonal_up_border {
	background-position: -275px -198px;
	width: 11px;
	height: 11px;
}

.icon-sortatoz {
	background-position: -286px -198px;
	width: 11px;
	height: 11px;
}

.icon-sortztoa {
	background-position: -275px -209px;
	width: 11px;
	height: 11px;
}

.icon-percentstyle {
	background-position: -286px -209px;
	width: 10px;
	height: 11px;
}

.icon-underline {
	background-position: -275px -220px;
	width: 10px;
	height: 11px;
}

.icon-verticaltext {
	background-position: -285px -220px;
	width: 10px;
	height: 11px;
}

.icon-zoomout {
	background-position: -275px -231px;
	width: 10px;
	height: 11px;
}

.icon-rotatedown {
	background-position: -285px -231px;
	width: 9px;
	height: 11px;
}

.icon-highlightcolor {
	background-position: -275px -242px;
	width: 23px;
	height: 10px;
}

.icon-navigationicon {
	background-position: -275px -252px;
	width: 13px;
	height: 10px;
}

.icon-strike {
	background-position: -275px -262px;
	width: 12px;
	height: 10px;
}

.icon-smaller {
	background-position: -288px -252px;
	width: 11px;
	height: 10px;
}

.icon-yellowdiamond {
	background-position: -287px -262px;
	width: 11px;
	height: 10px;
}

.icon-lastsheet {
	background-position: -237px -224px;
	width: 10px;
	height: 10px;
}

.icon-rotateup {
	background-position: -80px -70px;
	width: 9px;
	height: 10px;
}

.icon-bold {
	background-position: -291px -66px;
	width: 8px;
	height: 10px;
}

.icon-nextsheet {
	background-position: -291px -77px;
	width: 8px;
	height: 10px;
}

.icon-previoussheet {
	background-position: -291px -88px;
	width: 8px;
	height: 10px;
}

.icon-italic {
	background-position: -268px -117px;
	width: 7px;
	height: 10px;
}

.icon-redo {
	background-position: -180px -158px;
	width: 17px;
	height: 9px;
}

.icon-undo {
	background-position: -90px -71px;
	width: 17px;
	height: 9px;
}

.icon-selectrow_cursor {
	background-position: 0px -274px;
	width: 12px;
	height: 9px;
}

.icon-horizontaltext {
	background-position: -12px -274px;
	width: 10px;
	height: 9px;
}

.icon-cellrow {
	background-position: -22px -274px;
	width: 9px;
	height: 9px;
}

.icon-resize_square {
	background-position: -31px -274px;
	width: 9px;
	height: 9px;
}

.icon-searchdownbutton {
	background-position: -200px -178px;
	width: 14px;
	height: 8px;
}

.icon-searchupbutton {
	background-position: -40px -274px;
	width: 14px;
	height: 8px;
}

.icon-constantproportions {
	background-position: -54px -274px;
	width: 13px;
	height: 8px;
}

.icon-tabstopcenter_marker {
	background-position: -67px -274px;
	width: 12px;
	height: 8px;
}

.icon-soft {
	background-position: -79px -274px;
	width: 10px;
	height: 8px;
}

.icon-tabstopleft_marker {
	background-position: -267px -221px;
	width: 8px;
	height: 8px;
}

.icon-tabstopright_marker {
	background-position: -267px -234px;
	width: 8px;
	height: 8px;
}

.icon-redo1 {
	background-position: -159px -141px;
	width: 13px;
	height: 6px;
}

.icon-undo1 {
	background-position: -89px -274px;
	width: 13px;
	height: 6px;
}

.icon-nextpage {
	background-position: -294px -231px;
	width: 5px;
	height: 6px;
}

.icon-previouspage {
	background-position: -270px -39px;
	width: 5px;
	height: 6px;
}

.icon-tab {
	background-position: -147px -82px;
	width: 10px;
	height: 5px;
}

.icon-connectionpoint {
	background-position: -294px -237px;
	width: 5px;
	height: 5px;
}

.icon-nonbreakspace {
	background-position: -270px -45px;
	width: 5px;
	height: 5px;
}

.icon-square {
	background-position: -270px -52px;
	width: 5px;
	height: 5px;
}

.icon-space {
	background-position: -297px -22px;
	width: 2px;
	height: 3px;
}

