@import "../../../../../common/main/resources/help/images/symbols.css";

.big{
	background-image: url(../images/big.png);
	background-repeat: no-repeat;
	display: inline-block;
}

.big-iconsets {
	background-position: 0px 0px;
	width: 240px;
	height: 407px;
}

.big-moving_image {
	background-position: -240px 0px;
	width: 420px;
	height: 293px;
}

.big-editpoints_example {
	background-position: 0px -407px;
	width: 236px;
	height: 237px;
}

.big-reshaping {
	background-position: -236px -407px;
	width: 147px;
	height: 162px;
}

.big-relativereference {
	background-position: -660px 0px;
	width: 449px;
	height: 159px;
}

.big-maintain_proportions {
	background-position: -660px -159px;
	width: 146px;
	height: 144px;
}

.big-connectors_moveshape {
	background-position: -806px -159px;
	width: 267px;
	height: 134px;
}

.big-nestedfraction {
	background-position: -660px -303px;
	width: 257px;
	height: 134px;
}

.big-formatastext {
	background-position: -660px -437px;
	width: 257px;
	height: 115px;
}

.big-newslot {
	background-position: -383px -407px;
	width: 193px;
	height: 115px;
}

.big-colorscales {
	background-position: -917px -303px;
	width: 142px;
	height: 108px;
}

.big-autoforeach {
	background-position: -917px -437px;
	width: 119px;
	height: 103px;
}

.big-sameforall {
	background-position: -240px -293px;
	width: 119px;
	height: 103px;
}

.big-databars_diagrams {
	background-position: -359px -293px;
	width: 263px;
	height: 96px;
}

.big-autofill {
	background-position: 0px -644px;
	width: 195px;
	height: 96px;
}

.big-deleteequation {
	background-position: -195px -644px;
	width: 193px;
	height: 96px;
}

.big-insertedequation {
	background-position: -388px -644px;
	width: 193px;
	height: 96px;
}

.big-sparklines_types {
	background-position: -660px -552px;
	width: 208px;
	height: 87px;
}

.big-connectors_firstshape {
	background-position: -581px -644px;
	width: 267px;
	height: 77px;
}

.big-connectors_secondshape {
	background-position: 0px -740px;
	width: 267px;
	height: 77px;
}

.big-moveelement {
	background-position: -868px -552px;
	width: 188px;
	height: 60px;
}

.big-resizeelement {
	background-position: -236px -569px;
	width: 188px;
	height: 60px;
}

.big-templateslist {
	background-position: -576px -407px;
	width: 83px;
	height: 54px;
}

.big-nonetemplate {
	background-position: -1036px -437px;
	width: 63px;
	height: 48px;
}

.big-rightpart {
	background-position: -383px -522px;
	width: 173px;
	height: 30px;
}

.big-spellchecking_language {
	background-position: -917px -411px;
	width: 180px;
	height: 26px;
}

.big-fontfamily {
	background-position: -868px -612px;
	width: 87px;
	height: 22px;
}

.big-pagebreak {
	background-position: -806px -293px;
	width: 185px;
	height: 9px;
}

.big-sectionbreak {
	background-position: -240px -396px;
	width: 200px;
	height: 8px;
}

.icon{
	background-image: url(../images/icons.png);
	background-repeat: no-repeat;
	display: inline-block;
}

.icon-pixabay_store_icon {
	background-position: 0px 0px;
	width: 120px;
	height: 37px;
}

.icon-highlight {
	background-position: 0px -37px;
	width: 28px;
	height: 28px;
}

.icon-photoeditor {
	background-position: -28px -37px;
	width: 28px;
	height: 28px;
}

.icon-youtube {
	background-position: -56px -37px;
	width: 28px;
	height: 28px;
}

.icon-thumbnailsettingicon {
	background-position: -84px -37px;
	width: 34px;
	height: 27px;
}

.icon-translator {
	background-position: 0px -65px;
	width: 26px;
	height: 26px;
}

.icon-favorites_icon {
	background-position: -26px -65px;
	width: 26px;
	height: 25px;
}

.icon-conditionalformatting_button {
	background-position: -52px -65px;
	width: 32px;
	height: 24px;
}

.icon-help {
	background-position: -84px -65px;
	width: 24px;
	height: 24px;
}

.icon-rainbow_icon {
	background-position: 0px -91px;
	width: 24px;
	height: 24px;
}

.icon-telegram_icon {
	background-position: -24px -91px;
	width: 24px;
	height: 24px;
}

.icon-slicer_icon {
	background-position: -48px -91px;
	width: 21px;
	height: 24px;
}

.icon-arrow {
	background-position: -69px -91px;
	width: 23px;
	height: 23px;
}

.icon-insert_pivot {
	background-position: -92px -91px;
	width: 23px;
	height: 23px;
}

.icon-list_worksheets {
	background-position: -120px 0px;
	width: 23px;
	height: 23px;
}

.icon-change_case {
	background-position: 0px -115px;
	width: 45px;
	height: 22px;
}

.icon-fontsize {
	background-position: -45px -115px;
	width: 45px;
	height: 22px;
}

.icon-rowsandcolumns {
	background-position: -90px -115px;
	width: 45px;
	height: 22px;
}

.icon-SearchOptions {
	background-position: -143px 0px;
	width: 42px;
	height: 22px;
}

.icon-verticalalignment {
	background-position: -143px -22px;
	width: 33px;
	height: 22px;
}

.icon-pastespecialbutton {
	background-position: -143px -44px;
	width: 30px;
	height: 22px;
}

.icon-sparklines_button {
	background-position: -143px -66px;
	width: 28px;
	height: 22px;
}

.icon-thesaurus_icon {
	background-position: -143px -88px;
	width: 28px;
	height: 22px;
}

.icon-addworksheet {
	background-position: -143px -110px;
	width: 24px;
	height: 22px;
}

.icon-ascendingbutton {
	background-position: -120px -23px;
	width: 22px;
	height: 22px;
}

.icon-descendingbutton {
	background-position: -120px -45px;
	width: 22px;
	height: 22px;
}

.icon-go_to_the_next_word {
	background-position: -120px -67px;
	width: 22px;
	height: 22px;
}

.icon-inserttexticon {
	background-position: -120px -89px;
	width: 22px;
	height: 22px;
}

.icon-pagebreak1 {
	background-position: 0px -137px;
	width: 21px;
	height: 22px;
}

.icon-printareabutton {
	background-position: -21px -137px;
	width: 20px;
	height: 22px;
}

.icon-calculationicon {
	background-position: -167px -110px;
	width: 18px;
	height: 22px;
}

.icon-coeditingmode {
	background-position: -41px -137px;
	width: 18px;
	height: 22px;
}

.icon-header_footer_icon {
	background-position: -59px -137px;
	width: 18px;
	height: 22px;
}

.icon-versionhistoryicon {
	background-position: -77px -137px;
	width: 24px;
	height: 21px;
}

.icon-pivot_refresh {
	background-position: -101px -137px;
	width: 21px;
	height: 21px;
}

.icon-selectall {
	background-position: -122px -137px;
	width: 27px;
	height: 20px;
}

.icon-dataval_icon {
	background-position: -149px -137px;
	width: 26px;
	height: 20px;
}

.icon-sheetview_icon {
	background-position: 0px -159px;
	width: 25px;
	height: 20px;
}

.icon-bringforward_toptoolbar {
	background-position: -25px -159px;
	width: 20px;
	height: 20px;
}

.icon-changecolorscheme {
	background-position: -45px -159px;
	width: 20px;
	height: 20px;
}

.icon-chatgpt_icon {
	background-position: -65px -159px;
	width: 20px;
	height: 20px;
}

.icon-constantproportionsactivated {
	background-position: -85px -159px;
	width: 20px;
	height: 20px;
}

.icon-copystyle_selected {
	background-position: -105px -159px;
	width: 20px;
	height: 20px;
}

.icon-group_toptoolbar {
	background-position: -125px -159px;
	width: 20px;
	height: 20px;
}

.icon-image {
	background-position: -145px -159px;
	width: 20px;
	height: 20px;
}

.icon-insertautoshape {
	background-position: -165px -159px;
	width: 20px;
	height: 20px;
}

.icon-insert_symbol_icon {
	background-position: -185px 0px;
	width: 20px;
	height: 20px;
}

.icon-pixabay_icon {
	background-position: -185px -20px;
	width: 20px;
	height: 20px;
}

.icon-scaletofit {
	background-position: -185px -40px;
	width: 20px;
	height: 20px;
}

.icon-sendbackward_toptoolbar {
	background-position: -185px -60px;
	width: 20px;
	height: 20px;
}

.icon-show_password {
	background-position: -185px -80px;
	width: 20px;
	height: 20px;
}

.icon-sortcommentsicon {
	background-position: -185px -100px;
	width: 20px;
	height: 20px;
}

.icon-vector {
	background-position: -185px -120px;
	width: 20px;
	height: 20px;
}

.icon-zoom_icon {
	background-position: -185px -140px;
	width: 20px;
	height: 20px;
}

.icon-align_toptoolbar {
	background-position: 0px -179px;
	width: 19px;
	height: 20px;
}

.icon-inserttextarticon {
	background-position: -19px -179px;
	width: 16px;
	height: 20px;
}

.icon-chat_toptoolbar {
	background-position: -35px -179px;
	width: 24px;
	height: 19px;
}

.icon-chart {
	background-position: -59px -179px;
	width: 22px;
	height: 19px;
}

.icon-comment_toptoolbar {
	background-position: -81px -179px;
	width: 22px;
	height: 19px;
}

.icon-insertequationicon {
	background-position: -103px -179px;
	width: 22px;
	height: 19px;
}

.icon-pivotselecticon {
	background-position: -125px -179px;
	width: 22px;
	height: 19px;
}

.icon-functionicon {
	background-position: -185px -160px;
	width: 20px;
	height: 19px;
}

.icon-paste_style {
	background-position: -147px -179px;
	width: 20px;
	height: 19px;
}

.icon-addhyperlink {
	background-position: -167px -179px;
	width: 19px;
	height: 19px;
}

.icon-hiderulers {
	background-position: -186px -179px;
	width: 19px;
	height: 19px;
}

.icon-removecomment_toptoolbar {
	background-position: -205px 0px;
	width: 15px;
	height: 19px;
}

.icon-customsort {
	background-position: 0px -199px;
	width: 18px;
	height: 18px;
}

.icon-new_icon {
	background-position: -18px -199px;
	width: 18px;
	height: 18px;
}

.icon-search_advanced {
	background-position: -36px -199px;
	width: 18px;
	height: 18px;
}

.icon-searchbuttons {
	background-position: -54px -199px;
	width: 33px;
	height: 17px;
}

.icon-horizontalalignment {
	background-position: -87px -199px;
	width: 31px;
	height: 17px;
}

.icon-backgroundcolor {
	background-position: -118px -199px;
	width: 25px;
	height: 17px;
}

.icon-removeduplicates_icon {
	background-position: -143px -199px;
	width: 24px;
	height: 17px;
}

.icon-table {
	background-position: -167px -199px;
	width: 22px;
	height: 17px;
}

.icon-changecolumnwidthcursor {
	background-position: -189px -199px;
	width: 21px;
	height: 17px;
}

.icon-sharingicon {
	background-position: -220px 0px;
	width: 21px;
	height: 17px;
}

.icon-groupicon {
	background-position: -220px -17px;
	width: 19px;
	height: 17px;
}

.icon-selectdata_icon {
	background-position: -220px -34px;
	width: 19px;
	height: 17px;
}

.icon-ungroupicon {
	background-position: -220px -51px;
	width: 19px;
	height: 17px;
}

.icon-search_icon_header {
	background-position: -220px -68px;
	width: 17px;
	height: 17px;
}

.icon-insertslicer {
	background-position: -220px -85px;
	width: 16px;
	height: 17px;
}

.icon-slicer_settings {
	background-position: -220px -102px;
	width: 16px;
	height: 17px;
}

.icon-addgradientpoint {
	background-position: -220px -119px;
	width: 12px;
	height: 17px;
}

.icon-removegradientpoint {
	background-position: -220px -136px;
	width: 12px;
	height: 17px;
}

.icon-levelnumbericons {
	background-position: 0px -217px;
	width: 48px;
	height: 16px;
}

.icon-chartelements {
	background-position: -48px -217px;
	width: 25px;
	height: 16px;
}

.icon-usersnumber {
	background-position: -73px -217px;
	width: 22px;
	height: 16px;
}

.icon-close_icon {
	background-position: -220px -153px;
	width: 18px;
	height: 16px;
}

.icon-saveupdate {
	background-position: -220px -169px;
	width: 18px;
	height: 16px;
}

.icon-savewhilecoediting {
	background-position: -220px -185px;
	width: 17px;
	height: 16px;
}

.icon-collapserowsicon {
	background-position: -220px -201px;
	width: 16px;
	height: 16px;
}

.icon-converttorange {
	background-position: -95px -217px;
	width: 16px;
	height: 16px;
}

.icon-dropdownarrow {
	background-position: -111px -217px;
	width: 16px;
	height: 16px;
}

.icon-editcommenticon {
	background-position: -127px -217px;
	width: 16px;
	height: 16px;
}

.icon-expandrowsicon {
	background-position: -143px -217px;
	width: 16px;
	height: 16px;
}

.icon-filterbutton {
	background-position: -159px -217px;
	width: 16px;
	height: 16px;
}

.icon-firstlevelicon {
	background-position: -175px -217px;
	width: 16px;
	height: 16px;
}

.icon-highesttolowest {
	background-position: -191px -217px;
	width: 16px;
	height: 16px;
}

.icon-highesttolowest1 {
	background-position: -207px -217px;
	width: 16px;
	height: 16px;
}

.icon-lowesttohighest {
	background-position: -223px -217px;
	width: 16px;
	height: 16px;
}

.icon-lowesttohighest1 {
	background-position: -241px 0px;
	width: 16px;
	height: 16px;
}

.icon-pivot_settings {
	background-position: -241px -16px;
	width: 16px;
	height: 16px;
}

.icon-secondlevelicon {
	background-position: -241px -32px;
	width: 16px;
	height: 16px;
}

.icon-thirdlevelicon {
	background-position: -241px -48px;
	width: 16px;
	height: 16px;
}

.icon-distributevertically {
	background-position: -241px -64px;
	width: 14px;
	height: 16px;
}

.icon-textart_settings_icon {
	background-position: -241px -80px;
	width: 12px;
	height: 16px;
}

.icon-namedrangesicon {
	background-position: 0px -233px;
	width: 23px;
	height: 15px;
}

.icon-search_options {
	background-position: -23px -233px;
	width: 22px;
	height: 15px;
}

.icon-access_rights {
	background-position: -45px -233px;
	width: 19px;
	height: 15px;
}

.icon-chaticon {
	background-position: -64px -233px;
	width: 18px;
	height: 15px;
}

.icon-gotodocuments {
	background-position: -82px -233px;
	width: 18px;
	height: 15px;
}

.icon-chaticon_new {
	background-position: -100px -233px;
	width: 17px;
	height: 15px;
}

.icon-print {
	background-position: -117px -233px;
	width: 17px;
	height: 15px;
}

.icon-bgcolor {
	background-position: -241px -96px;
	width: 16px;
	height: 15px;
}

.icon-about {
	background-position: -241px -111px;
	width: 15px;
	height: 15px;
}

.icon-abouticon {
	background-position: -241px -126px;
	width: 15px;
	height: 15px;
}

.icon-advanced_settings_icon {
	background-position: -241px -141px;
	width: 15px;
	height: 15px;
}

.icon-insertpivot {
	background-position: -241px -156px;
	width: 15px;
	height: 15px;
}

.icon-plus {
	background-position: -241px -171px;
	width: 15px;
	height: 15px;
}

.icon-plus_sheet {
	background-position: -241px -186px;
	width: 15px;
	height: 15px;
}

.icon-save {
	background-position: -241px -201px;
	width: 15px;
	height: 15px;
}

.icon-tabstopcenter {
	background-position: -241px -216px;
	width: 15px;
	height: 15px;
}

.icon-tabstopleft {
	background-position: -205px -19px;
	width: 15px;
	height: 15px;
}

.icon-feedback {
	background-position: -205px -34px;
	width: 14px;
	height: 15px;
}

.icon-flipupsidedown {
	background-position: -205px -49px;
	width: 14px;
	height: 15px;
}

.icon-shapesettings {
	background-position: -205px -64px;
	width: 14px;
	height: 15px;
}

.icon-file {
	background-position: -205px -79px;
	width: 13px;
	height: 15px;
}

.icon-back {
	background-position: -205px -94px;
	width: 12px;
	height: 15px;
}

.icon-fontcolor {
	background-position: -134px -233px;
	width: 25px;
	height: 14px;
}

.icon-numbering {
	background-position: -159px -233px;
	width: 24px;
	height: 14px;
}

.icon-spellcheckactivated {
	background-position: -183px -233px;
	width: 17px;
	height: 14px;
}

.icon-spellcheckdeactivated {
	background-position: -200px -233px;
	width: 17px;
	height: 14px;
}

.icon-distributehorizontally {
	background-position: -217px -233px;
	width: 16px;
	height: 14px;
}

.icon-fliplefttoright {
	background-position: -205px -109px;
	width: 15px;
	height: 14px;
}

.icon-sort {
	background-position: -205px -123px;
	width: 15px;
	height: 14px;
}

.icon-alignobjectbottom {
	background-position: -205px -137px;
	width: 14px;
	height: 14px;
}

.icon-alignobjectleft {
	background-position: -205px -151px;
	width: 14px;
	height: 14px;
}

.icon-alignobjectright {
	background-position: -205px -165px;
	width: 14px;
	height: 14px;
}

.icon-alignobjecttop {
	background-position: -205px -179px;
	width: 14px;
	height: 14px;
}

.icon-bordercolor {
	background-position: -171px -66px;
	width: 14px;
	height: 14px;
}

.icon-borderwidth {
	background-position: -171px -88px;
	width: 14px;
	height: 14px;
}

.icon-chartsettingsicon {
	background-position: -233px -233px;
	width: 14px;
	height: 14px;
}

.icon-clearicon {
	background-position: -257px 0px;
	width: 14px;
	height: 14px;
}

.icon-commentsicon {
	background-position: -257px -14px;
	width: 14px;
	height: 14px;
}

.icon-deleteicon {
	background-position: -257px -28px;
	width: 14px;
	height: 14px;
}

.icon-function {
	background-position: -257px -42px;
	width: 14px;
	height: 14px;
}

.icon-group {
	background-position: -257px -56px;
	width: 14px;
	height: 14px;
}

.icon-image_settings_icon {
	background-position: -257px -70px;
	width: 14px;
	height: 14px;
}

.icon-searchicon {
	background-position: -257px -84px;
	width: 14px;
	height: 14px;
}

.icon-shape_settings_icon {
	background-position: -257px -98px;
	width: 14px;
	height: 14px;
}

.icon-ungroup {
	background-position: -257px -112px;
	width: 14px;
	height: 14px;
}

.icon-alignobjectcenter {
	background-position: -257px -126px;
	width: 13px;
	height: 14px;
}

.icon-copystyle {
	background-position: -257px -140px;
	width: 12px;
	height: 14px;
}

.icon-gradientslider {
	background-position: -257px -154px;
	width: 12px;
	height: 14px;
}

.icon-hard {
	background-position: -257px -168px;
	width: 9px;
	height: 14px;
}

.icon-clear {
	background-position: 0px -248px;
	width: 26px;
	height: 13px;
}

.icon-outline {
	background-position: -26px -248px;
	width: 25px;
	height: 13px;
}

.icon-bullets {
	background-position: -51px -248px;
	width: 24px;
	height: 13px;
}

.icon-insertfunction {
	background-position: -75px -248px;
	width: 24px;
	height: 13px;
}

.icon-orientation {
	background-position: -99px -248px;
	width: 24px;
	height: 13px;
}

.icon-insertchart {
	background-position: -123px -248px;
	width: 22px;
	height: 13px;
}

.icon-insert_dropcap_icon {
	background-position: -145px -248px;
	width: 22px;
	height: 13px;
}

.icon-headerfooter {
	background-position: -167px -248px;
	width: 21px;
	height: 13px;
}

.icon-insertcells {
	background-position: -188px -248px;
	width: 21px;
	height: 13px;
}

.icon-pagesize {
	background-position: -209px -248px;
	width: 20px;
	height: 13px;
}

.icon-cut {
	background-position: -229px -248px;
	width: 16px;
	height: 13px;
}

.icon-removeduplicates {
	background-position: -245px -248px;
	width: 16px;
	height: 13px;
}

.icon-text_autoshape {
	background-position: -271px 0px;
	width: 16px;
	height: 13px;
}

.icon-changerange {
	background-position: -271px -13px;
	width: 15px;
	height: 13px;
}

.icon-feedbackicon {
	background-position: -271px -26px;
	width: 15px;
	height: 13px;
}

.icon-greencircle {
	background-position: -271px -39px;
	width: 15px;
	height: 13px;
}

.icon-replace {
	background-position: -271px -52px;
	width: 15px;
	height: 13px;
}

.icon-alignobjectmiddle {
	background-position: -271px -65px;
	width: 14px;
	height: 13px;
}

.icon-clearstyle {
	background-position: -271px -78px;
	width: 14px;
	height: 13px;
}

.icon-copy {
	background-position: -271px -91px;
	width: 14px;
	height: 13px;
}

.icon-hyperlink {
	background-position: -271px -104px;
	width: 14px;
	height: 13px;
}

.icon-multiselect {
	background-position: -271px -117px;
	width: 14px;
	height: 13px;
}

.icon-paste {
	background-position: -271px -130px;
	width: 14px;
	height: 13px;
}

.icon-select_all {
	background-position: -271px -143px;
	width: 14px;
	height: 13px;
}

.icon-wraptext {
	background-position: -271px -156px;
	width: 14px;
	height: 13px;
}

.icon-allborders {
	background-position: -271px -169px;
	width: 13px;
	height: 13px;
}

.icon-bottomborders {
	background-position: -271px -182px;
	width: 13px;
	height: 13px;
}

.icon-bringforward {
	background-position: -271px -195px;
	width: 13px;
	height: 13px;
}

.icon-bringtofront {
	background-position: -271px -208px;
	width: 13px;
	height: 13px;
}

.icon-document_language {
	background-position: -271px -221px;
	width: 13px;
	height: 13px;
}

.icon-dropcap_margin {
	background-position: -271px -234px;
	width: 13px;
	height: 13px;
}

.icon-dropcap_none {
	background-position: -271px -247px;
	width: 13px;
	height: 13px;
}

.icon-dropcap_text {
	background-position: -257px -182px;
	width: 13px;
	height: 13px;
}

.icon-equationplaceholder {
	background-position: -257px -195px;
	width: 13px;
	height: 13px;
}

.icon-fitpage {
	background-position: -257px -208px;
	width: 13px;
	height: 13px;
}

.icon-fitwidth {
	background-position: -257px -221px;
	width: 13px;
	height: 13px;
}

.icon-insideborders {
	background-position: -257px -234px;
	width: 13px;
	height: 13px;
}

.icon-insidehorizontalborders {
	background-position: 0px -261px;
	width: 13px;
	height: 13px;
}

.icon-insideverticalborders {
	background-position: -13px -261px;
	width: 13px;
	height: 13px;
}

.icon-leftborders {
	background-position: -26px -261px;
	width: 13px;
	height: 13px;
}

.icon-noborders {
	background-position: -39px -261px;
	width: 13px;
	height: 13px;
}

.icon-outsideborders {
	background-position: -52px -261px;
	width: 13px;
	height: 13px;
}

.icon-rightborders {
	background-position: -65px -261px;
	width: 13px;
	height: 13px;
}

.icon-sendbackward {
	background-position: -78px -261px;
	width: 13px;
	height: 13px;
}

.icon-sendtoback {
	background-position: -91px -261px;
	width: 13px;
	height: 13px;
}

.icon-topborders {
	background-position: -104px -261px;
	width: 13px;
	height: 13px;
}

.icon-zoomin {
	background-position: -117px -261px;
	width: 13px;
	height: 13px;
}

.icon-currencystyle {
	background-position: -173px -44px;
	width: 12px;
	height: 13px;
}

.icon-insertpagenumber {
	background-position: -108px -65px;
	width: 12px;
	height: 13px;
}

.icon-rotateclockwise {
	background-position: -130px -261px;
	width: 12px;
	height: 13px;
}

.icon-rotatecounterclockwise {
	background-position: -142px -261px;
	width: 12px;
	height: 13px;
}

.icon-alignmiddle {
	background-position: -154px -261px;
	width: 11px;
	height: 13px;
}

.icon-textsettings {
	background-position: -175px -137px;
	width: 10px;
	height: 13px;
}

.icon-accountingstyle {
	background-position: -165px -261px;
	width: 26px;
	height: 12px;
}

.icon-cellsettings_rightpanel {
	background-position: -191px -261px;
	width: 15px;
	height: 12px;
}

.icon-decreasedecimal {
	background-position: -206px -261px;
	width: 14px;
	height: 12px;
}

.icon-slicer_clearfilter {
	background-position: -220px -261px;
	width: 14px;
	height: 12px;
}

.icon-increasedecimal {
	background-position: -234px -261px;
	width: 13px;
	height: 12px;
}

.icon-angleclockwise {
	background-position: -247px -261px;
	width: 12px;
	height: 12px;
}

.icon-anglecounterclockwise {
	background-position: -259px -261px;
	width: 12px;
	height: 12px;
}

.icon-circle {
	background-position: -271px -261px;
	width: 12px;
	height: 12px;
}

.icon-firstsheet {
	background-position: 0px -274px;
	width: 12px;
	height: 12px;
}

.icon-larger {
	background-position: -12px -274px;
	width: 12px;
	height: 12px;
}

.icon-nofill {
	background-position: -24px -274px;
	width: 12px;
	height: 12px;
}

.icon-sup {
	background-position: -36px -274px;
	width: 12px;
	height: 12px;
}

.icon-deletecommenticon {
	background-position: -48px -274px;
	width: 11px;
	height: 12px;
}

.icon-selectcolumn_cursor {
	background-position: -59px -274px;
	width: 11px;
	height: 12px;
}

.icon-tabletemplate {
	background-position: -70px -274px;
	width: 26px;
	height: 11px;
}

.icon-merge {
	background-position: -96px -274px;
	width: 24px;
	height: 11px;
}

.icon-subscripticon {
	background-position: -120px -274px;
	width: 24px;
	height: 11px;
}

.icon-addborders {
	background-position: -144px -274px;
	width: 22px;
	height: 11px;
}

.icon-deletecells {
	background-position: -166px -274px;
	width: 21px;
	height: 11px;
}

.icon-linespacing {
	background-position: -187px -274px;
	width: 21px;
	height: 11px;
}

.icon-nonprintingcharacters {
	background-position: -208px -274px;
	width: 20px;
	height: 11px;
}

.icon-namedranges {
	background-position: -228px -274px;
	width: 16px;
	height: 11px;
}

.icon-table_settings_icon {
	background-position: -244px -274px;
	width: 16px;
	height: 11px;
}

.icon-viewsettingsicon {
	background-position: -260px -274px;
	width: 16px;
	height: 11px;
}

.icon-sub {
	background-position: -287px 0px;
	width: 13px;
	height: 11px;
}

.icon-aligncenter {
	background-position: -287px -11px;
	width: 12px;
	height: 11px;
}

.icon-alignleft {
	background-position: -287px -22px;
	width: 12px;
	height: 11px;
}

.icon-alignright {
	background-position: -287px -33px;
	width: 12px;
	height: 11px;
}

.icon-borderstyle {
	background-position: -287px -44px;
	width: 12px;
	height: 11px;
}

.icon-clearfilter {
	background-position: -287px -55px;
	width: 12px;
	height: 11px;
}

.icon-decreasedec {
	background-position: -287px -66px;
	width: 12px;
	height: 11px;
}

.icon-decreaseindent {
	background-position: -287px -77px;
	width: 12px;
	height: 11px;
}

.icon-increasedec {
	background-position: -287px -88px;
	width: 12px;
	height: 11px;
}

.icon-increaseindent {
	background-position: -287px -99px;
	width: 12px;
	height: 11px;
}

.icon-justify {
	background-position: -287px -110px;
	width: 12px;
	height: 11px;
}

.icon-resolvedicon {
	background-position: -287px -121px;
	width: 12px;
	height: 11px;
}

.icon-resolveicon {
	background-position: -287px -132px;
	width: 12px;
	height: 11px;
}

.icon-selecttable_cursor {
	background-position: -287px -143px;
	width: 12px;
	height: 11px;
}

.icon-sortandfilter {
	background-position: -287px -154px;
	width: 12px;
	height: 11px;
}

.icon-alignbottom {
	background-position: -287px -165px;
	width: 11px;
	height: 11px;
}

.icon-aligntop {
	background-position: -287px -176px;
	width: 11px;
	height: 11px;
}

.icon-diagonal_down_border {
	background-position: -287px -187px;
	width: 11px;
	height: 11px;
}

.icon-diagonal_up_border {
	background-position: -287px -198px;
	width: 11px;
	height: 11px;
}

.icon-sortatoz {
	background-position: -287px -209px;
	width: 11px;
	height: 11px;
}

.icon-sortztoa {
	background-position: -287px -220px;
	width: 11px;
	height: 11px;
}

.icon-percentstyle {
	background-position: -287px -231px;
	width: 10px;
	height: 11px;
}

.icon-underline {
	background-position: -287px -242px;
	width: 10px;
	height: 11px;
}

.icon-verticaltext {
	background-position: -287px -253px;
	width: 10px;
	height: 11px;
}

.icon-zoomout {
	background-position: -287px -264px;
	width: 10px;
	height: 11px;
}

.icon-rotatedown {
	background-position: -287px -275px;
	width: 9px;
	height: 11px;
}

.icon-commastyle {
	background-position: -232px -119px;
	width: 7px;
	height: 11px;
}

.icon-highlightcolor {
	background-position: 0px -286px;
	width: 23px;
	height: 10px;
}

.icon-navigationicon {
	background-position: -23px -286px;
	width: 13px;
	height: 10px;
}

.icon-strike {
	background-position: -108px -78px;
	width: 12px;
	height: 10px;
}

.icon-smaller {
	background-position: -276px -274px;
	width: 11px;
	height: 10px;
}

.icon-yellowdiamond {
	background-position: -36px -286px;
	width: 11px;
	height: 10px;
}

.icon-lastsheet {
	background-position: -210px -199px;
	width: 10px;
	height: 10px;
}

.icon-rotateup {
	background-position: -232px -136px;
	width: 9px;
	height: 10px;
}

.icon-bold {
	background-position: -176px -22px;
	width: 8px;
	height: 10px;
}

.icon-nextsheet {
	background-position: -176px -32px;
	width: 8px;
	height: 10px;
}

.icon-previoussheet {
	background-position: -135px -115px;
	width: 8px;
	height: 10px;
}

.icon-italic {
	background-position: -135px -125px;
	width: 7px;
	height: 10px;
}

.icon-redo {
	background-position: -47px -286px;
	width: 17px;
	height: 9px;
}

.icon-undo {
	background-position: -64px -286px;
	width: 17px;
	height: 9px;
}

.icon-selectrow_cursor {
	background-position: -173px -57px;
	width: 12px;
	height: 9px;
}

.icon-horizontaltext {
	background-position: -247px -233px;
	width: 10px;
	height: 9px;
}

.icon-cellrow {
	background-position: -261px -248px;
	width: 9px;
	height: 9px;
}

.icon-resize_square {
	background-position: -81px -286px;
	width: 9px;
	height: 9px;
}

.icon-searchdownbutton {
	background-position: -171px -80px;
	width: 14px;
	height: 8px;
}

.icon-searchupbutton {
	background-position: -171px -102px;
	width: 14px;
	height: 8px;
}

.icon-constantproportions {
	background-position: -90px -286px;
	width: 13px;
	height: 8px;
}

.icon-tabstopcenter_marker {
	background-position: -103px -286px;
	width: 12px;
	height: 8px;
}

.icon-soft {
	background-position: -115px -286px;
	width: 10px;
	height: 8px;
}

.icon-tabstopleft_marker {
	background-position: -125px -286px;
	width: 8px;
	height: 8px;
}

.icon-tabstopright_marker {
	background-position: -133px -286px;
	width: 8px;
	height: 8px;
}

.icon-redo1 {
	background-position: -205px -193px;
	width: 13px;
	height: 6px;
}

.icon-undo1 {
	background-position: -141px -286px;
	width: 13px;
	height: 6px;
}

.icon-nextpage {
	background-position: -266px -168px;
	width: 5px;
	height: 6px;
}

.icon-previouspage {
	background-position: -266px -174px;
	width: 5px;
	height: 6px;
}

.icon-tab {
	background-position: -143px -132px;
	width: 10px;
	height: 5px;
}

.icon-connectionpoint {
	background-position: -236px -85px;
	width: 5px;
	height: 5px;
}

.icon-nonbreakspace {
	background-position: -236px -90px;
	width: 5px;
	height: 5px;
}

.icon-square {
	background-position: -236px -95px;
	width: 5px;
	height: 5px;
}

.icon-space {
	background-position: -298px -165px;
	width: 2px;
	height: 3px;
}

