
.settings-panel {
}

.right-panel .settings-panel {
    label.input-label{
        vertical-align: baseline;
    }
}

.combo-pattern-item {
    .background-ximage-all('right-panels/patterns.png', 112px);
}

.combo-dataview-menu {
    .form-control {
        cursor: pointer;
        background-color: @background-normal-ie;
        background-color: @background-normal;

        &.text {
            background: @background-normal-ie;
            background: @background-normal;
            vertical-align: bottom;
        }
    }
}

.item-gradient {
    .background-ximage-all('right-panels/gradients.png', 150px);
    width:50px;
    height:50px;
}

.item-gradient-separator {
    margin-right: 62px !important;
}

.gradient-left-top {
    background-position: 0 0;
}

.gradient-top {
    background-position: -50px 0;
}

.gradient-right-top {
    background-position: -100px 0;
}

.gradient-left {
    background-position: 0 -50px;
}

.gradient-right {
    background-position: -100px -50px;
}

.gradient-left-bottom {
    background-position: 0 -100px;
}

.gradient-bottom {
    background-position: -50px -100px;
}

.gradient-right-bottom {
    background-position: -100px -100px;
}

.gradient-radial-center {
    background-position: -100px -150px;
}

.item-wrap {
    width:50px;
    height:50px;
    background-size: cover;
}

#table-combo-template .combo-dataview {
    .combo-template(60px);
}

.pivot-check-listview {
    background-color: #fff;
    width: 100%;
    height: 250px;

    .item {
        padding-right: 3px;
    }

    .list-item {
        width: 146px;
        margin-left:20px;
        display: inline-block;
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
    }

    .listitem-icon {
        vertical-align: middle;
        width: 16px;
        height: 16px;
        background-position: -1px -274px;
        display: inline-block;
    }
}

.pivot-listview {
    background-color: #fff;
    width: 95px;
    height: 130px;

    .listview:not(.disabled) > .item {
        padding: 3px;
        border-top: none;
        &.insert {
            background: linear-gradient(to bottom, #656565, #fff 5%);
            &.last {
                background: linear-gradient(to top, #656565, #fff 5%);
            }
        }
        &:hover {
            border-top: none;
        }
    }

    .list-item > div:nth-child(1) {
        width:65px;
        padding-right: 0;
        display: inline-block;
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
    }

    .listitem-icon {
        vertical-align: middle;
        width: 22px;
        height: 16px;
        background-position: 1px -274px;
        display: inline-block;
    }
}

#signature-requested-sign,
#signature-valid-sign,
#signature-invalid-sign {
    height: 100%;
    overflow: hidden;
    margin: 0 -10px 0 -15px;

    .item {
        display: block;
        border: none;
        width: 100%;
        .box-shadow(none);
        margin: 0;

        &:hover,
        &.over {
            background-color: @highlight-button-hover-ie;
            background-color: @highlight-button-hover;

            .caret {
                display: inline-block;
            }
        }
    }

    .signature-item {
        padding: 5px 2px 5px 15px;
        text-overflow: ellipsis;
        min-height: 25px;

        .name {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            cursor: pointer;
            max-width: 160px;
            text-overflow: ellipsis;
        }

        .caret {
            width: 23px;
            height: 14px;
            border: 0;
            background-position: -43px -150px;
            margin: 8px 15px;
            display: none;
            position: absolute;
            right: 0;

            &.nomargin {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}

.combo-border-size.cell-border-type {
    img, .image {
        background-image: ~"url(@{app-image-const-path}/toolbar/BorderSize.png)";
        background-size: 60px auto;

        .pixel-ratio__1_25 & {
            background-image: ~"url(@{app-image-const-path}/toolbar/BorderSize@1.25x.png)";
        }

        .pixel-ratio__1_5 & {
            background-image: ~"url(@{app-image-const-path}/toolbar/BorderSize@1.5x.png)";
        }

        .pixel-ratio__1_75 & {
            background-image: ~"url(@{app-image-const-path}/toolbar/BorderSize@1.75x.png)";
        }

        .pixel-ratio__2 & {
            background-image: ~"url(@{app-image-const-path}/toolbar/BorderSize@2x.png)";
        }
    }
}

.sheet-template-slicer {
    width: 56px;
    height: 55px;
}

.menu-slicer-template {
    .item {
        border: none;
        .box-shadow(none);
    }
}

.iconset {
    .iconset-label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .dataview > .item:not(:hover):not(.selected) {
        .box-shadow(none);
    }
}
