
#spellcheck-box {
    padding: 20px 15px 0;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#spellcheck-current-word {
    vertical-align: top;
    width: 100%;
    display: inline-block;
}

#spellcheck-next {
    display: inline-block;
}

#spellcheck-suggestions-list {
    width: 100%;
    height: 116px;
    background-color: @background-normal-ie;
    background-color: @background-normal;
    margin-bottom: 8px;
}

#spellcheck-change {
    display: inline-block;
    padding-bottom: 16px;
}

#spellcheck-ignore {
    margin-left: 9px;
    display: inline-block;
}

#spellcheck-add-to-dictionary {
    min-width: 110px;
    display: block;
    margin-bottom: 16px;
}

#spellcheck-dictionary-language {
    margin-top: 3px;
    padding-bottom: 16px;
    display: flex;
}

#spellcheck-complete {
    display: flex;
}