@tabs-bg-color: #40865c;

.toolbar {
    &.masked {
        button.disabled .icon:not(.no-mask) {
            //background-position-x: 0px !important;
        }
        .group:not(.no-mask) {
            opacity: 0.4;
        }
    }

    .simple-bar {
        display: flex;
        align-items: center;
        border-radius: @border-radius-toolbar-ie;
        border-radius: @border-radius-toolbar;
        position: relative;
        height: 32px;
        background-color: @background-toolbar-ie;
        background-color: @background-toolbar;

        &:before {
            content: '';
            position: absolute;
            box-shadow: @toolbar-simple-shadow-ie;
            box-shadow: @toolbar-simple-shadow;
            width: 100%;
            height: 32px;
            bottom: 0;
            border-radius: @border-radius-toolbar-ie;
            border-radius: @border-radius-toolbar;
        }

        .separator.short {
            margin-top: 1px;
        }

        .elset {
            .pixel-ratio__2_5 & {
                display: flex;
                align-items: center;

                .btn-text-default {
                    justify-content: center;
                }
            }
        }
    }

    .font-attr {
        > .btn-slot:not(:last-child):not(.split),
        > .btn-slot.split:not(:last-child) {
            .margin-right-2();
        }
    }

    .font-attr-top {
        > .btn-slot {
            &:not(:first-child) {
                .margin-left-2();
            }
        }

    }
}

#toolbar {
    .inner-simple-editor & {
        padding-left: 0;
        padding-left: @layout-padding-hor-toolbar-simple;
        padding-right: 0;
        padding-right: @layout-padding-hor-toolbar-simple;
        border-bottom: @toolbar-simple-border-bottom-ie;
        border-bottom: @toolbar-simple-border-bottom;
        overflow: hidden;

        .toolbar {
            height: 41px;
            //padding: 10px 0;

            display: flex;
            flex-direction: column;
            justify-content: center;

            //position: relative;
            //--toolbar-tabs-scroller-height: 38px;
            background-color: @background-pane-ie;
            background-color: @background-pane;
            //-webkit-box-shadow: inset 0 -1px #cbcbcb;
            //box-shadow: inset 0 -1px #cbcbcb;
            //-webkit-box-shadow: inset 0 calc(-1 * var(--scaled-one-pixel, 1px)) var(--border-toolbar);
            //box-shadow: inset 0 calc(-1 * var(--scaled-one-pixel, 1px)) var(--border-toolbar);
        }
    }
}

#cell-editing-box {
    .inner-simple-editor & {
        padding-left: 0;
        padding-right: 0;
        padding-left: @layout-padding-hor-toolbar-simple;
        padding-right: @layout-padding-hor-toolbar-simple;

        .ce-group-expand {
            right: 3px;
            right: @simple-editor-layout-collapse-button-rigth;
        }
    }
    .inner-simple-editor.rtl & {
        .ce-group-expand {
            right: auto;
            left: 3px;
            left: @simple-editor-layout-collapse-button-rigth;
        }
    }
}

.inner-simple-editor {
    .layout-item.middle {
        padding-top: 0;
        padding-top: @toolbar-simple-content-padding-top;
    }
}

.username-tip {
    background-color: #ee3525;
    border: none;
    border-radius: 0;
    padding: 0 10px;
    color: #ffffff;
    .font-size-normal();
    pointer-events: none;
    white-space: nowrap;
    letter-spacing: 1px;
}

#id-toolbar-btn-num-format button .caption {
    display: inline-block;
}

#id-toolbar-mnu-item-border-width,
#format-rules-borders-border-width {
    .border-size-item {
        width: 60px;
        height: 20px;
        margin: -3px 10px -2px;
        svg{
            display: inline-block;
            height: 3px;
            width: 100%;
            fill: @text-normal-ie;
            fill: @text-normal;
            shape-rendering: crispEdges;
        }
    }
}

#slot-field-fontsize {
    width: 45px;
}

#id-docholder-menu-bullets {
    margin: 4px 2px 4px 6px;
    .rtl & {
        margin: 4px 6px 4px 2px;
    }
}

#id-toolbar-menu-symbols {
    display: inline-block;
    width: 158px;
    .padding-left(3px);
    .item {
        .margin-x(6px, 4px);
    }
    .item-symbol {
        font-family: @font-family-base;
        font-size: 14px;
        display: block;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        vertical-align: middle;

    }
}

.item-markerlist {
    width: 40px;
    height: 40px;
}

.item-multilevellist {
    width: 80px;
    height: 80px;
}

#menu-list-number-group {
    .item {
        margin-right: 10px;
        margin-left: 4px;
        margin-bottom: 9px;
        .rtl & {
            margin-right: 4px;
            margin-left: 10px;
        }
    }
    .group-items-container {
        margin-bottom: 0;
    }
}

#menu-list-bullet-group {
    .item {
        margin-right: 2px;
        margin-left: 4px;
        .rtl & {
            margin-right: 4px;
            margin-left: 2px;
        }
    }
}

#id-toolbar-menu-table-templates {
    .group-description {
        padding: 3px 0 3px 10px;
        .font-weight-bold();

        .rtl & {
            padding: 3px 10px 3px 0;
        }
    }
}


.combo-cell-styles, #id-toolbar-btn-cstyle {
    .dropdown-menu {
        padding: 5px 0px !important;
        border-left-style: solid !important;
        border-left-color: @border-regular-control-ie !important;
        border-left-color: @border-regular-control !important;
        border-left-width: @scaled-one-px-value-ie !important;
        border-left-width: @scaled-one-px-value !important;
    }

    .menu-picker-container {
        margin: 0px 5px;
    }

    .group-description {
        padding: 3px 0 3px 10px;
        .font-weight-bold();

        .rtl & {
            padding: 3px 10px 3px 0;
        }
    } 
    
    .group-items-container {
        padding-bottom: 1px;
        padding-right: 1px;
    }
    .grouped-data .group-items-container .item {
        padding: @scaled-two-px-value;
        border: @scaled-one-px-value solid @border-regular-control;
        margin: 0px calc(-1 * @scaled-one-px-value) calc(-1 * @scaled-one-px-value) 0px;
        box-shadow: none;
        &:hover {
            .box-inner-shadow(0 0 0 2px @border-preview-hover-ie) !important;
            .box-inner-shadow(0 0 0 @scaled-two-px-value @border-preview-hover) !important;
        }
  
          &.selected {
            .box-inner-shadow(0 0 0 2px @border-preview-select-ie) !important;
            .box-inner-shadow(0 0 0 @scaled-two-px-value @border-preview-select) !important;
        }
    }
}

#id-toolbar-mnu-item-border-color {
    > span {
        background-image: none;
        width: calc(@x-small-btn-size-ie/2 + 3px);
        height: calc(@x-small-btn-size-ie/2 + 3px);
        width: calc(@x-small-btn-size/2 + 3px);
        height: calc(@x-small-btn-size/2 + 3px);
        margin: 1px 6px 0 calc(-1 * @x-small-btn-size-ie);
        margin: 1px 6px 0 calc(-1 * @x-small-btn-size);
        border-style: solid;
        border-width: 3px;
        border-color: #000;
        border-radius: @border-radius-dataview-item-ie;
        border-radius: @border-radius-dataview-item;

        .rtl & {
            margin: 1px calc(-1 * @x-small-btn-size-ie) 0 6px;
            margin: 1px calc(-1 * @x-small-btn-size) 0 6px;
        }
    }
}

#id-toolbar-menu-auto-bordercolor {
    .color-auto {
        background-image: none;
        width: 12px;
        height: 12px;
        margin: 1px 7px 0 1px;
        background-color: #000;

        .rtl & {
            margin: 1px 1px 0 7px;
        }
    }
}

#slot-btn-format,
#format-rules-edit-combo-num-format,
.format-num-cls {
    .display-value {
        position: absolute;
        left: 0;
        width: 125px;

        .rtl & {
            left: auto;
            right: 0;
        }
    }

    .example-val {
        display: inline-block;
        width: 100%;
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        .text-align-right();
        vertical-align: bottom;
        .padding-left(125px);
        color: silver;
        white-space: nowrap;
    }
}

#id-toolbar-btn-cstyle {
    .style  {
        background-color: @canvas-content-background;
    }
}
