@tabs-bg-color: #40865c;

.toolbar {
    &.masked {
        button.disabled .icon:not(.no-mask) {
            //background-position-x: 0px !important;
        }
        .group:not(.no-mask) {
            opacity: 0.4;
        }
    }

    .simple-bar {
        display: table;
        width: 100%;

        .separator.short {
            margin-top: 1px;
        }

        .elset {
            .pixel-ratio__2_5 & {
                display: flex;
                align-items: center;

                .btn-text-default {
                    justify-content: center;
                }
            }
        }
    }

    .font-attr {
        > .btn-slot:not(:last-child):not(.split),
        > .btn-slot.split:not(:last-child) {
            .margin-right-2();
        }
    }

    .font-attr-top {
        width: 218px;

        > .btn-slot {
            &:not(:first-child) {
                .margin-left-2();
            }
        }

    }
}

.username-tip {
    background-color: #ee3525;
    border: none;
    border-radius: 0;
    padding: 3px 10px;
    color: #ffffff;
    .font-size-normal();
    pointer-events: none;
    white-space: nowrap;
    letter-spacing: 1px;
}

#id-toolbar-btn-num-format button .caption {
    display: inline-block;
}

#id-toolbar-mnu-item-border-width,
#format-rules-borders-border-width {
    .border-size-item {
        width: 60px;
        height: 20px;
        margin: -3px 10px -2px;
        svg{
            display: inline-block;
            height: 3px;
            width: 100%;
            fill: @text-normal-ie;
            fill: @text-normal;
            shape-rendering: crispEdges;
        }
    }
}

#special-paste-container,
#autocorrect-paste-container,
#equation-container {
    position: absolute;
    z-index: @zindex-dropdown - 20;
    background-color: @background-toolbar-ie;
    background-color: @background-toolbar;
    border: @scaled-one-px-value-ie solid @border-regular-control-ie;
    border: @scaled-one-px-value solid @border-regular-control;

    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.2);
    
    &.has-open-menu {
        z-index: @zindex-navbar + 3;
    }
    .ie &,
    .winxp & {
        overflow: visible;
    }
}

#equation-container {
    .separator {
        height: 30px;
    }
    .btn-toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 0px;
    }
}

#slot-field-fontsize {
    width: 45px;
}

#id-docholder-menu-bullets {
    margin: 4px 2px 4px 6px;
    .rtl & {
        margin: 4px 6px 4px 2px;
    }
}

#id-toolbar-menu-symbols {
    display: inline-block;
    width: 158px;
    .padding-left(3px);
    .item {
        .box-shadow(none);
        .margin-x(6px, 4px);
        &:hover, &.selected{
            .box-shadow( 0 0 0 2px @border-preview-select-ie);
            .box-shadow( 0 0 0 @scaled-two-px-value @border-preview-select);
        }
    }
    .item-symbol {
        font-family: @font-family-base;
        font-size: 14px;
        display: block;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        vertical-align: middle;

    }
}

.item-markerlist {
    width: 40px;
    height: 40px;
}

.item-multilevellist {
    width: 80px;
    height: 80px;
}

#menu-list-number-group {
    .item {
        margin-right: 10px;
        margin-left: 4px;
        margin-bottom: 9px;
        .rtl & {
            margin-right: 4px;
            margin-left: 10px;
        }
    }
    .group-items-container {
        margin-bottom: 0;
    }
}

#menu-list-bullet-group {
    .item {
        margin-right: 2px;
        margin-left: 4px;
        .rtl & {
            margin-right: 4px;
            margin-left: 2px;
        }
    }
}

#id-toolbar-menu-table-templates {
    .group-description {
        padding: 3px 0 3px 10px;
        .font-weight-bold();

        .rtl & {
            padding: 3px 10px 3px 0;
        }
    }
}


.combo-cell-styles, #id-toolbar-btn-cstyle {
    .dropdown-menu {
        padding: 5px 0px !important;
        border-left-style: solid !important;
        border-left-color: @border-regular-control-ie !important;
        border-left-color: @border-regular-control !important;
        border-left-width: @scaled-one-px-value-ie !important;
        border-left-width: @scaled-one-px-value !important;
    }

    .menu-picker-container {
        margin: 0px 5px;
    }

    .group-description {
        padding: 3px 0 3px 10px;
        .font-weight-bold();

        .rtl & {
            padding: 3px 10px 3px 0;
        }
    } 
    
    .group-items-container {
        padding-bottom: 1px;
        padding-right: 1px;
    }
    .grouped-data .group-items-container .item {
        padding: @scaled-two-px-value;
        border: @scaled-one-px-value solid @border-regular-control;
        margin: 0px calc(-1 * @scaled-one-px-value) calc(-1 * @scaled-one-px-value) 0px;
        box-shadow: none;
        &:hover {
            .box-shadow(inset 0 0 0 2px @border-preview-hover-ie) !important;
            .box-shadow(inset 0 0 0 @scaled-two-px-value @border-preview-hover) !important;
        }
  
          &.selected {
            .box-shadow(inset 0 0 0 2px @border-preview-select-ie) !important;
            .box-shadow(inset 0 0 0 @scaled-two-px-value @border-preview-select) !important;
        }
    }
}

#id-toolbar-mnu-item-border-color {
    > span {
        background-image: none;
        width: 12px;
        height: 12px;
        margin: 2px 8px 0 -20px;
        border-style: solid;
        border-width: 3px;
        border-color: #000;

        .rtl & {
            margin: 2px -20px 0 8px;
        }
    }
}

#id-toolbar-menu-auto-bordercolor {
    .color-auto {
        background-image: none;
        width: 12px;
        height: 12px;
        margin: 1px 7px 0 1px;
        background-color: #000;

        .rtl & {
            margin: 1px 1px 0 7px;
        }
    }
}

#slot-btn-format,
#format-rules-edit-combo-num-format,
.format-num-cls {
    .display-value {
        position: absolute;
        left: 0;
        width: 125px;

        .rtl & {
            left: auto;
            right: 0;
        }
    }

    .example-val {
        display: inline-block;
        width: 100%;
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        .text-align-right();
        vertical-align: bottom;
        .padding-left(125px);
        color: silver;
        white-space: nowrap;
    }
}

#id-toolbar-btn-cstyle {
    .style  {
        background-color: @canvas-content-background;
    }
}
