//
// Variables
// --------------------------------------------------
@header-background-color-ie: @toolbar-header-spreadsheet-ie;
@header-background-color: var(--toolbar-header-spreadsheet);
@toolbar-header-text-on-background-ie: @text-toolbar-header-on-background-spreadsheet-ie;
@toolbar-header-text-on-background: var(--text-toolbar-header-on-background-spreadsheet);
@tab-header-ie: @tab-header-spreadsheet-ie;
@tab-header: var(--highlight-header-tab-underline-spreadsheet);
@tab-toolbar-ie: @tab-toolbar-spreadsheet-ie;
@tab-toolbar: var(--highlight-toolbar-tab-underline-spreadsheet);
// Active color
// -------------------------
//@green-darker:          #0f0;
//@green-dark:            #7e983f;
//@green:                 #8ca946;
//@green-light:           #98b259;
//@green-lighter:         #0f0;

//@brand-active:          @green-dark;
//@brand-active-light:    @green-light;

// Header
// -------------------------
@app-header-height:         20px;
