body
{
font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
font-size: 12px;
color: #444;
background: #fff;
}

img
{
border: none;
vertical-align: middle;
max-width: 100%;
}

img.floatleft 
{ 
float: left;
margin-right: 30px;
margin-bottom: 10px;
}

li
{
line-height: 2em;
}

.mainpart
{
margin: 0;
padding: 10px 20px;
}

.mainpart h1
{
font-size: 16px;
font-weight: bold;
}

table,
tr,
td,
th
{
border-left: 0;
border-right: 0;
border-bottom: solid 1px #E4E4E4;
border-collapse: collapse;
padding: 8px;
text-align: left;
}

table
{
margin: 20px 0;
width: 100%;
}

th
{
font-size: 14px;
font-weight: bold;
}

th.keyboard_section {
font-size: 16px;
padding-top: 30px;
}

td.function
{
width: 35%;
}

th.function
{
width: 25%;
}

td.shortfunction,
th.shortfunction
{
width: 20%;
}

td.combination
{
width: 15%;
}

th.combination
{
width: 20%;
}

td.description
{
width: 50%;
}

th.description
{
width: 70%;
}

td.longdescription,
th.longdescription
{
width: 80%;
}

.note
{
background: #F4F4F4;
font-size: 11px;
padding: 10px 20px 10px 37px;
width: 90%;
margin: 10px 0;
line-height: 1em;
min-height: 14px;
}

.note:before {
    width: 18px;
    height: 18px;
    background: #83888D;
    font-weight: 900;
    content: "!";
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    color: white;
    display: inline-block;
    line-height: 18px;
    float: left;
    position: relative;
    left: -20px;
    top: -3px;
}

hr
{
height: 1px;
width: 90%;
text-align: left;
margin: 10px 0 15px;
color: #E4E4E4;
background-color: #E4E4E4;
border: 0;
clear: both;
}

a
{
color: #7496DD;
text-decoration: underline;
}

a:hover
{
text-decoration: none;
}
a.sup_link {
text-decoration: none;	
}

.search-field {
    display: block;
    float: right;
    margin-top: 10px;
    margin-left: 20px;
}
.search-field input {
    width: 250px;
    height: 25px;
    box-sizing: border-box;
    padding: 4px 10px 4px 25px;
    border: 1px solid #e1e1e1;
    border-radius: 6px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAQVJREFUGBl1j71KxUAQhe8uJkZcC/ERfADBRsheCSkFwcLKxkbuM1jaa2+l1pZ6FW2EJJgUdqYOdinsAuIfRDZ+E24qceAw55w5O7urRlRRFKtt2x5DQ/AGrn3fPwrD8Avel5qFnlEOTMFK13Vb9CcwjuP4hz6aY9MJ3Xmet26tfREzy7ID59yZ1nofeSGeBhZcDSExoyg6V0o1bN4ULSXBd7AsYqgkSQL4AvgcPM2pG8R2mqZ7YlZVNc+2U/yAq+XNfak8z5d45yNqjcAr3RAyMkXfwXf50LcSQ7bUdT2Bjhl+0G8JHNI30A/GmJ0+iPGnZjfdM7CEp/8G5WRZlotN01xCg18HsWi9HzrHEgAAAABJRU5ErkJggg==') center left 9px no-repeat;
}

.search-field input:focus {
    outline:0 !important;
}

.subtitle {
    font-size: 0.9em;
    font-style: italic;
}
#search-results a {
    font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: #444;
}
kbd {
    display: inline-block;
    padding: 0.2em 0.3em;
    border-radius: .2em;
    line-height: 1em;
    background-color: #f2f2f2;
    font-family: monospace;
    white-space: nowrap;
    box-shadow: 0 1px 3px rgba(85,85,85,.35);
    margin: 0.2em 0.1em;
    color: #000;
}
.shortcut_variants {
    margin: 20px 0 -20px;
    padding: 0;
}
.shortcut_toggle {
    display: inline-block;
    margin: 0;
    padding: 1px 10px;
    list-style-type: none;
    cursor: pointer;
    font-size: 11px;
    line-height: 18px;
    white-space: nowrap
}
.shortcut_toggle.enabled {
    color: #fff;
    background-color: #7D858C;
    border: 1px solid #7D858C;
}
.shortcut_toggle.disabled {
    color: #444;
    background-color: #fff;
    border: 1px solid #CFCFCF;
}
.shortcut_toggle.disabled:hover {
    background-color: #D8DADC;
}
.left_option {
    border-radius: 2px 0 0 2px;
    float: left;
}
.right_option {
    border-radius: 0 2px 2px 0;
}

/*scroll*/
html{
    overflow: auto;
    scrollbar-track-color:  #eee;
    scrollbar-face-color: #f7f7f7;
    scrollbar-highlight-color: #eee;
    scrollbar-darkshadow-color: #cbcbcb;
    scrollbar-arrow-color:  #adadad;
    scrollbar-color: #f7f7f7 #eee;
}

::-webkit-scrollbar {
    height: 14px !important;
    width: 14px !important;
    background: #eee;
}

::-webkit-scrollbar-track{
    border: none !important;
    -webkit-border-radius: 0 !important;
    background: #eee !important;
    width: 14px !important;
}

::-webkit-scrollbar-corner {
    background: #eee !important;
}

/* thimb*/
::-webkit-scrollbar-thumb {
    box-shadow: inset 0px 0px 0px 0.5px #cbcbcb;
    background: #f7f7f7;
    -webkit-border-radius: 0.1ex !important;
    border: #eee 1px solid !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
::-webkit-scrollbar-thumb:horizontal:hover,::-webkit-scrollbar-thumb:vertical:hover {
    background: #c0c0c0;
}
::-webkit-scrollbar-thumb:horizontal:active,::-webkit-scrollbar-thumb:vertical:active {
    background: #adadad;
}

::-webkit-scrollbar-thumb:vertical
{
    background: #f7f7f7;
    border-width: 0 1px 0 0 !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='13px' stroke ='rgb(192,192,192)' width='5px'><line x1='2.5' y1='0' x2='2.5' y2='13' stroke-width = '5' stroke-dasharray ='1px' /%3E%3C/svg%3E");
}
::-webkit-scrollbar-thumb:vertical:hover, ::-webkit-scrollbar-thumb:vertical:active
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='13px' stroke ='rgb(236,236,236)' width='5px'><line x1='2.5' y1='0' x2='2.5' y2='13' stroke-width = '5' stroke-dasharray ='1px' /%3E%3C/svg%3E");
}
::-webkit-scrollbar-thumb:horizontal
{
    background: #f7f7f7;
    border-width: 0 0 1px 0 !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13px' stroke ='rgb(192,192,192)' height='5px'><line y1='2.5' x1='0' y2='2.5' x2='13' stroke-width = '5' stroke-dasharray ='1px' /%3E%3C/svg%3E");
}
::-webkit-scrollbar-thumb:horizontal:hover, ::-webkit-scrollbar-thumb:horizontal:active
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13px' stroke ='rgb(236,236,236)' height='5px'><line y1='2.5' x1='0' y2='2.5' x2='13' stroke-width = '5' stroke-dasharray ='1px' /%3E%3C/svg%3E");
}

/* buttons*/
::-webkit-scrollbar-button:single-button {
    height: 14px;
    width: 14px;
    box-shadow: inset 0px 0px 0px 0.5px #cbcbcb;
    border: #eee 1px solid;
    background-color: #f7f7f7;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

::-webkit-scrollbar-button:single-button:hover {
    background-color: #c0c0c0;
}
::-webkit-scrollbar-button:single-button:active {
    background-color: #adadad;
}

::-webkit-scrollbar-button:single-button:vertical {
    border-left-width: 0;
    height: 15px;
}

::-webkit-scrollbar-button:single-button:horizontal {
    border-top-width: 0px;
    width: 15px;
}
::-webkit-scrollbar-button:single-button:vertical:decrement{
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='4px' fill='rgb(173, 173, 173)'><polygon points='3.5,0 0,4 7,4'/></svg>");
}
::-webkit-scrollbar-button:single-button:vertical:decrement:hover, ::-webkit-scrollbar-button:single-button:vertical:decrement:active{
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' shape-rendering='crispEdges' width='8' height='4px' fill='rgb(247, 247, 247)'><polygon points='3.5,0 0,4 7,4'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment{
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='4px' fill='rgb(173, 173, 173)'><polygon points='3.5,4 0,0 7,0'/></svg>");
}
::-webkit-scrollbar-button:single-button:vertical:increment:hover, ::-webkit-scrollbar-button:single-button:vertical:increment:active{
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='4px' fill='rgb(247, 274, 247)'><polygon points='3.5,4 0,0 7,0'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:increment{
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' shape-rendering='crispEdges' width='4' height='8px' fill='rgb(173, 173, 173)'><polygon points='0,0 0,7 4,3.5'/></svg>");
}
::-webkit-scrollbar-button:single-button:horizontal:increment:hover, ::-webkit-scrollbar-button:single-button:horizontal:increment:active{
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='4' height='8px' fill='rgb(247, 247, 247)'><polygon points='0,0 0,7 4,3.5'/></svg>");
}
::-webkit-scrollbar-button:single-button:horizontal:decrement{
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='4' height='8px' fill='rgb(173, 173, 173)'><polygon points='0,3.5 4,7 4,0'/></svg>");
}
::-webkit-scrollbar-button:single-button:horizontal:decrement:hover, ::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' shape-rendering='crispEdges' width='4' height='8px' fill='rgb(247, 247, 247)'><polygon points='0,3.5 4,7 4,0'/></svg>");
}
