{
    "name": "Full dark theme",
    "l10n": {
        "fr": "Thème complètement sombre",
        "de": "Volledig donker thema"
      },
    "id" : "theme-id-full-dark",
    "type" : "dark",
    "colors" : {
        "toolbar-header-document": "#2a2a2a",
        "toolbar-header-spreadsheet": "#2a2a2a",
        "toolbar-header-presentation": "#2a2a2a",

        "text-toolbar-header-on-background-document": "#2a2a2a",
        "text-toolbar-header-on-background-spreadsheet": "#2a2a2a",
        "text-toolbar-header-on-background-presentation": "#2a2a2a",

        "background-normal": "#333",
        "background-toolbar": "#404040",
        "background-toolbar-additional": "#505050",
        "background-primary-dialog-button": "#c681ff",
        "background-accent-button": "#486F9E",
        "background-notification-popover": "#3e5968",
        "background-notification-badge": "#ffd112",
        "background-scrim": "rgba(0, 0, 0, 0.6)",
        "background-loader": "rgba(24, 24, 24, 0.9)",
        "background-alt-key-hint": "#FFD938",
        "background-contrast-popover": "#313131",

        "highlight-button-hover": "#535C68",
        "highlight-button-pressed": "#49617D",
        "highlight-button-pressed-hover": "#808080",
        "highlight-primary-dialog-button-hover": "#d39eff",
        "highlight-accent-button-hover": "#75a2d6",
        "highlight-accent-button-pressed": "#89afdc",
        "highlight-header-button-hover": "rgba(255, 255, 255, 0.05)",
        "highlight-header-button-pressed": "rgba(255, 255, 255, 0.15)",
        "highlight-text-select": "#96c8fd",

        "border-toolbar": "#616161",
        "border-toolbar-active-panel-top": "#616161",
        "border-divider": "#505050",
        "border-regular-control": "#666",
        "border-toolbar-button-hover": "#5a5a5a",
        "border-preview-hover": "#757575",
        "border-preview-select": "#bdbdbd",
        "border-control-focus": "#b948ff",
        "border-color-shading": "rgba(255, 255, 255, 0.1)",
        "border-error": "#f62211",
        "border-contrast-popover": "#666",

        "text-normal": "rgba(255, 255, 255, 0.8)",
        "text-normal-pressed": "rgba(255, 255, 255, 0.8)",
        "text-secondary": "rgba(255, 255, 255, 0.6)",
        "text-tertiary": "rgba(255, 255, 255, 0.4)",
        "text-link": "#b5e4ff",
        "text-link-hover": "#b5e4ff",
        "text-link-active": "#b5e4ff",
        "text-link-visited": "#b5e4ff",
        "text-inverse": "#333",
        "text-toolbar-header": "rgba(255, 255, 255, 0.8)",
        "text-contrast-background": "#fff",
        "text-alt-key-hint": "#2a2a2a",

        "icon-normal": "rgba(255, 255, 255, 0.8)",
        "icon-normal-pressed": "rgba(255, 255, 255, 0.8)",
        "icon-inverse": "#444",
        "icon-toolbar-header": "rgba(255, 255, 255, 0.8)",
        "icon-notification-badge": "#000",
        "icon-contrast-popover": "#fff",
        "icon-success": "#090",

        "canvas-background": "#555",
        "canvas-content-background": "#fff",
        "canvas-page-border": "#555",

        "canvas-ruler-background": "#555",
        "canvas-ruler-border": "#2A2A2A",
        "canvas-ruler-margins-background": "#444",
        "canvas-ruler-mark": "#b6b6b6",
        "canvas-ruler-handle-border": "#b6b6b6",
        "canvas-ruler-handle-border-disabled": "#808080",

        "canvas-high-contrast": "#fff",,
        "canvas-high-contrast-disabled": "#ccc",

        "canvas-cell-border": "rgba(0, 0, 0, 0.1)",
        "canvas-cell-title": "#d9d9d9",
        "canvas-cell-title-border": "#757575",
        "canvas-cell-title-border-hover": "#858585",
        "canvas-cell-title-border-selected": "#9e9e9e",
        "canvas-cell-title-hover": "#787878",
        "canvas-cell-title-selected": "#939393",

        "canvas-dark-cell-title": "#55B27B",
        "canvas-dark-cell-title-hover": "#7AFFAF",
        "canvas-dark-cell-title-selected": "#6EE59F",
        "canvas-dark-cell-title-border": "#282828",
        "canvas-dark-cell-title-border-hover": "#191919",
        "canvas-dark-cell-title-border-selected": "#474747",

        "canvas-scroll-thumb": "#404040",
        "canvas-scroll-thumb-hover": "#999",
        "canvas-scroll-thumb-pressed": "#adadad",
        "canvas-scroll-thumb-border": "#2a2a2a",
        "canvas-scroll-thumb-border-hover": "#999",
        "canvas-scroll-thumb-border-pressed": "#adadad",
        "canvas-scroll-arrow": "#999",
        "canvas-scroll-arrow-hover": "#404040",
        "canvas-scroll-arrow-pressed": "#404040",
        "canvas-scroll-thumb-target": "#999",
        "canvas-scroll-thumb-target-hover": "#404040",
        "canvas-scroll-thumb-target-pressed": "#404040",

        "canvas-sheet-view-cell-background": "#73bf93",
        "canvas-sheet-view-cell-background-hover": "#97e3b8",
        "canvas-sheet-view-cell-background-pressed": "#aaffcc",
        "canvas-sheet-view-cell-title-label": "#121214",

        "canvas-freeze-line-1px": "#818183",
        "canvas-freeze-line-2px": "#aaaaaa",
        "canvas-select-all-icon": "#3d664e"
    }
}