{
    "name": "Full light theme",
    "l10n": {
        "fr": "Thème pleine lumière",
        "de": "Volledig licht thema"
      },
    "id" : "theme-id-full-light",
    "type" : "light",
    "colors" : {
        "toolbar-header-document": "#446995",
        "toolbar-header-spreadsheet": "#40865c",
        "toolbar-header-presentation": "#BE664F",

        "text-toolbar-header-on-background-document": "#38567A",
        "text-toolbar-header-on-background-spreadsheet": "#336B49",
        "text-toolbar-header-on-background-presentation": "#854535",

        "background-normal": "#fff",
        "background-toolbar": "#f7f7f7",
        "background-toolbar-additional": "#efefef",
        "background-primary-dialog-button": "#2e8df2",
        "background-accent-button": "#446995",
        "background-notification-popover": "#fcfed7",
        "background-notification-badge": "#ffd112",
        "background-scrim": "rgba(0, 0, 0, 0.2)",
        "background-loader": "fade(#181818, 0.9)",
        "background-alt-key-hint": "#FFD938",
        "background-contrast-popover": "#fff",
        "shadow-contrast-popover": "rgba(0, 0, 0, 0.3)",

        "highlight-button-hover": "#e0e0e0",
        "highlight-button-pressed": "#cbcbcb",
        "highlight-button-pressed-hover": "#bababa",
        "highlight-primary-dialog-button-hover": "#52a6ff",
        "highlight-accent-button-hover": "#375478",
        "highlight-accent-button-pressed": "#293f59",
        "highlight-header-button-hover": "rgba(255, 255, 255, 0.15)",
        "highlight-header-button-pressed": "rgba(255, 255, 255, 0.25)",
        "highlight-text-select": "#3494fb",

        "border-toolbar": "#cbcbcb",
        "border-toolbar-active-panel-top": "var(--background-toolbar)",
        "border-divider": "#dfdfdf",
        "border-regular-control": "#c0c0c0",
        "border-toolbar-button-hover": "#e0e0e0",
        "border-preview-hover": "#bababa",
        "border-preview-select": "#888",
        "border-control-focus": "#2e8df2",
        "border-color-shading": "rgba(0, 0, 0, 0.15)",
        "border-error": "#f62211",
        "border-contrast-popover": "#fff",

        "text-normal": "rgba(0, 0, 0, 0.8)",
        "text-normal-pressed": "rgba(0, 0, 0, 0.8)",
        "text-secondary": "rgba(0, 0, 0, 0.6)",
        "text-tertiary": "rgba(0, 0, 0, 0.4)",
        "text-link": "#445799",
        "text-link-hover": "#445799",
        "text-link-active": "#445799",
        "text-link-visited": "#445799",
        "text-inverse": "#fff",
        "text-toolbar-header": "#fff",
        "text-contrast-background": "#fff",
        "text-alt-key-hint": "rgba(0, 0, 0, 0.8)",

        "icon-normal": "#444",
        "icon-normal-pressed": "#444",
        "icon-inverse": "#fff",
        "icon-toolbar-header": "#fff",
        "icon-notification-badge": "#000",
        "icon-contrast-popover": "#fff",
        "icon-success": "#090",

        "canvas-background": "#eee",
        "canvas-content-background": "#fff",
        "canvas-page-border": "#ccc",

        "canvas-ruler-background": "#fff",
        "canvas-ruler-border": "#cbcbcb",
        "canvas-ruler-margins-background": "#d9d9d9",
        "canvas-ruler-mark": "#555",
        "canvas-ruler-handle-border": "#555",
        "canvas-ruler-handle-border-disabled": "#aaa",

        "canvas-high-contrast": "#000",
        "canvas-high-contrast-disabled": "#666",

        "canvas-cell-border": "rgba(0, 0, 0, 0.1)",
        "canvas-cell-title": "#444",
        "canvas-cell-title-hover": "#dfdfdf",
        "canvas-cell-title-selected": "#cfcfcf",
        "canvas-cell-title-border": "#d8d8d8",
        "canvas-cell-title-border-hover": "#c9c9c9",
        "canvas-cell-title-border-selected": "#bbb",

        "canvas-dark-cell-title": "#666666",
        "canvas-dark-cell-title-hover": "#999",
        "canvas-dark-cell-title-selected": "#333",
        "canvas-dark-cell-title-border": "#3d3d3d",
        "canvas-dark-cell-title-border-hover": "#5c5c5c",
        "canvas-dark-cell-title-border-selected": "#0f0f0f",
        "canvas-dark-content-background": "#3a3a3a",
        "canvas-dark-page-border": "#2a2a2a",

        "canvas-scroll-thumb": "#f7f7f7",
        "canvas-scroll-thumb-hover": "#c0c0c0",
        "canvas-scroll-thumb-pressed": "#adadad",
        "canvas-scroll-thumb-border": "#cbcbcb",
        "canvas-scroll-thumb-border-hover": "#cbcbcb",
        "canvas-scroll-thumb-border-pressed": "#adadad",
        "canvas-scroll-arrow": "#adadad",
        "canvas-scroll-arrow-hover": "#f7f7f7",
        "canvas-scroll-arrow-pressed": "#f7f7f7",
        "canvas-scroll-thumb-target": "#c0c0c0",
        "canvas-scroll-thumb-target-hover": "#f7f7f7",
        "canvas-scroll-thumb-target-pressed": "#f7f7f7",

        "canvas-sheet-view-cell-background": "#73bf92",
        "canvas-sheet-view-cell-background-hover": "#97e3b7",
        "canvas-sheet-view-cell-background-pressed": "#aaffcc",
        "canvas-sheet-view-cell-title-label": "#121213",

        "canvas-freeze-line-1px": "#818182",
        "canvas-freeze-line-2px": "#aaaaaa",
        "canvas-select-all-icon": "#3d664e"
    }
}