@import '../../../../../vendor/framework7-react/node_modules/framework7/less/mixins.less';
@import '../../../../common/mobile/resources/less/_mixins.less';
@import '../../../../common/mobile/resources/less/colors-table.less';
@import '../../../../common/mobile/resources/less/colors-table-dark.less';
@import './app-rtl.less';

@brandColor: var(--brand-word);

.device-ios {
    --toolbar-background: var(--background-primary, #FFF);
    --toolbar-segment: var(--brand-word, #446995);
    --toolbar-icons: var(--brand-word, #446995);
    --f7-toolbar-border-color: var(--background-menu-divider);
    --f7-bars-border-color: var(--background-menu-divider);
    --f7-calendar-row-border-color: var(--background-menu-divider);
}

.device-android {
    --toolbar-background: var(--brand-word, #446995);

    .theme-type-dark {
        --toolbar-icons: var(--brand-word, #446995);
    }
}

@toolbar-background: var(--toolbar-background);
@toolbar-segment: var(--toolbar-segment);
@button-active-opacity: var(--active-opacity-word);

@import '../../../../common/mobile/resources/less/collaboration.less';
@import '../../../../common/mobile/resources/less/common.less';
@import '../../../../common/mobile/resources/less/common-ios.less';
@import '../../../../common/mobile/resources/less/common-material.less';
@import '../../../../common/mobile/resources/less/icons.less';
@import '../../../../common/mobile/resources/less/dataview.less';
@import '../../../../common/mobile/resources/less/search.less';
@import '../../../../common/mobile/resources/less/contextmenu.less';
@import '../../../../common/mobile/resources/less/comments.less';
@import './app-material.less';
@import './app-ios.less';
@import './icons-ios.less';
@import './icons-material.less';
@import './icons-common.less';

:root {
    --f7-popover-width: 360px;
}

// Skeleton of document

.doc-placeholder {
    position: relative;
    background: #fbfbfb;
    padding-top: calc(var(--f7-page-navbar-offset, 0px) + var(--f7-page-subnavbar-offset, 0px));
    overflow: hidden;
    height: 100%;

    > .line {
        height: 15px;
        margin: 30px;
        background: #e2e2e2;
        overflow: hidden;
        position: relative;

        -webkit-animation: flickerAnimation 2s infinite ease-in-out;
        -moz-animation: flickerAnimation 2s infinite ease-in-out;
        -o-animation: flickerAnimation 2s infinite ease-in-out;
        animation: flickerAnimation 2s infinite ease-in-out;
    }
}

.page.page-with-subnavbar {
    .page-content, &.page-with-logo .page-content {
        --f7-page-subnavbar-offset: 0;
        padding-top: 0;
    }
}

.page.editor > .page-content {
    --f7-page-navbar-offset: 0;
}

// Review
.page-review {
    --f7-toolbar-link-color: @brandColor;
    
    .toolbar {
        background-color: @background-secondary;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
        position: absolute;

        #btn-goto-change {
            margin-left: 10px;
        }

        .next-prev {
            .link {
                width: 44px;
            }
        }
    }
    .page-content {
        // background-color: @white;
        .no-changes {
            padding: 15px;
            color: @text-normal;
        }
        .block-description {
            padding: 15px;
            .user-name {
                font-size: 17px;
                line-height: 22px;
                color: @text-normal;
                margin: 0;
            }
            .date-change {
                font-size: 14px;
                line-height: 18px;
                color: @text-secondary;
                margin: 0;
                margin-top: 3px;
            }
            .text {
                color: @text-normal;
                font-size: 15px;
                line-height: 20px;
                margin: 0;
                margin-top: 10px;
            }
        }
    }
}

.item-content {
    .preview{
        color: @gray;
    }
}

.phone, .tablet {
    .swiper-container{
        position: static;
   }
}

// Swiper
.swiper-container {
    // height: 100%;
    .swiper-pagination-bullet-active{
        background: @black;
    }
    // .multilevels {
    //     li:not(:first-child){ 
    //         border:none;
    //         .item-content {
    //             min-height: 70px;
    //         }
    //     }
    // }
}

// Skeleton table

.table-styles .row div:not(:first-child) {
    margin: 2px auto 0px;
}
.table-styles .skeleton-list li, .table-styles .row div {
    padding: 0;
}
.table-styles .row .skeleton-list{
    display: block;
    width: 70px;
    height: 50px;
}

// Table of Contents

.item-contents {
    padding: 0 16px;
}

.style-toc {
    &__image {
        margin: 0 15px;
        max-height: 150px;
        overflow: hidden;
        &_active {
            border: 1.5px solid @brandColor;
        }
    }
}

.block > .block-title:first-child, .list > .block-title:first-child {
    margin-top: var(--f7-block-margin-vertical);
    margin-left: calc(var(--f7-block-padding-horizontal) + var(--f7-safe-area-left)); 
    margin-right: calc(var(--f7-block-padding-horizontal) + var(--f7-safe-area-right));
}

// Navigation 

.empty-screens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    &__icon {
        margin-bottom: 48px;
    }
    &__text {
        margin: 0 32px;
        text-align: center;
        color: @text-normal;
    }
}

.swipe-container {
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: @background-primary;
    .icon-swipe {
        margin-top: 8px;
        width: 40px;
        height: 4px;
        background: @background-menu-divider;
        border-radius: 2px;
    }
}

.sheet-modal.navigation-sheet {
    box-shadow: 0px -2px 20px rgba(0, 0, 0, 0.2);
    .sheet-modal-inner {
        background: @background-tertiary;
        overflow-y: auto;
    }
    .swipe-container {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
    &.sheet-modal-bottom:before, &.sheet-modal:not(.sheet-modal-top):before {
        display: none;
    }
}

.list.navigation-list {
    margin-top: 72px;
    .item-title {
        color: @text-normal;
    }
}

.navigation-sheet {
    &__title {
        position: fixed;
        left: 0;
        width: 100%;
        z-index: 100;
        top: 40px;
        z-index: 1000;
        right: 0;
    }
}

// Calendar
.calendar {
    background-color: @background-secondary;
    .toolbar {
        background-color: @background-secondary;
        i.icon.icon-next, i.icon.icon-prev {
            background-color: @text-normal;
        }
        &:after {
            background-color: @background-menu-divider;
        }
    }
    .calendar-row {
        padding: 0 16px;
        &:before {
            display: none;
        }
    }
    .current-year-value, .current-month-value {
        color: @text-normal;
        font-size: 16px;
    }
    .calendar-day-selected .calendar-day-number, .calendar-day-today.calendar-day-selected .calendar-day-number {
        border: 1px solid transparent;
        background-color: @brandColor;
        color: @fill-white;
    }
    .calendar-day-selected.calendar-day-weekend .calendar-day-number {
        color: @fill-white;
    }
    .calendar-day-today .calendar-day-number {
        border: 1px solid @brandColor;
        background-color: transparent;
    }
    .calendar-day-weekend .calendar-day-number {
        color: @text-secondary;
    }
    .calendar-day-number {
        color: @text-normal;
        font-size: 14px;
        font-weight: 500;
        width: 47px;
        height: 32px;
        border-radius: 16px;
    }
    .calendar-week-header {
        margin: 25px 16px 10px 16px;
        background-color: @background-secondary;
        color: @text-normal;
        border-bottom: 1px solid @background-menu-divider;
        padding-bottom: 5px;
        height: auto;
        .calendar-week-day {
            color: @text-normal;
            font-size: 12px;
        }
    }
    .calendar-months {
        margin-bottom: 12px;
    }
    .calendar-month-picker-item, .calendar-year-picker-item {
        color: @text-normal;
        &:before, &:after {
            background-color: @background-menu-divider;
        }
    }
    .calendar-month-picker, .calendar-year-picker {
        background: @background-secondary;
    }
    .calendar-month-picker-item-current, .calendar-year-picker-item-current {
        color: @brandColor;
    }
}

.calendar-sheet {
    .calendar-month-picker, .calendar-year-picker {
        border-top: 1px solid var(--background-menu-divider);
    }
}

.create-style-link {
    .item-link .item-inner:before {
        display: none;
    }
    .item-title {
        color: @brandColor;
    }
}

// FAB
.fab {
    z-index: 10000;
    a {
        background-color: @background-primary;
        border-radius: 50%;

        &:focus, &:focus-within, &:active, &.active-state {
            background-color: @background-primary;
        }
    }
}

// Snackbar and FAB animation
.snackbar-enter, .fab-enter {
    opacity: 0;
}
.snackbar-enter-active, .fab-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}
.snackbar-exit, .fab-exit {
    opacity: 1;
}
.snackbar-exit-active, .fab-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}


