.device-ios {
  .tab-link {
    .icon-svg {
      fill: @toolbar-segment;
    }
  }
  .tab-link-active {
    .icon-svg {
      fill: @brand-text-on-brand;
    }
  }

  .theme-type-dark {
    .segmented.font-size-stepper .button,
    .list .item-link.size-label {
        color: @brand-word;
        background-color: @background-menu-divider;
    }
  }
}