.toolbar-group-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: transparent;
}

// menu zoom
.dropdown-menu .menu-zoom {
    line-height: @line-height-base-ie;
    line-height: @line-height-base;
    .title {
        padding: 5px 5px 5px 20px;
        //max-width: 95px;
        overflow: hidden;
        text-overflow: ellipsis;

        .rtl & {
            padding: 5px 20px 5px 5px;
        }
    }

    .btn.next {
        margin: 2px 5px 0 0;
        .rtl & {
            margin: 2px 0 0 0 !important;
        }
    }

    .btn.prev {
        margin-top: 2px;
        .rtl & {
            margin: 2px 0 0 5px;
        }
    }
}


.username-tip {
    background-color: #ee3525;
    border: none;
    border-radius: 0;
    padding: 0 10px;
    color: #ffffff;
    .font-size-normal();
    white-space: nowrap;
    letter-spacing: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#slot-field-fontsize {
    width: 40px;
}

#slot-combo-insertshape .menu-insert-shape, .slot-combo-insertshape .menu-insert-shape {
    width: 330px;
}

.item-markerlist {
    width: 40px;
    height: 40px;
}

.item-multilevellist {
    width: 80px;
    height: 80px;
}

#id-toolbar-menu-symbols {
    display: inline-block;
    width: 158px;
    .padding-left(3px);
    .item {
        .margin-x(6px, 4px);
    }
    .item-symbol {
        font-family: @font-family-base;
        font-size: 14px;
        display: block;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        vertical-align: middle;

    }
}
