.combo-arrow-style {
    .form-control {
        cursor: pointer;
        background-color: white;

        &.image {
            background-position: 10px 0;
            background-attachment: scroll;
            background-color: @background-normal;
        }
    }

    .btn {
        &:active:not(.disabled),
        &.active:not(.disabled){
            .caret {
                background-position: @arrow-small-offset-x @arrow-small-offset-y;
            }
        }
    }
}

.img-arrows {
    .background-ximage-v2('right-panels/Begin-EndStyle.png', 480px, @commonimage: true);
}

.item-arrow {
    width:44px;
    height:20px;
}

.advanced-settings-dlg {
    .div-category {
        padding: 0 15px;
        text-align: right;
        .font-weight-bold();
        font-size: 11px;
    }
}


