.combo-animation {
  .menu-picker-container .dataview {
    padding: 10px 0 0 2px;
  }
  .dropdown-menu {
    padding-bottom: 5px;
  }
}

.menu-animation .dataview {
  padding: 0 0 0 2px;

  .group-description {
    padding: 3px 0 3px 10px;
    font-weight: bold;
  }

  .group-items-container {
    float: left;
    position: relative;
    .item {
        box-shadow: none;
        margin: @scaled-two-px-value 0 0 @scaled-two-px-value;
        &:last-child {
          margin-bottom: @scaled-two-px-value;
        }
      }
  }
}