//
// Common
// --------------------------------------------------

// App variables
@import "variables.less";

@import "../../../../common/main/resources/less/asc-mixins.less";

// Bootstrap overwrite
@import "../../../../common/main/resources/less/variables.less";
@import "../../../../common/main/resources/less/colors-table.less";
@import "../../../../common/main/resources/less/colors-table-classic.less";
@import "../../../../common/main/resources/less/colors-table-dark.less";
@import "../../../../common/main/resources/less/colors-table-dark-contrast.less";
@import "../../../../common/main/resources/less/colors-table-gray.less";
//
// Bootstrap
// --------------------------------------------------

// Core variables and mixins
//@import "../../../../vendor/bootstrap/less/variables.less";
@import "../../../../common/main/resources/mods/less/mixins.less";

// Reset
@import "../../../../common/main/resources/mods/less/normalize.less";
//@import "print.less";

// Core CSS
@import "../../../../common/main/resources/mods/less/scaffolding.less";
@import "../../../../common/main/resources/mods/less/type.less";
//@import "code.less";
//@import "grid.less";
//@import "tables.less";
@import "../../../../common/main/resources/mods/less/forms.less";
@import "../../../../common/main/resources/mods/less/buttons.less";

// Components
@import "../../../../common/main/resources/mods/less/component-animations.less";
//@import "glyphicons.less";
@import "../../../../common/main/resources/mods/less/dropdowns.less";
@import "../../../../common/main/resources/mods/less/button-groups.less";
@import "../../../../common/main/resources/mods/less/input-groups.less";
//@import "navs.less";
//@import "navbar.less";
//@import "breadcrumbs.less";
//@import "pagination.less";
//@import "pager.less";
//@import "labels.less";
//@import "badges.less";
//@import "jumbotron.less";
//@import "thumbnails.less";
//@import "alerts.less";
//@import "progress-bars.less";
//@import "media.less";
//@import "list-group.less";
//@import "panels.less";
//@import "wells.less";
//@import "close.less";

// Components w/ JavaScript
//@import "modals.less";
@import "../../../../common/main/resources/mods/less/tooltip.less";
//@import "popovers.less";
//@import "carousel.less";

// Utility classes
@import "../../../../common/main/resources/mods/less/utilities.less";
@import "../../../../common/main/resources/mods/less/responsive-utilities.less";

//
// Perfect scrollbar
// --------------------------------------------------

@import (inline) "../../../../../vendor/perfect-scrollbar/src/perfect-scrollbar.css";

//
// Common
// --------------------------------------------------

@import "../../../../common/main/resources/less/header.less";
@import "../../../../common/main/resources/less/buttons.less";
@import "../../../../common/main/resources/less/dropdown-menu.less";
@import "../../../../common/main/resources/less/dropdown-submenu.less";
@import "../../../../common/main/resources/less/separator.less";
@import "../../../../common/main/resources/less/input.less";
@import "../../../../common/main/resources/less/combobox.less";
@import "../../../../common/main/resources/less/window.less";
@import "../../../../common/main/resources/less/spinner.less";
@import "../../../../common/main/resources/less/loadmask.less";
@import "../../../../common/main/resources/less/checkbox.less";
@import "../../../../common/main/resources/less/radiobox.less";
@import "../../../../common/main/resources/less/dataview.less";
@import "../../../../common/main/resources/less/listview.less";
@import "../../../../common/main/resources/less/treeview.less";
@import "../../../../common/main/resources/less/colorpalette.less";
@import "../../../../common/main/resources/less/theme-colorpalette.less";
@import "../../../../common/main/resources/less/dimension-picker.less";
@import "../../../../common/main/resources/less/hsb-colorpicker.less";
@import "../../../../common/main/resources/less/table-styler.less";
@import "../../../../common/main/resources/less/masked-field.less";
@import "../../../../common/main/resources/less/extended-color-picker.less";
@import "../../../../common/main/resources/less/layout.less";
@import "../../../../common/main/resources/less/combo-border-size.less";
@import "../../../../common/main/resources/less/combo-dataview.less";
@import "../../../../common/main/resources/less/slider.less";
@import "../../../../common/main/resources/less/multislider-gradient.less";
@import "../../../../common/main/resources/less/advanced-settings-window.less";
@import "../../../../common/main/resources/less/chat.less";
@import "../../../../common/main/resources/less/comments.less";
@import "../../../../common/main/resources/less/searchdialog.less";
@import "../../../../common/main/resources/less/about.less";
@import "../../../../common/main/resources/less/tooltip.less";
@import "../../../../common/main/resources/less/scroller.less";
@import "../../../../common/main/resources/less/synchronize-tip.less";
@import "../../../../common/main/resources/less/common.less";
@import "../../../../common/main/resources/less/switcher.less";
@import "../../../../common/main/resources/less/opendialog.less";
@import "../../../../common/main/resources/less/plugins.less";
@import "../../../../common/main/resources/less/toolbar.less";
@import "../../../../common/main/resources/less/language-dialog.less";
@import "../../../../common/main/resources/less/winxp_fix.less";
@import "../../../../common/main/resources/less/symboltable.less";
@import "../../../../common/main/resources/less/history.less";
@import "../../../../common/main/resources/less/hint-manager.less";
@import "../../../../common/main/resources/less/label.less";
@import "../../../../common/main/resources/less/bigscaling.less";
@import "../../../../common/main/resources/less/updown-picker.less";

// App
// --------------------------------------------------

@import "layout.less";
@import "toolbar.less";
@import "statusbar.less";
@import "leftmenu.less";
@import "rightmenu.less";
@import "advanced-settings.less";
@import "document-preview.less";
@import "animation.less";

@import "sprites/iconssmall@1x";
@import "sprites/iconsbig@1x";
@import "sprites/iconssmall@2x";
@import "sprites/iconsbig@2x";
@import "sprites/iconssmall@1.5x";
@import "sprites/iconsbig@1.5x";
@import "sprites/iconssmall@1.25x";
@import "sprites/iconsbig@1.25x";
@import "sprites/iconssmall@1.75x";
@import "sprites/iconsbig@1.75x";

.font-size-tiny {
    .fontsize(9px); // 9px
    .fontsize(calc(@font-size-base-app - 2px)); // 9px
}

.font-size-small {
    .fontsize(10px); // 10px
    .fontsize(calc(@font-size-base-app - 1px)); // 10px
}

.font-size-normal {
    .fontsize(11px); // 11px
    .fontsize(@font-size-base-app); // 11px
}

.font-size-medium {
    .fontsize(12px); // 12px
    .fontsize(calc(@font-size-base-app + 1px)); // 12px
}

.font-size-large {
    .fontsize(13px); // 13px
    .fontsize(calc(@font-size-base-app + 2px)); // 13px
}

.font-size-huge {
    .fontsize(14px); // 14px
    .fontsize(calc(@font-size-base-app + 3px)); // 14px
}

.font-size-very-huge {
    .fontsize(16px); // 16px
    .fontsize(calc(@font-size-base-app + 5px)); // 16px
}

.slidenum-div {
    background-color: @background-normal-ie;
    background-color: @background-normal;
    color: @text-normal-ie;
    color: @text-normal;
    padding: 5px 12px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    .box-shadow(0 6px 12px rgba(0, 0, 0, 0.175));
    border-radius: @border-radius-base;
}

.btn-tpl(@top-position) {
    .icon {
        background-position: 0 @top-position;

        &:active {
            background-position: -20px @top-position;
        }
    }

    &[disabled] .icon {
        background-position: -40px @top-position;
    }

    &.active {
        .icon {
            background-position: -20px @top-position;
        }
    }
}

// Skeleton of document

.doc-placeholder {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: @canvas-background;

    .slide-h {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        max-width: 1350px;
        width: 100%;
        margin: 0 auto;
    }

    .slide-v {
        display: flex;
        position: relative;
        flex-direction: column;
        padding-bottom: 56.1333%;
    }

    .slide-container {
        position: absolute;
        height: 100%;
        width: 100%;
        background: #fbfbfb;
        border: 1px solid #dfdfdf;

        > .line {
            height: 20%;
            margin: 0 120px;
            border-radius: 6px;
            background: #f5f5f5;

            //-webkit-animation: flickerAnimation 2s infinite ease-in-out;
            //-moz-animation: flickerAnimation 2s infinite ease-in-out;
            //-o-animation: flickerAnimation 2s infinite ease-in-out;
            //animation: flickerAnimation 2s infinite ease-in-out;

            &:nth-child(1) {
                height: 30%;
                margin: 10% 80px 0;
            }

            &.empty {
                background: transparent;
            }
        }
    }
}