.toolbar {
    &.masked {
        button.disabled .icon:not(.no-mask) {
        }
        .group:not(.no-mask) {
            opacity: 0.4;
        }
    }

    .font-attr {
        > .btn-slot:not(:last-child):not(.split) {
            .margin-right-4();
        }

        > .btn-slot:not(:last-child).split {
            .margin-right-2();
        }
    }
}

.menu-layouts {
    .dataview.inner {
        & > div:not(.grouped-data):not([class^=ps-scrollbar]) {
            .box-shadow(none);

            &:hover,
            &.selected {
                .layout > div:first-child {
                    .box-shadow(0 0 0 2px @highlight-button-pressed-ie);
                    .box-shadow(0 0 0 2px @highlight-button-pressed);
                }
            }
        }

        .layout {
            .title {
                overflow: hidden;
                text-align: center;
                text-overflow: ellipsis;
                white-space: normal;
                line-height: 14px;
            }

            & > div:first-child {
                margin-bottom: 3px;
            }
        }
    }
}

#id-toolbar-menu-symbols {
    display: inline-block;
    width: 158px;
    .padding-left(3px);
    .item {
        .box-shadow(none);
        .margin-x(6px, 4px);
        &:hover, &.selected{
            .box-shadow( 0 0 0 2px @border-preview-select-ie);
            .box-shadow( 0 0 0 @scaled-two-px-value @border-preview-select);
        }
    }
    .item-symbol {
        display: block;
        font-family: @font-family-base;
        font-size: 14px;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        vertical-align: middle;

    }
}

.item-markerlist {
    width: 40px;
    height: 40px;
}

.item-multilevellist {
    width: 80px;
    height: 80px;
}

.username-tip {
    background-color: #ee3525;
    border: none;
    border-radius: 0;
    padding: 3px 10px;
    color: #fff;
    .font-size-normal();
    white-space: nowrap;
    letter-spacing: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#plugins-panel {
    .separator:first-child {
        display: inline-block;
    }
}

#special-paste-container,
#equation-container {
    position: absolute;
    z-index: @zindex-dropdown - 20;
    background-color: @background-toolbar-ie;
    background-color: @background-toolbar;
    border: @scaled-one-px-value-ie solid @border-regular-control-ie;
    border: @scaled-one-px-value solid @border-regular-control;

    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.2);
    .ie &,
    .winxp & {
        overflow: visible;
    }
}

#equation-container {
    .separator {
        height: 30px;
    }
    &.has-open-menu {
        z-index: @zindex-navbar + 3;
    }
    .btn-toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 0px;
    }
}

.item-theme {
    width: 88px;
    height: 40px;
    .background-ximage-all-scale('../../../../../../sdkjs/common/Images/themes_thumbnail.png', 88px);
    background-size: cover
}

#slot-field-fontname {
    width: 111px;
}

#slot-field-fontsize {
    width: 40px;
}

.menu-insert-placeholder {
    min-width: auto;
    &.dropdown-menu li > a {
        line-height: 22px;
    }
}