#transitions-panel {
  .item {
    background: transparent;
    border-color: transparent;
    .box-shadow(none);
    border-radius: @scaled-one-px-value-ie;
    border-radius: @scaled-one-px-value;
    border-width: calc(2*@scaled-one-px-value-ie) ;
    border-width: calc(@scaled-two-px-value);
    &:hover{
      border-color: @border-preview-hover-ie;
      border-color: @border-preview-hover;
    }
    &.selected
    {
      border-color: @border-preview-select-ie;
      border-color: @border-preview-select;
    }


    .style{
      background: transparent;
    }

    .btn {
      border: none;
      &:hover {
        background: transparent;
      }
      .icon
      {
        margin-top: -2px;
      }

    }
  }

  .combo-dataview
  {
    &.disabled {
      .item {
        &:hover:not(.selected) {
          border-color: transparent;
        }
      .btn{
        background: transparent;
          cursor: default;
          &:active,
          &.active {
            .icon {opacity: @component-normal-icon-opacity;}
          }
        }
      }
    }
  }

  .spinner
  {
    margin-left: 10px;
  }

}