#transitions-panel {
  .item {
    background: transparent;
    border-color: transparent;
    border-radius: @scaled-one-px-value-ie;
    border-radius: @scaled-one-px-value;
    border-width: calc(2*@scaled-one-px-value-ie) ;
    border-width: calc(@scaled-two-px-value);
    &:hover{
      border-color: @border-preview-hover-ie;
      border-color: @border-preview-hover;
      box-shadow: none;
    }
    &.selected
    {
      box-shadow: none;
      border-color: @border-preview-select-ie;
      border-color: @border-preview-select;
    }

    .style{
      background: transparent;
    }

    .btn {

      &:hover {
        background-color: transparent;
      }
      .inner-box-icon
      {
        margin-top: -2px;
      }
      .inner-box-caption
      {
        padding-bottom: 10px;
      }
    }
  }
}