@import '../../../../../vendor/framework7-react/node_modules/framework7/less/mixins.less';
@import '../../../../common/mobile/resources/less/_mixins.less';
@import '../../../../common/mobile/resources/less/colors-table.less';
@import '../../../../common/mobile/resources/less/colors-table-dark.less';
@import './app-rtl.less';

@brandColor: var(--brand-slide);

.device-ios {
    --toolbar-background: var(--background-primary, #fff);
    --toolbar-segment: var(--brand-slide, #BE664F);
    --toolbar-icons: var(--brand-slide, #BE664F);
}
.device-android {
    --toolbar-background: var(--brand-slide, #BE664F);

    .theme-type-dark {
        --toolbar-icons: var(--brand-slide, #BE664F);
    }
}

@toolbar-background: var(--toolbar-background);
@toolbar-segment: var(--toolbar-segment);
@button-active-opacity: var(--active-opacity-slide);

@import '../../../../common/mobile/resources/less/collaboration.less';
@import '../../../../common/mobile/resources/less/common.less';
@import '../../../../common/mobile/resources/less/common-ios.less';
@import '../../../../common/mobile/resources/less/common-material.less';
@import '../../../../common/mobile/resources/less/icons.less';
@import '../../../../common/mobile/resources/less/dataview.less';
@import '../../../../common/mobile/resources/less/about.less';
@import '../../../../common/mobile/resources/less/search.less';
@import '../../../../common/mobile/resources/less/contextmenu.less';
@import '../../../../common/mobile/resources/less/comments.less';
@import './app-material.less';
@import './app-ios.less';
@import './icons-ios.less';
@import './icons-material.less';
@import './icons-common.less';

:root {
    --f7-popover-width: 360px;
}

// Skeleton of document

.doc-placeholder {
    background: var(--canvas-background);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 6000;
    position: absolute;
    padding-top: calc(var(--f7-page-navbar-offset, 0px) + var(--f7-page-subnavbar-offset, 0px));
    overflow: hidden;

    .slide-h {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 90%;
        height: 100%;
        margin: 0 auto;
        padding-top: 30%;
    }

    .slide-v {
        display: flex;
        position: relative;
        flex-direction: column;
        padding-bottom: 56.1333%;
    }

    .slide-container {
        position: absolute;
        height: 100%;
        width: 100%;
        background: var(--canvas-content-background);
        border: 1px solid var(--canvas-page-border);

        -webkit-animation: flickerAnimation 2s infinite ease-in-out;
        -moz-animation: flickerAnimation 2s infinite ease-in-out;
        -o-animation: flickerAnimation 2s infinite ease-in-out;
        animation: flickerAnimation 2s infinite ease-in-out;

        > .line {
            height: 20%;
            margin: 0 120px;
            border-radius: 6px;
            background: #f5f5f5;

            &:nth-child(1) {
                height: 30%;
                margin: 10% 80px 0;
            }

            &.empty {
                background: transparent;
            }
        }
    }
}

.item-content {
    .preview{
        color: @gray;
    }
}

.phone, .tablet {
    .swiper-container{
        position: static;
   }
}

.swiper-pagination-bullet-active{
    background: @black;
}

// Skeleton table

.table-styles .row div:not(:first-child) {
    margin: 2px auto 0px;
}
.table-styles .skeleton-list li, .table-styles .row div {
    padding: 0;
}
.table-styles .row .skeleton-list{
    display: block;
    width: 70px;
    height: 50px;
}
// Theme

.slide-theme {
    &__list {
        margin: auto;
        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: auto;
            padding-left: 18px;
            padding-right: 18px;
            padding-bottom: 14px;
        }
    }
    .item-inner:after {
        display: none;
    }
    .item-theme {
        position: relative;
        margin: 0;
        box-shadow: 0 0 0 1px rgba(0,0,0,.15);
        width: 88px;
        height: 40px;
        margin-top: 14px;
        background-image: ~"url(@{app-image-path}/themes/themes.png)";
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .item-theme.active:before {
        content: '';
        position: absolute;
        width: 22px;
        height: 22px;
        right: -5px;
        bottom: -5px;
        z-index: 1;
        .encoded-svg-background('<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 22 22" fill="#BE664F"><g><circle fill="#fff" cx="11" cy="11" r="11"/><path d="M11,21A10,10,0,1,1,21,11,10,10,0,0,1,11,21h0ZM17.4,7.32L17.06,7a0.48,0.48,0,0,0-.67,0l-7,6.84L6.95,11.24a0.51,0.51,0,0,0-.59.08L6,11.66a0.58,0.58,0,0,0,0,.65l3.19,3.35a0.38,0.38,0,0,0,.39,0L17.4,8a0.48,0.48,0,0,0,0-.67h0Z"/></g></svg>');
    }
}

.bullet-menu-image ul{
    padding: 0;
    
    li {
        display: inherit; 
    }
}