// Icons
.device-ios {
  
  .tab-link-active {
    .icon-svg {
      fill: @brand-text-on-brand;
    }
  }

  .theme-type-dark {
    .list .item-link.size-label {
        color: @brand-slide;
        background-color: @background-menu-divider;
    }
  }
}