
@appStatusbarHeight: 30px;

.navbar-through {
  > .page.editor {
    padding-top: @appToolbarHeight;
    transition: padding-top .2s ease-in;
  }
}

.navbar-through .page {
  & > .searchbar {
    top: @appToolbarHeight + @cellEditorHeight;
  }

  #cell-editing-box.expanded + .searchbar {
    top: @appToolbarHeight + @cellEditorExpandedHeight;
  }
}

.flex-horizontal {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.flex-vertical {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
