
@appStatusbarHeight: 30px;

.navbar-through {
  > .page {
    padding-top: @appToolbarHeight;
  }
}

.flex-horizontal {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.flex-vertical {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
